/*.coord-header {
    padding: 16px 0px;
    background: -moz-linear-gradient(top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.coord-close {
    position: absolute;
    right: 6px;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    color: #777;
}

.coord-content {
    padding: 10px;
}*/
