/* roboto-regular - latin */
@font-face {
    font-family: 'MasterPortalFont';
    src: url('fonts/roboto-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* roboto-italic - latin */
  @font-face {
    font-family: 'MasterPortalFont Italic';
    src: url('fonts/roboto-italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('fonts/roboto-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* roboto-700 - latin */
  @font-face {
    font-family: 'MasterPortalFont Bold';
    src: url('fonts/roboto-700.eot'); /* IE9 Compat Modes */
    src: local('MasterPortalFont Bold'), local('OpenSans-Bold'),
         url('fonts/roboto-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'master_touchtable_big';
    src:  url('fonts/master_touchtable_big.eot?j1vij7');
    src:  url('fonts/master_touchtable_big.eot?j1vij7#iefix') format('embedded-opentype'),
      url('fonts/master_touchtable_big.ttf?j1vij7') format('truetype'),
      url('fonts/master_touchtable_big.woff?j1vij7') format('woff'),
      url('fonts/master_touchtable_big.svg?j1vij7#master_touchtable_big') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'master_touchtable_big' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [class^="icon-"]:before,
  [class^="icon-"]:after,
  [class^="icon-"] p:before,
  [class^="icon-"] p:after {
    display: block;
    position: absolute;
    white-space: normal;
    /* match padding above */
    top: 0.25em;
    left: 0.25em;
    /* undo text hidden */
    text-indent: 0;
    /* inherits size from parent, ems cascade */
    font-family: "master_touchtable_big";
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    /* screenreaders */
    speak: none;
  }
  .icon-lock:before {
    content: "\e929";
    color: #003063;
  }
  .icon-burgermenu_alt:before {
    content: "\e906";
    color: #003063;
  }
  .icon-drag:before {
    content: "\e900";
    color: #808080;
  }
  .icon-info:before {
    content: "\e901";
    color: #808080;
  }
  .icon-turnarticle:before {
    content: "\e902";
    color: #808080;
  }
  .icon-burgermenu2:before {
    content: "\e907";
    color: #f2f2f2;
  }
  .icon-close:before {
    content: "\e908";
    color: #808080;
  }
  .icon-search:before {
    content: "\e909";
    color: rgb(0, 48, 99);
  }
  .icon-search:after {
    content: "\e92a";
    color: rgb(128, 128, 128);
  }
  .icon-resize:before {
    content: "\e90a";
    color: #003063;
  }
  .icon-categories:before {
    content: "\e90b";
    color: rgb(0, 48, 99);
  }
  .icon-categories:after {
    content: "\e90c";
    color: rgb(128, 128, 128);
  }
  .icon-categories2:before {
    content: "\e90d";
    color: rgb(0, 48, 99);
  }
  .icon-categories2:after {
    content: "\e90e";
    color: rgb(242, 242, 242);
  }
  .icon-tools:before {
    content: "\e90f";
    color: rgb(128, 128, 128);
  }
  .icon-tools:after {
    content: "\e910";
    color: rgb(0, 48, 99);
  }
  .icon-tools2:before {
    content: "\e911";
    color: rgb(242, 242, 242);
  }
  .icon-tools2:after {
    content: "\e912";
    color: rgb(0, 48, 99);
  }
  .icon-article:before {
    content: "\e913";
    color: rgb(128, 128, 128);
  }
  .icon-article:after {
    content: "\e914";
    color: rgb(0, 48, 99);
  }
  .icon-article2:before {
    content: "\e915";
    color: rgb(242, 242, 242);
  }
  .icon-article2:after {
    content: "\e916";
    color: rgb(0, 48, 99);
  }
  .icon-checkbox:before {
    content: "\e917";
    color: #003063;
  }
  .icon-checkbox2:before {
    content: "\e918";
    color: #808080;
  }
  .icon-checkbox3:before {
    content: "\e919";
    color: #808080;
  }
  .icon-left:before {
    content: "\e91a";
    color: #003063;
  }
  .icon-left2:before {
    content: "\e91b";
    color: #808080;
  }
  .icon-right:before {
    content: "\e91c";
    color: #003063;
  }
  .icon-right2:before {
    content: "\e91d";
    color: #808080;
  }
  .icon-home:before {
    content: "\e91e";
    color: #003063;
  }
  .icon-fullscreen:before {
    content: "\e91f";
    color: #003063;
  }
  .icon-fullscreen2:before {
    content: "\e920";
    color: #003063;
  }
  .icon-measurearea:before {
    content: "\e921";
    color: #003063;
  }
  .icon-measuredistance:before {
    content: "\e922";
    color: #003063;
  }
  .icon-turnmap:before {
    content: "\e923";
    color: #003063;
  }
