html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.info {
	bottom: 8px;
	opacity: 0.8;
	position: absolute;
	right: 8px;
	z-index: 10;
}

/*#baseLayer {
	position: absolute;
	background-color: silver;
	padding: 3px;
	top: 8px;
	left: 8px;
	z-index: 10;
}*/
#navBar{
    box-shadow: 2px 2px 10px #666666;
}

