.gfiContent {
    font-size: 12px;
    max-height: 400px;
    min-width: 100%;
    overflow-y: auto;
    padding-top: 33px;
}

.popover {
    padding: 0px;
}

/* iPhone4 iPhone5 Lumia7x0*/
@media (min-width:320px){
    .popover {
        min-width:310px;
        max-width:310px;
    }
}
/* iPhone6 Nexus4*/
@media (min-width:375px){
    .popover {
        min-width:370px;
        max-width:370px;
    }
}
/* Nexus5 BlackberryZ10/Z30 GalaxyS4 XperiaZ1*/
@media (min-width:360px){
    .popover {
        min-width:350px;
        max-width:350px;
    }
}
/* Tablet Desktop*/
@media (min-width: 966px) {
    .popover {
        min-width:350px;
        max-width:450px;
    }
}

.pager {
    height: auto;
}

.pager li {
    color: rgb(119, 119, 119);
    position: absolute;
    width: 50%;
    bottom: 0px;
    font-size: 24px;
}

.pager li:hover {
    opacity: 0.7;
    color: #000;
}

.vorzurueckdisabled {
    opacity: 0.2 !important;
}

.vorzurueck {
    width:100%;
    cursor: pointer;
}

.popover-content {
    padding: 0px !important;
}

.table {
    margin-bottom: 4px !important;
}

/* Icon neben gfi-title*/
.gfi-icon {
    float: left;
    padding: 6px;
    font-size: 16px;
}

.gfi-heading {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    height: 34px;
    border-bottom: 1px solid rgb(215, 215, 215);
    position: absolute;
	z-index: 999;
    width: 100%;
}

/* Die Überschrift für das Fenster */
.gfi-title {
    float: left;
    padding: 5px;
    font-size: 16px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    max-width: 66%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: help;
}

/* Das Glyphicon für das Minimieren */
.gfi-toggle {
    float: right;
    padding: 10px 6px 0 10px;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Das Glyphicon für das Schließen*/
.gfi-close {
    font-size: 16px;
    float: right;
    padding: 8px 4px;
    cursor: pointer;
}

/* minimiertes Info-Fenster*/
.popover-min {
    position: fixed;
    box-shadow: 2px 2px 2px 0px #666666;
    color: #fff;
    background-color: #d42132;
    cursor: pointer;
    border-radius: 8px !important;
    display: none;
}

/* gfi-min-icon identisch zu gfi-icon*/
.gfi-min-icon  {
    float: left;
    padding: 6px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .popover-min {
        position: fixed;
        left: 10px;
        top: 60px;
        height: 40px;
        width: 40px;
    }
    .gfi-min-icon  {
        padding: 11px;
    }
}

@media (min-width: 768px) {
    .popover-min {
        position: fixed;
        left: 73px;
        top: 110px;
        height: 30px;
        width: 175px;
    }
    .gfi-min-icon  {
        padding: 6px;
    }
}
