.btn-glyphicon {
    border: 0;
    padding: 0;
    background: transparent;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
