html, body {
    height: 100%;
    font-family: "UniversNextW01-Regular",sans-serif;
}

*:not(.badge) {
    border-radius: 0 !important;
}

#map {
    height: 100%;
    width: 100%;
    background: url("../img/backgroundCanvas.jpeg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.scale-line {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 0 5px 0 0 !important;
    bottom: 0;
    color: #777;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    width: 2.3cm;
    font-size: 10px;
    height: 0.7cm;
}

.scale-line-inner {
    width: 2cm;
    height: 0.4cm;
    margin-left: 0.15cm;
    margin-top: 0.2cm;
    border-width: thin;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.scale-line-inner:hover {
    color: #333;
}

.glyphicon-info-sign, .glyphicon-check, .glyphicon-unchecked, .glyphicon-download, .glyphicon-upload, .glyphicon-chevron-down, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-refresh {
    cursor: pointer;
}

@media (max-width: 768px) {
    .btn-glyphicon {
        font-size: 16px !important;
    }
}

@media (min-width: 768px) {
    .navbar, .connav, .navbar-collapse, #navbarRow {
        max-height: 50px;
    }
}

.navbar {
    min-height: 0; /*wichtig für toggleButton, muss nochmal schöner gemacht werden*/
    background: -moz-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    border-top: 1px solid #e5e5e5;
}

.color {
    color: #cdcdcd;
}
@media (min-height:0px){
    #tree {
        max-height:100px;
    }
    .legendbody{
        max-height:100px;
    }
    .legenddiv{
        max-height:100px;
    }

}
@media (min-height:200px){
    #tree {
        max-height:160px;
    }
    .legendbody{
        max-height:120px;
    }
    .legenddiv{
        max-height:100px;
    }
}
@media (min-height:300px){
    #tree {
        max-height:260px;
    }
    .legendbody{
        max-height:220px;
    }
    .legenddiv{
        max-height:120px;
    }
}
@media (min-height:480px){
    #tree {
        max-height:440px;
    }
    .legendbody{
        max-height:400px;
    }
    .legenddiv{
        max-height:300px;
    }
}
@media (min-height: 768px) {
    #tree {
        max-height:768px;
    }
    .legendbody{
        max-height:700px;
    }
    .legenddiv{
        max-height:540px;
    }
}
#tree{
    border:0;
    overflow:auto;
}
.legendbody{
    overflow:auto;
}
#legend{
    overflow:hidden;
}
.legenddiv{
    overflow-y: auto;
    cursor: pointer;
}
#tree small {
    cursor: pointer;
}
/*bootstrap überschreiben*/
.tree-panel {
    margin-bottom: 0 !important;
    border: 0 !important;
    min-width: 290px;
}

.panel-heading {
    background-color: #ffffff !important;
    padding-left: 10px !important;
}

.dropdown-menu {
    padding:  0 !important;
    min-width: 340px !important;
}

.nav > li {
    border-left: 1px solid white;
    border-right: 1px solid #e5e5e5;
}

.nav > li:hover {
    background-color: white;
}
/*
.list-group-item {
    padding-top:  6px !important;
    padding-bottom:  6px !important;
}
*/
.list-group {
    margin-bottom: 0px !important;
}

.list-group-item:last-child {
    border-bottom: 1px solid #ddd !important;
}

.form-group:last-child {
    margin-bottom: 0px;
}

#measurePopup {
    position: absolute;
    top: 70px;
}

/******* Ajax Loader *******/
#loader
{
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

#loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

#coordPopup {
    padding: 10px;
}
#poiPanel{
    visibility: hidden;
}

.treeFilterError {
    font-size: 10px;
    color: #a94442;
/*    display: none;*/
}

.mouseHover {
    font-size: 12px;
    background-color: rgba(150, 150, 150, 1);
    color: #fff;
    font-weight: bold;
}
.cluster{
    font-size:25px;
    border-radius:30px!important;
    float:left;
    margin:10px;
}
