html, body {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    background: url("../img/textured_paper.jpeg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/*#popup {
    position: absolute;
    background-color: #ffffff;
}*/