html, body {
    height: 100%;
    width: 100%;
}

#cursorGlyph {
    position: absolute;
    z-index: 1000;
    cursor: none;
}

.font-bold {
    font-family: 'MasterPortalFont Bold','Arial Narrow',Arial,sans-serif;
}
.font-arial {
    font-family: Arial,sans-serif;
}

label {
    font-weight: normal;
}

#map {
    position: relative;
}

.glyphicon-check, .glyphicon-unchecked, .glyphicon-download, .glyphicon-upload, .glyphicon-chevron-down, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-refresh, .glyphicon-folder-close, .glyphicon-folder-open, .glyphicon-question-sign {
    cursor: pointer;
}

@media (max-width: 767px) {
    .btn-glyphicon, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-info-sign, .glyphicon-check, .glyphicon-unchecked, .glyphicon-envelope, .glyphicon-book {
        font-size: 18px !important;
    }
    html, body {
        font-size: 16px;
    }
    #portalTitle {
        display:none;
    }
}

@media (min-height:200px) {
    #poibody {
        max-height:120px;
    }
}

@media (min-height:250px) {
    #poibody {
        max-height:200px;
    }
}

@media (min-height:300px) {
    #poibody {
        max-height:220px;
    }
}

@media (min-height:480px) {
    #poibody {
        max-height:400px;
    }
}

@media (min-height: 768px) {
    #poibody {
        max-height:700px;
    }
}

#poibody {
    overflow:auto;
}

/*bootstrap überschreiben*/
.list-group {
    margin-bottom: 0px !important;
}

.form-group:last-child {
    margin-bottom: 0px;
}

.cluster {
    font-size:25px;
    border-radius:30px!important;
    float:left;
    margin:10px;
}

.btn-lgv-grey {
    background-color:#E3E3E3;
    color: #000000;
}

/*******Loader *******/
.centered {
    position: absolute;
    width: 300px;
    height: 130px;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -150px;
    background: #FFFFFF;
    opacity: 0.75;
}

#logo-txt-box {
    position: relative;
}

#portal-text {
    position: relative;
    text-align: center;
    top: 6px;
    font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
    font-size: 28px;
}
.logo-right-bottom {
    position: fixed;
    right: 60px;
    bottom: 32px;
    z-index : -1;
}
@media (max-width: 830px) {
    .logo-right-bottom {
        position: fixed;
        right: 60px;
        bottom: 25px;
        text-align: left;
        left: 50%;
        margin-left: -50px;
        z-index : -1;
    }
}

#portal-logo {
    position: relative;
    top: 5px;
    left: 98px;
}
#portal-logo-text {
    font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
    position: relative;
    text-align: center;
    top: 8px;
    font-size: 34px;
}
/* loading-spinner */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35px;
    margin-left: -30px;
    content: "";
    width: 70px;
    height: 70px;
    border: 10px solid #dddddd;
    border-top-color: #b3bbc1;
    border-radius: 50%;
    animation: spin 0.8s 0.1s ease-in-out infinite both;
}
@keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

