.panel-master {
    position: fixed;
    left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 100;
    font-size: 12px;
    display: none;
    max-width: 400px;
}

.panel-master > .panel-heading {
    background: -moz-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 40px;
    padding: 0;
    color: #777;
}

.btn-panel-submit {
    background-color: #e6e6e6;
    border-color: #ccc;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.btn-panel-submit:hover {
    background-color: #d2d2d2;
    border-color: #adadad;
}

.panel-heading {
    border-bottom: 0px;
}

.panel-heading > .glyphicon-chevron-up, .panel-heading > .glyphicon-chevron-down {
    color: #000;
    float: right;
    font-size: 15px;
    opacity: 0.2;
    padding: 10px 2px 10px 20px;
    cursor: pointer;
}

.panel-heading > .glyphicon-chevron-up:hover, .panel-heading > .glyphicon-chevron-down:hover {
    opacity: 0.5;
}
