.treeSelectionForm {
    padding: 4px 0px;
    background-color: rgb(189, 189, 189);
    color: #fff;
    /*font-size: 14px;*/
    border: 1px solid #fff;
    min-width: 368px;
}

.selectionLabel {
    cursor: pointer;
}

.selectionFormButton {
    cursor: pointer;
    font-size: 14px;
    margin-top: 2px;
    padding: 6px;
}
