#tree {
    /*max-height: 350px !important;*/
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}
/***** Node *****/
.node {
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.node-content {
    width: 24em;
}

.node-content > span {
    cursor: pointer;
}

.node-content > span:hover {
    opacity: 0.6;
}

.node-name {
    margin-left: 2em;
    font-size: 12px;
    cursor: pointer;
}

.node-name:hover {
    opacity: 0.6;
}


/***** Node-Layer ******/
.node-layer {
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.node-layer-content > .layer-name {
    margin-left: 4em;
    margin-right: 2em;
    font-size: 12px;
    cursor: pointer;
}

.node-layer-content > .layer-name:hover {
    opacity: 0.6;
}

.node-layer-content > .glyphicon:hover {
    opacity: 0.6;
}

.node-layer-content > .glyphicon-check {
    margin-left: 14px;
}

.node-layer-content > .glyphicon-unchecked {
    margin-left: 14px;
}

.node-layer-content > .glyphicon-info-sign {
    font-size: 16px;
}

/***** Node-Child *****/
.node-child {
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.node-child-content {
    width: 25em;
}

.node-child-content > .glyphicon:hover {
    opacity: 0.6;
}

.node-child-content > .glyphicon-plus-sign, .node-child-content > .glyphicon-minus-sign {
    margin-left: 14px;
}

.node-child-content > .glyphicon-check, .node-child-content > .glyphicon-unchecked {
    padding-left: 12px;
}

.node-child-name {
    margin-left: 6em;
    font-size: 12px;
    cursor: pointer;
}

.node-child-name:hover {
    opacity: 0.6;
}

/***** Node-Child-Layer *****/

.node-child-layer {
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.node-child-layer-content > .layer-name {
    margin-left: 6em;
    margin-right: 2em;
    font-size: 12px;
    cursor: pointer;
}

.node-child-layer-content > .layer-name:hover, .node-child-layer-content > .glyphicon:hover {
    opacity: 0.6;
}

.node-child-layer-content > .glyphicon-check, .node-child-layer-content > .glyphicon-unchecked {
    margin-left: 40px;
}

.node-child-layer-content > .glyphicon-info-sign {
    font-size: 16px;
}

/***** Layer ohne Ordnerstruktur *****/
.layer-content {
    width: 24em;
}

.layer-content > .layer-name {
    margin-right: 2em;
    font-size: 14px;
    cursor: pointer;
}

.layer-content > .layer-name:hover {
    opacity: 0.6;
}

.layer-content > .folder-icons > .btn-glyphicon > .glyphicon:hover {
    opacity: 0.6;
}

.layer-content > .pull-right > .btn-glyphicon > .glyphicon {
    font-size: 16px;
}

.layer-content > .pull-right > .btn-glyphicon > .glyphicon:hover {
    opacity: 0.6;
}

.layer-content > .btn-glyphicon > .glyphicon {
    font-size: 16px;
}

.layer-content > .btn-glyphicon > .glyphicon:hover {
    opacity: 0.6;
}
