#window {
    display: none;
    position: absolute !important;
    margin: 10px;
    margin-top: 60px;
    top: 10px;
}

/* Das Fenster Symbol (Glyphicon) */
.win-icon {
    float: left;
    padding: 6px;
    font-size: 16px;
}

/* Die Überschrift für das Fenster */
.win-title {
    float: left;
    padding: 5px;
    font-size: 16px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.win-body {
    background-color: #fff;
    padding: 15px;
    /*max-width: 420px;*/
    overflow-y: auto;
}

/* Das Glyphicon für das Minimieren */
.win-minimize {
    float: right;
    padding: 10px 6px 0 10px;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Das Glyphicon für das Schließen*/
.win-close {
    font-size: 16px;
    float: right;
    padding: 8px 4px;
    cursor: pointer;
}

/* Style für das maximierte Fenster */
.win-max {
    position: absolute;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    min-width: 300px;
	z-index: 999;
    /*max-width: 420px;*/
}
@media (max-width: 768px) {
    .win-max {
        left: 5px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) {
    .win-max {
        left: 63px;
        margin-top: 13px;
    }
}

.win-max > .win-heading {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    height: 34px;
    cursor: move;
    border-bottom: 1px solid rgb(215, 215, 215);
}

/* Style für das minimierte Fenster */
.win-min {
    position: absolute;
    padding-top: 0;
    left: 63px;
    /*top: 51px;*/
    box-shadow: 2px 2px 2px 0px #666666;
    color: #fff;
    background-color: #d42132;
    cursor: pointer;
    border-radius: 8px !important;
}

.win-min > .win-heading {
    color: #fff;
    background-color: #d42132;
}
