#window {
    font-size: 14px;
    display: none;
}

/* Das Fenster Symbol (Glyphicon) */
.win-icon {
    float: left;
    padding: 6px;
    font-size: 16px;
}

/* Die Überschrift für das Fenster */
.win-title {
    float: left;
    padding: 5px;
}

.win-body {
    background-color: #fff;
    padding: 15px;
}

/* Das Glyphicon für das Minimieren */
.win-minimize {
    float: right;
    padding: 10px 6px 0 10px;
    fontsize: 16px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Das Glyphicon für das Schließen*/
.win-close {
    float: right;
    padding: 8px 4px;
    cursor: pointer;
}

/* Style für das maximierte Fenster */
.win-max {
    position: absolute;
    left: 63px;
    top: 63px;
    box-shadow: 2px 2px 2px 0px #666666;
    min-width: 250px;
}

.win-max > .win-heading {
    background: -moz-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(center top , white 0px, #f3f3f3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    height: 34px;
}

/* Style für das minimierte Fenster */
.win-min {
    position: absolute;
    padding-top: 0;
    left: 63px;
    top: 49px;
    box-shadow: 2px 2px 2px 0px #666666;
    color: #fff;
    background-color: #d42132;
    cursor: pointer;
    border-radius: 0 0 8px 8px !important;
}

.win-min > .win-heading {
    color: #fff;
    background-color: #d42132;
}
