<!DOCTYPE html>
<div class="panel panel-default">
  <div id="toggleBill" class="panel-heading"><h2>Wünschen Sie einen Gebührenbescheid?<small> (Mich kann man klicken)</small></h2></div>
      <div id="billDetails" class="panel-body">
          <blockquote>
              <p>Bitte geben Sie ggf. die Daten des Empfängers des Gebührenbescheides ein. Nach Abschluss des Bezahlvorgangs haben Sie die Möglichkeit, den Gebührenbescheid herunterzuladen.</p>
          </blockquote>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Empfängername:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="rechnungName" type="text" class="form-control" placeholder="Empfängername" maxlength="35" value="<%= rechnungName %>">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Firma:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="rechnungFirma" type="text" class="form-control" placeholder="Firmenname (optional)" maxlength="35" value="<%= rechnungFirma %>">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Abteilung:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="rechnungAbteilung" type="text" class="form-control" placeholder="Abteilung (optional)" maxlength="35" value="<%= rechnungAbteilung %>">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Adresse:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="rechnungAdresse" type="text" class="form-control" placeholder="Straße und Hausnummer" maxlength="35" value="<%= rechnungAdresse %>">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">PLZ / Ort:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="rechnungOrt" type="text" class="form-control" placeholder="PLZ und Ort" maxlength="35" value="<%= rechnungOrt %>">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Land:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="rechnungLand" type="text" class="form-control" placeholder="Land" maxlength="35" value="<%= rechnungLand %>">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">Kundenreferenz:</label>
              <div class="input-group col-xs-12 col-sm-9 col-md-6 col-lg-4">
                  <input id="kundenreferenz" type="text" class="form-control" placeholder="Kundenreferenz (optional)" maxlength="35" value="<%= kundenreferenz %>">
              </div>
          </div>
      </div>
</div>
