.dropdown-container {
    padding: 15px 15px 5px 15px;
}

@media (min-width: 768px) {
    .dropdown-container button {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }
}

.dropdown-container .dropdown-menu {
    right: 0;
    /*left: auto;*/
}
