<select class="selectpicker <%isDropup? print('dropup') : print('')%>" title="<%= displayName %>" data-live-search="<%= liveSearch ? true : false %>" <%isMultiple? print("multiple") : print("")%>>
    <% valueModelsToShow.forEach(function (model) { %>
        <option value="<%= model.get('value') %>"><%= model.get('displayName') %></option>
    <% }); %>
</select>
<% if (typeof infoText !== "undefined") { %>
    <div class="info-icon">
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>
<% } %>
<% if (this.model.get("infoText") !== undefined) { %>
    <div class="info-text"><%= infoText %></div>
<% } %>
