.slider-container {
    padding: 15px 15px 5px 15px;
}

.slider-container .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.slider-container label {
    margin-bottom: 0;
    padding-top: 4px;
    color: #999;
}

.slider-container input.form-control {
    width: 50px;
    height: 24px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.slider-container .slider {
    width: 100%;
    margin-top: 6px;
}

.slider-container .slider-selection {
    background: rgba(60, 60, 60, 0.5);
}

.slider-container .slider-track-high {
    background: rgba(60, 60, 60, 0.2);
}

.slider-container .slider-track-low {
    background: rgba(60, 60, 60, 0.2);
}
