<!DOCTYPE html>
<div class="node-child-layer-content">
    <% if (!_.isNull(metaURL)) { %>
    <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Informationen und Legende"></span>
    <% } %>
    <% if(selected === true) { %>
        <span class="glyphicon glyphicon-check pull-left" title="Layer entfernen"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked pull-left" title="Layer hinzufügen"></span>
    <% } %>
    <div class="layer-name"><%= name %></div>
</div>
