
.multicheckbox-container {
    padding-left: 10px;
    }

@media (max-width: 767px) {
    .multicheckbox-container {
        li {
            a {
                font-size: 14px;
            }
        }
    }
}

.multicheckbox-icon {
    width: 18px;
    margin-bottom: 8px;
    margin-left: 2px;
}
.checkbox-icon-label-container {
    position: relative;
    height: 34px;
}

.checkbox-icon-label-container label {
    position: absolute;
    font-size: 20px;
    padding-left: 4px;
    top: 2px;
}
