
.multicheckbox-container {
    padding-left: 10px;
    color: #808080;
    .checked {
        color: #003063;
    }
        .multicheckbox {
            padding-bottom: 5px;
            .multicheckbox-label {
                padding-left: 35px;
            }
            .icon-checkbox{
                position: absolute;
                left: 0px;
            }
            .icon-checkbox2{
                position: absolute;
                left: 0px;
            }
            :before {
                margin-top: 0px;
            }
        }
    }

@media (max-width: 767px) {
    .multicheckbox-container {
        li {
            a {
                font-size: 14px;
            }
        }
    }

}
