
<% valueModelsToShow.forEach(function (model) { %>
    <div class="multicheckbox <% if (model.get('isSelected')) {print('checked');} %>">
        <span class="icon-checkbox<% if (!model.get('isSelected')) {print('2');} %>"></span>
        <% const iconPath = model.get('iconPath'); %>
        <% if (iconPath && iconPath.indexOf("</svg>") !== -1) { %>
            <span>
                <div><%= iconPath %></div>
            </span>
            <% } else  {%>
            <span>
                <img class="multicheckbox-icon" src="<%= iconPath %>">
            </span>
        <% } %>
    </div>
<% }); %>