.navbar-fixed-top {
    border-bottom-width: 0;
}

.navbar {
    min-height: 0; /*wichtig für toggleButton, muss nochmal schöner gemacht werden*/
    background: -moz-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    /*font-size: 12px;*/
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.176);
}

.navbar-default .navbar-nav > li > a {
    color: rgb(85, 85, 85) !important;
}

.in > .menubarlgv {
    background: rgb(245, 245, 245);
}

.nav > li {
    border-right: 1px solid #e5e5e5;
}

.nav > li:hover {
    background-color: #fff;
}

.dropdown-menu {
    padding:  0;
    margin-left: -2px;
}

.dropdown-menu > li > a {
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.menuitem {
    font-size: 14px;
    letter-spacing: 0.6px;
}

@media (min-width: 768px) {
    a.dropdown-toggle > span.glyphicon {
        font-size: 12px;
    }
    .navbar {
        max-height: 52px; /* alter wert 50px, warum weiß ich nicht mehr*/
    }
}

@media (max-width: 767px) {
    a.dropdown-toggle > span.glyphicon {
        font-size: 16px;
    }
    .menuitem {
        font-size: 16px !important;
        margin-left: 15px !important;
    }
    .dropdown-menu {
        font-size: 18px;
    }
}
