<div class="container-fluid">
    <div id="navbarRow" class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
        <div class="collapse navbar-collapse navbar">
            <ul class="menubarlgv nav navbar-nav">
            <% if (layerTree === true) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Themenbaum öffnen">
                        <span class="glyphicon glyphicon-list hidden-sm"></span>
                        <span class="menuitem">Themen</span>
                    </a>
                        <div class="dropdown-menu dropdown-tree">
                        </div>
                </li>
            <% } %>
            <% if (tools === true && oneTool === false) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Werkzeug auswählen">
                        <span class="glyphicon glyphicon-wrench hidden-sm"></span>
                        <span class="menuitem">Werkzeuge</span>
                    </a>
                    <ul id="tools" class="dropdown-menu">
                    </ul>
                </li>
            <% } %>
            <% if (typeof routing !== "undefined" && routing === true) { %>
                <li>
                    <a href="#" class="menuitem routingModul" title="Routenplaner öffnen">
                        <span class="glyphicon glyphicon-road hidden-sm"></span>
                        <span class="menuitem">Routenplaner</span>
                    </a>
                </li>
            <% } %>
            <% if (typeof featureLister !== "undefined" && featureLister > 0) { %>
                <li>
                    <a href="#" class="menuitem featureLister">
                        <span class="glyphicon glyphicon-menu-hamburger hidden-sm"></span>
                        <span class="menuitem">Liste</span>
                    </a>
                </li>
            <% } %>
            <% if (typeof addWMS !== "undefined" && addWMS === true) { %>
                <li>
                    <a href="#" title="WMS Hinzufügen" class="menuitem addWMS" title="WMS hinzufügen">
                        <span class="glyphicon glyphicon-plus hidden-sm"></span>
                        <span class="menuitem">WMS</span>
                    </a>
                </li>
            <% } %>
            <% if (wfsFeatureFilter === true) { %>
                <li>
                    <a href="#" class="menuitem wfsFeatureFilter" title="Filter öffnen">
                        <span class="glyphicon glyphicon-filter hidden-sm"></span>
                        <span class="menuitem">Filter</span>
                    </a>
                </li>
            <% } %>
            <% if (treeFilter === true) { %>
                <li>
                    <a href="#" class="filterTree" title="Baumfilter öffnen">
                        <span class="glyphicon glyphicon-leaf hidden-sm"></span>
                        <span class="menuitem">Filter</span>
                    </a>
                </li>
            <% } %>
            <% if (legend === true) { %>
                <li>
                    <a href="#" class="legend" title="Legende anzeigen">
                        <span class="glyphicon glyphicon-book hidden-sm"></span>
                        <span class="menuitem">Legende</span>
                    </a>
                </li>
            <% } %>
            <% if (helpButton === true) { %>
                <li>
                    <a href="#" title="Hilfe">
                        <span class="glyphicon glyphicon-question-sign hidden-sm">
                        <span class="menuitem">Hilfe</span>
                    </a>
                </li>
            <% } %>
            <% // two possible configs
              if (contactButton.on === true || contactButton === true) {
                var email = contactButton.email || "LGVGeoPortal-Hilfe@gv.hamburg.de";
               var mailto = encodeURI("mailto:" + email + "?subject=Frage zum Portal: " + document.title + "&body=Zur weiteren Bearbeitung bitten wir Sie die nachstehenden Angaben zu machen. Bei Bedarf fügen Sie bitte noch einen Screenshot hinzu. Vielen Dank! \n \n Name:\t\t\n Telefon:\t\n Anliegen:\t\n\n Systeminformationen: \n Platform: " + platform + "\n CookiesEnabled: " + cookieEnabled + "\n UserAgent: " + userAgent);
               %></%>
                <li>
                    <a href=<%= mailto %> title="E-Mail Kontakt">
                        <span class="glyphicon glyphicon-envelope hidden-sm"></span>
                        <span class="menuitem">Kontakt</span>
                    </a>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
