<ul class="menubarlgv nav navbar-nav">
<% if (layerTree === true) { %>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Themenbaum öffnen">
            <span class="glyphicon glyphicon-list hidden-sm"></span>
            <span class="menuitem">Themen</span>
        </a>
            <div class="dropdown-menu dropdown-tree">
            </div>
    </li>
<% } %>
<% if (tools === true && oneTool === false) { %>
    <li class="dropdown dropdown-tools">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Werkzeug auswählen">
            <span class="glyphicon glyphicon-wrench hidden-sm"></span>
            <span class="menuitem">Werkzeuge</span>
        </a>
    </li>
<% } %>
<% if (typeof routing !== "undefined" && routing === true) { %>
    <li>
        <a href="#" class="menuitem routingModul" title="Routenplaner öffnen">
            <span class="glyphicon glyphicon-road hidden-sm"></span>
            <span class="menuitem">Routenplaner</span>
        </a>
    </li>
<% } %>
<% if (typeof addWMS !== "undefined" && addWMS === true) { %>
    <li>
        <a href="#" title="WMS Hinzufügen" class="menuitem addWMS" title="WMS hinzufügen">
            <span class="glyphicon glyphicon-plus hidden-sm"></span>
            <span class="menuitem">WMS</span>
        </a>
    </li>
<% } %>
<% if (wfsFeatureFilter === true) { %>
    <li>
        <a href="#" class="menuitem wfsFeatureFilter" title="Filter öffnen">
            <span class="glyphicon glyphicon-filter hidden-sm"></span>
            <span class="menuitem">Filter</span>
        </a>
    </li>
<% } %>
<% if (treeFilter === true) { %>
    <li>
        <a href="#" class="filterTree" title="Baumfilter öffnen">
            <span class="glyphicon glyphicon-leaf hidden-sm"></span>
            <span class="menuitem">Filter</span>
        </a>
    </li>
<% } %>
<% if (legend === true) { %>
    <li>
        <a href="#" class="legend" title="Legende anzeigen">
            <span class="glyphicon glyphicon-book hidden-sm"></span>
            <span class="menuitem">Legende</span>
        </a>
    </li>
<% } %>
<% if (helpButton === true) { %>
    <li>
        <a href="#" title="Hilfe">
            <span class="glyphicon glyphicon-question-sign hidden-sm">
            <span class="menuitem">Hilfe</span>
        </a>
    </li>
<% } %>
<% // two possible configs
  if (contactButton.on === true || contactButton === true) { %>
    <li>
        <a href="#" title="E-Mail Kontakt">
            <span class="glyphicon glyphicon-envelope hidden-sm"></span>
            <span class="menuitem">Kontakt</span>
        </a>
    </li>
<% } %>
</ul>
