<div class="container-fluid">
    <div id="navbarRow" class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
        <div class="collapse navbar-collapse">
            <ul class="menubarlgv nav navbar-nav">
            <% if (typeof tree !== "undefined") { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Themenbaum öffnen">
                        <span class="glyphicon <%= tree.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= tree.title %></span>
                    </a>
                        <div class="dropdown-menu dropdown-tree">
                        </div>
                </li>
            <% } %>
            <% if (typeof tools !== "undefined") { %>
                <li class="dropdown dropdown-tools">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Werkzeug auswählen">
                        <span class="glyphicon <%= tools.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= tools.title %></span>
                    </a>
                </li>
            <% } %>
            <% if (typeof routing !== "undefined") { %>
                <li>
                    <a href="#" class="menuitem routingModul" title="Routenplaner öffnen">
                        <span class="glyphicon <%= routing.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= routing.title %></span>
                    </a>
                </li>
            <% } %>
            <% if (typeof addWMS !== "undefined") { %>
                <li>
                    <a href="#" title="WMS Hinzufügen" class="menuitem addWMS" title="WMS hinzufügen">
                        <span class="glyphicon <%= addWMS.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= addWMS.title %></span>
                    </a>
                </li>
            <% } %>
            <% if (typeof wfsFeatureFilter !== "undefined") { %>
                <li>
                    <a href="#" class="menuitem wfsFeatureFilter" title="Filter öffnen">
                        <span class="glyphicon <%= wfsFeatureFilter.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= wfsFeatureFilter.title %></span>
                    </a>
                </li>
            <% } %>
            <% if (typeof treeFilter !== "undefined") { %>
                <li>
                    <a href="#" class="filterTree" title="Baumfilter öffnen">
                        <span class="glyphicon <%= treeFilter.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= treeFilter.title %></span>
                    </a>
                </li>
            <% } %>
            <% if (typeof legend !== "undefined") { %>
                <li>
                    <a href="#" class="legend" title="Legende anzeigen">
                        <span class="glyphicon <%= legend.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= legend.title %></span>
                    </a>
                </li>
            <% } %>
            <% // two possible configs
              if (typeof contact !== "undefined") {
                  var email = contact.email || "LGVGeoPortal-Hilfe@gv.hamburg.de";
                  var mailto = encodeURI("mailto:" + email + "?subject=Frage zum Portal: " + document.title + "&body=Zur weiteren Bearbeitung bitten wir Sie die nachstehenden Angaben zu machen. Bei Bedarf fügen Sie bitte noch einen Screenshot hinzu. Vielen Dank! \n \n Name:\t\t\n Telefon:\t\n Anliegen:\t\n\n Systeminformationen: \n Platform: " + platform + "\n CookiesEnabled: " + cookieEnabled + "\n UserAgent: " + userAgent);
              %>
                <li>
                    <a href="<%= mailto %>" title="E-Mail Kontakt">
                        <span class="glyphicon <%= contact.glyphicon %> hidden-sm"></span>
                        <span class="menuitem"><%= contact.title %></span>
                    </a>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
