.gfi-detached-table {
    border-radius: 12px !important;
    background-color: #F2F2F2;
    max-width: 360px;
    max-height: 260px;
    font-family: "HamburgSans";
    color: #808080;
}

.gfi-detached-table > .gfi-header {
    border-bottom: 1px solid #808080;
}

.gfi-detached-table > .gfi-content {
    max-height: 180px;
    overflow-x: hidden;
}

.gfi-detached-table > .gfi-footer > .pager-left {
    border-bottom-left-radius: 12px !important;
}

.gfi-detached-table > .gfi-footer > .pager-right {
    border-bottom-right-radius: 12px !important;
}
