<!DOCTYPE html>
<div class="layer-info-item pull-right">
    <span class="glyphicon glyphicon-cog rotate"></span>
</div>
<div class="selected-layer-item">
    <span class="glyphicon glyphicon-remove pull-left"></span>
    <div class="pull-left">
        <% if (isVisibleInMap === true) { %>
            <span class="glyphicon glyphicon-check pull-left"></span>
        <% } else { %>
            <span class="glyphicon glyphicon-unchecked pull-left"></span>
        <% } %>
        <% if (isSecured) { %>
            <span class="glyphicon glyphicon-lock"></span>
        <% } %>
        <span class="title"><%= name %></span>
    </div>
</div>
