<!DOCTYPE html>
<div class="item-settings">
  <div class="layer-info-item pull-right">
    <% if (typeof datasets !== "undefined" && datasets !== false) { %>
      <span class="glyphicon glyphicon-info-sign"></span>
    <% } %>
  </div>
  <% if (typeof treeType === "undefined") { %>
  <div class="layer-sort-item pull-right">
    <span class="glyphicon glyphicon-triangle-top"></span>
    <span class="glyphicon glyphicon-triangle-bottom"></span>
  </div>  
  <% } %>
  <% if (styleable === true) { %> 
  <div class="pull-right">
    <span class="glyphicon glyphicon-tint"></span>
  </div>
  <% } %>
  <form class="form-inline pull-left" role="form">
    <div class="form-group">
      <label>Transparenz:</label>
      <select class="form-control input-sm">
       <option value="0" <% if (transparency === 0) print ("SELECTED") %> >0%</option>
       <option value="10" <% if (transparency === 10) print ("SELECTED") %> >10%</option>
       <option value="20" <% if (transparency === 20) print ("SELECTED") %> >20%</option>
       <option value="30" <% if (transparency === 30) print ("SELECTED") %> >30%</option>
       <option value="40" <% if (transparency === 40) print ("SELECTED") %> >40%</option>
       <option value="50" <% if (transparency === 50) print ("SELECTED") %> >50%</option>
       <option value="60" <% if (transparency === 60) print ("SELECTED") %> >60%</option>
       <option value="70" <% if (transparency === 70) print ("SELECTED") %> >70%</option>
       <option value="80" <% if (transparency === 80) print ("SELECTED") %> >80%</option>
       <option value="90" <% if (transparency === 90) print ("SELECTED") %> >90%</option>
     </select>
   </div>
 </form>
 <% if (isRemovable === true) { %>
 <div class="remove-layer pull-right">
  <span class="glyphicon glyphicon-trash"></span>
</div>
<% } %>
</div>
