#table-nav {
    bottom: 30px;
    position: absolute;
    width: 100%;
}

.table-nav {
    border-radius: 12px !important;
}

.table-nav-main {
    background-color: #F2F2F2;
    margin: auto;
    width: 480px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#table-layer {
    position: relative;
    left: -200px;
}

.table-layer {
    background-color: #FFFFFF;
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.table-layer > p {
    font-size: 27.5px;
}

#table-tool {
    position: relative;
    top: -45px;
    left: 324px;
}

.table-tool {
    background-color: #F2F2F2;
    margin: auto;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.table-tool > p {
    font-size: 26px;
}
