#table-nav {
    bottom: 30px;
    position: absolute;
    width: 100%;
}

.table-nav {
    border-radius: 12px !important;
}

.table-nav-main {
    background-color: #F2F2F2;
    margin: auto;
    width: 480px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#table-layer {
    position: relative;
    left: -200px;
}

.table-layer {
    background-color: #FFFFFF;
    margin: auto;
    width: 40px;
    height: 40px;
}

.table-layer > p {
    font-size: 27.5px;
}

#table-tool {
    position: relative;
    top: -45px;
    left: 324px;
}

.table-tool {
    background-color: #F2F2F2;
    margin: auto;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.table-tool > p {
    font-size: 26px;
}

#toggler{
    margin: auto;
    width: 40px;
    height: 40px;
}
.panel {
    background-color: #F2F2F2;
    border-width: 0px;
}
.panel-group {
  position: absolute;
margin-top: -88px;
  width: 440px;
  bottom: 28px;
}

.header-cool {
  background: salmon;
  padding: 0;
  position: relative;
  height: 500px;
}

/**************** Menu ***********************/
.submenu-style {
    padding: 5px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.list-group-item {
    background-color: transparent;
}

/**************** Themenbaum ****************/
ul#tree {
    border: none;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #555;
    padding: 0px 0;
    min-width:  410px;
    overflow: auto;
}

ul#tree .glyphicon {
    cursor: pointer;
    font-size: 15px;
    padding-right: 5px;
    top: 3px;
}

ul#tree .glyphicon-cog {
    font-size: 18px;
    padding: 0;
}

ul#tree .glyphicon-info-sign {
    font-size: 18px;
    padding-right: 6px;
}

.LayerListMaxHeight {
    max-height: calc(100vH - 177px);
}

/* ----------------------Themenbaum light -----------------------------*/
ul#tree.light {
    font-size: 12px;
    color: rgb(85, 85, 85);
    overflow-y:auto;
}

ul#tree.light li {
    /*border-bottom: 1px solid #ddd;*/
    border-left: 0;
    border-right: 0;
    padding: 8px 6px;
    max-width: 500px;
    overflow: auto;
    font-weight: normal;
}

ul#tree.light li span.title {
    vertical-align: sub;
    cursor:pointer;
}

/*Haupt Themenliste */

ul#tree .closed:not(.SelectedLayer ){
    border-bottom: 1px solid #ddd;
}

/*Unterlisten*/
ul#tree ul {
    list-style: none;
    padding: 0 0 0 0px;
    -webkit-padding-start: 0px;
}

ul#tree .catalog_buttons .glyphicon {
    padding: 0px 0;
    cursor: pointer;
}

ul#tree .catalog_buttons .glyphicon-adjust {
    font-size: 14px
}

ul#tree ul .title {
    font-family: UniversNextW01-Regular,"Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
}

ul#tree ul li {
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}
ul#tree .layer-catalog > .header {
    padding: 8px 5px 7px 5px;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

ul#tree .catalog-selection {
    font-size: 11px;
    font-weight: 400;
}

ul#tree .catalog-selection > select {
    height: 20px;
    padding: 0;
    font-size: 11px;
}

ul#tree .themen-folder {
    font-weight: 400;
}

ul#tree .rotate-adjust {
    transform: rotate(180deg);
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}

ul#tree .rotate-adjust-back {
    transform: rotate(0deg);
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}

ul#tree .rotate-pin {
    transform: rotate(270deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}

ul#tree .rotate-pin-back {
    transform: rotate(360deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}
ul#Overlayer .glyphicon-check, ul#Overlayer .glyphicon-check + .title {
    color: rgb(255, 127, 0);
}
ul#tree ul#SelectedLayer .glyphicon-check, ul#tree ul#SelectedLayer .glyphicon-check + .title {
    /*color: rgb(85, 85, 85);*/
}

/*-------------------Selection/Settings----------------------*/
ul#tree ul{
   overflow-y: auto;
   overflow-x: auto;
    max-width:  500px;
}

ul#tree #SelectedLayer li {
    overflow: auto;
    padding: 8px 6px;
}

ul#tree .SelectedLayer .layer-selection-save {
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
}

.list-group-item {
    position: relative;
    /* display: block; */
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    /* border: 1px solid #ddd; */
    border-bottom: 2px solid #ddd;
}

ul#tree .layer-settings {
    clear: both;
    margin-top: 32px;
    margin-left: 21px;
    border-top: 1px dashed #ddd;
    padding-top: 8px;
    font-size: 14px;
    color: ;
}
