@media (min-width: 768px) {
    #languagebar {
        position: absolute;
        right: 5px;
        height: 33px;
        width: 25px;
        margin-top: 8px;
        margin-bottom: 8px;
        select {
            width: 25px;
            height: 33px;
            text-align-last:center;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
}