#table-returnOverview {
    background-color: #F2F2F2;
	width: 140px;
    height: 40px;
    .icon-categories {
        font-size: 27.5px;
        color: red;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#table-returnOverview a {
    font-family: "HamburgSans-Regular", sans-serif;
    font-size: 16px;
    color: #646262;
}
#table-returnOverview:hover {
	background-color: #a9a9a9;
	color: black;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#table-nav-concepts-panel-toggler {
    width: 40px;
    height: 40px;
    .icon-categories {
        font-size: 27.5px;
        color: red;
    }

    #table-nav-concepts-panel-icon {
        font-size: 26px;
        text-decoration: none;
    }

    a:focus {
        outline: 0;
        outline-offset: unset;
    }
}
.table-nav-concepts-panel {
    font-size: 17px;
    background: transparent;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #F2F2F2;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding-left: 6px;
    padding-top: 7px; 
    position: absolute;
    width: 320px;
    display: none;
    bottom: 50px;
    left: -5px;
    div > div.detailview-head {
        display: none;
    }
    div > div.value-views-container{
        display: none;
    }
    div > div.checkbox-container{
        display: none;
    }
    #left-funnel-corner {
        margin-left: 0px;
    }
    #middle-funnel {
        width: 20px;
    }
    li, label {
        cursor: pointer;
        font-family: "HamburgSans";
        font-size: 14px;
        color: #808080;
        line-height: 2em;
        button {
            padding: 0;
        }
    }
    h1 {
        font-family: "HamburgSans-bold";
        color: #003063;
        font-size: 18px;
    }
    h2 {
        font-family: "HamburgSans";
        font-size: 12px;
        color: #808080;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .list-bullet {
        list-style-type: none;
    }

    .concept_list {
        padding-inline-start: 5px;
    }

    .checkStadtmodell {
        padding-inline-start: 5px;
        input {
            margin-right: 10px;
        }
    }
}
.input-title {
    clear: both;
    padding: 22px 0px 0px 0px;
    font-size: 16px;
    color: rgba(255,255,255,.6);
    font-weight: 300;
}
#table-concepts {
    background-color: #F2F2F2;
    width: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
