.ladesaeulen .table {
    overflow: auto;
    border-collapse: collapse;
    background-color: #FFF;
    color: #333;
    width: 100%;
    height: 100%;
}

.ladesaeulen .row:nth-child(even){
    width: 100%;
    height: 100%;
    background: #FFF;
}

.ladesaeulen .nav-pills {
    padding: 6px;
}

.gfi-header {
    background: #FFF;
    margin-bottom: 8x;
}

.text-align-center {
    text-align: center;
}

.ladesaeulen .barladesaeulenBelegt-graph{
    fill: #DC0000;
}

.ladesaeulen .barladesaeulenBelegt-graph:hover {
  fill: #999999;
}

.ladesaeulen .barladesaeulenVerfuegbar-graph{
    fill: #00DC00;
}

.ladesaeulen .barladesaeulenVerfuegbar-graph:hover {
  fill: #999999;
}

.ladesaeulen .barladesaeulenAusserBetrieb-graph{
    fill: #AFAFAF;
}

.ladesaeulen .barladesaeulenAusserBetrieb-graph:hover {
  fill: #FF9933;
}

.ladesaeulen .noData {
  font-size: 14px;
  text-align: center;
  text-anchor: middle;
}

.ladesaeulen .busy {
  cursor: wait;
}

.gfi-content.busy {
  cursor: wait;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
