<!DOCTYPE html>
<div class= "text-align-center ladesaeulenHeader">
    <% _.each(headTitleObject, function (value, key) { %>
        <strong><%=key%>: <%=value%></strong>
        <br>
    <% }); %>
</div>
<ul class="nav nav-pills" >
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#tabelle">Daten</a></li>
    <li value= "indikatoren" class="tab-toggle"><a data-toggle="tab" href="#indikatoren">Indikatoren</a></li>
    <li value= "diagrammVerfuegbar" class="tab-toggle"><a data-toggle="tab" href="#diagrammVerfuegbar">Verfügbarkeit</a></li>
    <li value= "diagrammBelegt" class="tab-toggle"><a data-toggle="tab" href="#diagrammBelegt">Auslastung</a></li>
    <li value= "diagrammAusserBetrieb" class="tab-toggle"><a data-toggle="tab" href="#diagrammAusserBetrieb">Außer Betrieb</a></li>
</ul>
<div class="tab-content">
<div id= "daten" class="tab-pane fade in active">
    <table class="table">
         <thead>
            <tr class="row">
                <th>Eigenschaften</th>
                <% _.each(tableheadArray, function (element) { %>
                    <th><%=element%></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% _.each(gfiProperties, function (value, key) { %>
                <tr class="row">
                    <th><%=key%></th>
                    <% _.each(value, function (val) { %>
                        <td><%=val%></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="tabIndikator-content">
    <div id= "indikatoren" class="tabIndikator-pane fade"></div>
</div>
<div id= "diagrammVerfuegbar" class="tabVerfuegbar-pane fade">
    <button id= "left" value="left" type="button" class="leftButton kat verfuegbarButton" title="Vorheriger Wochentag" hidden="hidden"></button>
    <div id="d3-div" class="ladesaeulenVerfuegbar-graph"></div>
    <button id= "right" value="right" type="button" class="rightButton kat verfuegbarButton" title="Nächster Wochentag" hidden="hidden"></button>
</div>
<div id= "diagrammBelegt" class="tabBesetzt-pane fade">
    <button id= "left" value="left" type="button" class="leftButton kat belegtButton" title="Vorheriger Wochentag" hidden="hidden"></button>
    <div id="d3-div" class="ladesaeulenBelegt-graph"></div>
    <button id= "right" value="right" type="button" class="rightButton kat belegtButton" title="Nächster Wochentag" hidden="hidden"></button>
</div>
<div id= "diagrammAusserBetrieb" class="tabBesetzt-pane fade">
    <button id= "left" value="left" type="button" class="leftButton kat ausserBetriebButton" title="Vorheriger Wochentag" hidden="hidden"></button>
    <div id="d3-div" class="ladesaeulenAusserBetrieb-graph"></div>
    <button id= "right" value="right" type="button" class="rightButton kat ausserBetriebButton" title="Nächster Wochentag" hidden="hidden"></button>
</div>
