<!DOCTYPE html>
<div class= "text-align-center ladesaeulenHeader">
    <% _.each(headTitleObject, function (value, key) { %>
        <strong><%=key%>: <%=value%></strong>
        <br>
    <% }); %>
</div>
<ul class="nav nav-pills">
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#tabelle">Daten</a></li>
    <li value= "diagrammVerfuegbar" class="tab-toggle"><a data-toggle="tab" href="#diagrammVerfuegbar">Verfügbarkeit</a></li>
    <li value= "diagrammBelegt" class="tab-toggle"><a data-toggle="tab" href="#diagrammBelegt">Auslastung</a></li>
</ul>
<div class="tab-content">
<div id= "daten" class="tab-pane fade in active">
    <table class="table">
         <thead>
            <tr class="row">
                <th>Eigenschaften</th>
                <% _.each(tableheadArray, function (element) { %>
                    <th><%=element%></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% _.each(gfiProperties, function (value, key) { %>
                <tr class="row">
                    <th><%=key%></th>
                    <% _.each(value, function (val) { %>
                        <td><%=val%></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div id= "diagrammVerfuegbar" class="tabVerfuegbar-pane fade">
    <div id="d3-div" class="ladesaeulenVerfuegbar-graph">
        <div class="ladesaeulen-graph-tooltip-div"></div>
    </div>
</div>
<div id= "diagrammBelegt" class="tabBesetzt-pane fade">
    <div id="d3-div" class="ladesaeulenBelegt-graph">
        <div class="ladesaeulen-graph-tooltip-div"></div>
    </div>
</div>
