button {
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Entferne Button-Style in Navbar für active Button*/
.navi button.active {
    cursor: not-allowed;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.navi button.active:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
/*Default p size in IDA*/
p {
    font-size: 14px;
}
body {
    padding: 1px 20px;
}

.logo {
    height: 50px;
}

.loading {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 10%;
}

#ladebalken {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

.noMargin {
    margin: 0px;
}
td {
    font-size: 13px;
    text-align: left;
    width: 50%;
}
/*INFO*/
.contactInput {
    max-width: 400px;
    overflow-x: auto;
    overflow-y: auto;
}

.contactHide {
    display: none;
}

.contactResizeNone {
    resize: none;
}

.contactInputGroup {
    min-width: 65px;
}

.margin-top-15 {
    margin-top: 15px;
}

.btn-info {
    border: 1px solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-group {
    margin-bottom: 5px;
}
#produktliste .btn-group-justified > .btn-group:nth-of-type(2) {
  width: .25%;
}
