<!DOCTYPE html>
<tbody>
<tr>
    <th colspan="2">
        <strong>Untersuchungsergebnisse: </strong>
    </th>
</tr>
<tr>
    <td>
        <strong>Entnahmedatum: </strong>
    </td>
    <td>
        <%=gfiContent.allgemContent["Entnahmedatum"] %>
    </td>
</tr>
<tr>
    <td>
        <strong>Versorgungsgebiet: </strong>
    </td>
    <td class="trinkwasserParams">
        <%=gfiContent.allgemContent.Versorgungsgebiet %>
    </td>
</tr>
<tr>
    <td>
        <strong>Bezirk: </strong>
    </td>
    <td>
        <%=gfiContent.allgemContent.Bezirk %>
    </td>
</tr>
<tr>
    <td>
        <strong>Stadtteil: </strong>
    </td>
    <td>
        <%=gfiContent.allgemContent.Stadtteil %>
    </td>
</tr>
<% if(Object.keys(gfiContent.mikrobioContent).length !== 0){ %>

    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Mikrobiologische Parameter: </strong>
        </td>
    </tr>
<%}
Object.entries(gfiContent.mikrobioContent).forEach(function(element) {
    const value = element[1],
        key = element[0];

        if (typeof key !== "string" || typeof value !== "string") return;
    %>
<tr colspan="2">
    <td>
        <strong><%= key + ''%></strong>
    </td>
    <td>
            <%= value %>
    </td>
</tr>
<% }); %>
<% if(Object.keys(gfiContent.chemContent).length !== 0){ %>
<tr>
    <td colspan="2"></td>
</tr>
<tr>
    <td colspan="2">
        <strong>Chemische Parameter: </strong>
    </td>
</tr>
<%}
Object.entries(gfiContent.chemContent).forEach(function(content) {
        const value = content[1],
            key = content[0];

        if (typeof key !== "string" || typeof value !== "string") return;
    %>
<tr colspan="2">
    <td>
        <strong><%= key + ''%></strong>
    </td>
    <td>
            <%= value %>
    </td>
</tr>
<% }); %>
</tbody>
