<!DOCTYPE html>
<select class="form-control input-sm interaction">
    <% _.each(interactions, function (interaction) { %>
        <option value="<%= interaction.name %>" <% if (selectedInteraction === interaction.name) { print ("SELECTED")} %>><%= interaction.text %></option>
    <% }); %>
</select>
<hr>
<form class="form-horizontal" role="form">
</form>
<hr>
<button type="button" class="btn btn-panel-submit delete">
    <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Alle Zeichnungen löschen"></span>
    <span>Alles löschen</span>
</button>
<button type="button" class="btn btn-panel-submit download">
    <span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Geometrien herunterladen"></span>
    <span>Geometrien herunterladen</span>
</button>
