@color_1: #808080;
@color_2: #003063;
@font_family_1: "HamburgSans",sans-serif;
@font_family_2: "HamburgSans-bold",sans-serif;

.dipas-gfi-content {
    margin: 12px;
    font-family: @font_family_1;
}
.dipas-gfi-thema {
    font-family: @font_family_1;
    font-size: 14px;
    color: @color_1;
    text-transform: uppercase;
}
.dipas-gfi-name {
    font-family: @font_family_2;
    font-size: 18px;
    color: @color_2;
    padding-bottom: 16px;
}
.dipas-gfi-description {
    font-family: @font_family_1;
    font-size: 14px;
    color: @color_1;
}

.dipas-gfi-icon img{
    width: 30px;
    float: left;
    margin: 0px 10px 10px 0px;
}

div.gfi-detached-table > .gfi-content::-webkit-scrollbar {
    width: 20px;
}
div.gfi-detached-table > .gfi-content::-webkit-scrollbar-track {
    border: 5px solid transparent;
    border-radius: 12px;
    background-clip: content-box;
    background-color: #d3d3d3;
}

div.gfi-detached-table > .gfi-content::-webkit-scrollbar-thumb {
    background-color: #003063;
    border: 6px solid transparent;
    border-radius: 12px;
    background-clip: content-box;
}
