<!DOCTYPE html>
<div class = "dipas-gfi-content">
    <% if (Object.keys(gfiAttributesDipas).indexOf("Thema") > -1) { %>
        <div class="dipas-gfi-icon"><img src="<%= iconPath %>"></div>
        <div class = "dipas-gfi-thema"><%= gfiAttributesDipas.Thema %></div>
    <% } %>

    <% if (Object.keys(gfiAttributesDipas).indexOf("name") > -1) { %>
        <% if (uiStyle !== "TABLE" && Object.keys(gfiAttributesDipas).indexOf("link") > -1) { %>
            <div class = "dipas-gfi-name"><a href="<%= gfiAttributesDipas.link %>" target="_top"><%= gfiAttributesDipas.name %></a></div>
        <% } else { %>
            <div class = "dipas-gfi-name"><%= gfiAttributesDipas.name %></div>
        <% } %>
    <% } %>

    <% if (Object.keys(gfiAttributesDipas).indexOf("description") > -1) { %>
        <div class = "dipas-gfi-description"><%= gfiAttributesDipas.description %></div>
    <% } %>

    <% if (uiStyle !== "TABLE" && Object.keys(gfiAttributesDipas).indexOf("link") > -1) { %>
        <a class="dipas-gfi-more" href="<%= gfiAttributesDipas.link %>" target="_top">mehr</a>
    <% } %>
</div>
