
@media (min-width: 768px) {

    a.dropdown-toggle > span.glyphicon {
        font-size: 12px;
    }
    .navbar {
        max-height: 52px; /* alter wert 50px, warum weiß ich nicht mehr*/
    }
}

@media (max-width: 767px) {
    a.dropdown-toggle > span.glyphicon {
        font-size: 16px;
    }
    .menuitem {
        font-size: 16px !important;
        margin-left: 15px !important;
    }
    .dropdown-menu {
        font-size: 18px;
    }
}

/*------------------------Menubar--------------------------------------*/
.navbar {
    min-height: 0; /*wichtig für toggleButton, muss nochmal schöner gemacht werden*/
    background: -moz-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    /*font-size: 12px;*/
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.176);
}
#root > .dropdown {
    color: #555;
    font-size: 14px;
    letter-spacing: 0.6px;
    font-weight: 600;
}
#root .layer-item {
    font-weight: 400;
}
#root .dropdown {
    border-right: 1px solid #e5e5e5;
}

/* -----------------------Themenbaum-----------------------------------*/

#Themen {
   font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
   padding: 0px 0;
}

#Themen ul {
    list-style: none;
    max-height: 70vh;
    padding: 0 0 0 0px;
    -webkit-padding-start: 0px;
}



#Themen .title {
    font-family: UniversNextW01-Regular,"Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}

ul#Themen ul  .glyphicon {
    top: 2px;
}
ul#Themen {
    border: none;
}
ul#Themen .closed:not(.SelectedLayer ){
    border-bottom: 1px solid #ddd;
    min-width:  380px;
}

#Themen ul li {
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;
}
#Themen .layer-catalog > .header {
    padding: 8px;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#Themen #SelectedLayer li {
    overflow: auto;
    padding: 8px 15px 8px 2px;
}
#Themen #SelectedLayer .glyphicon {
    font-size: 15px;
    padding: 0 5px;
}
#Themen .themen-folder {
    font-weight: 400;
}

