<!DOCTYPE html>
<div class="panel panel-default no-margin">
    <div class="bg-primary no-margin container-fluid">
        <h5 class="text-center"><strong>Ziele ab <em><%= standort %></em></strong></h5>
    </div>
    <table id="reisezeitentable" class="table table-condensed gfi-table-hover-link" style="margin-bottom:0px;">
        <tbody>
            <% _.each(ziele, function (ziel) { %>
                <tr class="showroute" colspan="2" title="Detaillierte Route anzeigen." id="<%= ziel.routenid %>">
                    <td style="vertical-align:middle; width:100%;">
                        <strong><%= ziel.zielort %></strong>
                    </td>
                    <td style="float:right; width: 90px;">
                        <span title="<%= ziel.anzeige %>" class="label label-info"><%= ziel.anzeige %></span>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
