/* ----------------------Themenbaum light -----------------------------*/
ul#Themen.light {
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(229, 229, 229);
}
ul#Themen.light .glyphicon {
    cursor:pointer;
}

ul#Themen.light li {
    border-bottom: 1px solid #ddd;
    padding: 8px 6px;
    max-width: 500px;
    min-width: 380px;
    overflow: auto;
    font-weight: normal;
}

ul#Themen.light li span.title {
    vertical-align: sub;
    cursor:pointer;
}

ul#Themen.light .layer-settings .glyphicon {
    font-size: 15px;
    padding: 0 0px;
    cursor:pointer;
}


ul#Themen.light .layer-settings .arrows, #Themen #SelectedLayer .layer-settings .transparency, #Themen #SelectedLayer .layer-settings .layer-info-item {
    padding: 0px 5px;
}

ul#Themen.light .layer-settings {
    font-size: 12px;
}
ul#Themen.light .layer-settings .text {
    position: relative;
    top: -1px;
}
ul#Themen.light .layer-settings .layer-name{
    position: relative;
    top: 1px;
}
ul#Themen.light .layer-settings .transparency .badge {
    top: -2px;
    position: relative;
}
ul#Themen.light .layer-settings .transparency .glyphicon {
    padding-left: 0px;
}
/* -----------------------Themenbaum-----------------------------------*/
/*Haupt Themenliste */
ul#Themen {
   border: none;
   font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
   padding: 0px 0;

    min-width:  380px;
}
ul#Themen .glyphicon {
    font-size: 15px;
    padding: 0 5px;
    top: 3px;
}

ul#Themen .closed:not(.SelectedLayer ){
    border-bottom: 1px solid #ddd;
}

/*Unterlisten*/
ul#Themen ul {
    list-style: none;
    padding: 0 0 0 0px;
    -webkit-padding-start: 0px;
}

ul#Themen .catalog_buttons .glyphicon {
    padding: 0px 0;
    cursor: pointer;
}

ul#Themen ul .title {
    font-family: UniversNextW01-Regular,"Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}

ul#Themen ul li {
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}
ul#Themen .layer-catalog > .header {
    padding: 8px 5px 7px 5px;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

ul#Themen .themen-folder {
    font-weight: 400;
}

ul#Themen .rotate-adjust {
    transform: rotate(180deg);
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}

ul#Themen .rotate-adjust-back {
    transform: rotate(0deg);
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}

ul#Themen .rotate-pin {
    transform: rotate(270deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}

ul#Themen .rotate-pin-back {
    transform: rotate(360deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}
ul#Themen ul .glyphicon-check, ul#Themen ul .glyphicon-check + .title {
    color: rgb(255, 127, 0);
}
ul#Themen ul#SelectedLayer .glyphicon-check, ul#Themen ul#SelectedLayer .glyphicon-check + .title {
    color: rgb(85, 85, 85);
}
/*-------------------Selection/Settings----------------------*/
ul#Themen ul{
   overflow-y: auto;
   overflow-x: auto;
    max-width:  500px;
}

ul#Themen .glyphicon {
    cursor: pointer;
}

ul#Themen #SelectedLayer li {
    overflow: auto;
    padding: 5px 4px 7px 2px;
}
ul#Themen #SelectedLayer .glyphicon {
    padding-left: 6px
}
ul#Themen #SelectedLayer .layer-settings .glyphicon {
    font-size: 15px;
    padding: 0 0px;
}
ul#Themen #SelectedLayer .layer-settings .arrows, #Themen #SelectedLayer .layer-settings .transparency, #Themen #SelectedLayer .layer-settings .layer-info-item {
    padding: 0px 5px;
}

ul#Themen #SelectedLayer .layer-settings {
    font-size: 12px;
}
ul#Themen #SelectedLayer .layer-settings .text {
    position: relative;
    top: -1px;
}
ul#Themen #SelectedLayer .layer-settings .layer-name{
    position: relative;
    top: 1px;
}
ul#Themen #SelectedLayer .layer-settings .transparency .badge {
    top: -2px;
    position: relative;
}
ul#Themen #SelectedLayer .layer-settings .transparency .glyphicon {
    padding-left: 0px;
}
ul#Themen .SelectedLayer .layer-selection-save {
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
}
