@charset "utf-8";

@import "catalogBaseLayer/style.css";
@import "catalogLayer/style.css";
@import "catalogExtern/style.css";
@import "selection/style.css";

.dropdown-tree {
    font-size: 14px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    min-width: 380px;
}

.base-layer-catalog , .layer-catalog, .layer-catalog-extern {
    border-bottom: 1px solid #fff;
}

.base-layer-catalog > .header, .layer-catalog > .header, .layer-selection > .header, .layer-catalog-extern > .header {
    padding: 8px;
    background-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
}

.base-layer-catalog > .header > .control-label, .layer-catalog > .header > .control-label, .layer-selection > .header > .control-label, .layer-catalog-extern > .header > .control-label {
    margin-left: 6px;
    cursor: pointer;
}

.layer-catalog-select {
    padding: 0 !important;
    height: 20px !important;
}

.layer-catalog-select-label {
    font-size: 12px;
}

.rotate-pin {
    transform: rotate(270deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}

.rotate-pin-back {
    transform: rotate(360deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}


.base-layer-catalog > .header > .glyphicon-question-sign {
    margin-right: 8px;
    cursor: pointer;
}

.layer-selection-save {
    font-size: 11px;
    padding: 2px;
    cursor: pointer;
}

.layer-selection-save + .popover {
    min-width: 100%;
}

.layer-selection-save + .popover > .popover-title {
    color: rgb(119, 119, 119);
    font-weight: bold;
    line-height: normal;
    font-family: sans-serif;
}

.layer-selection-save + .popover > .popover-content {
    padding: 8px;
}

.layer-selection-save + .popover > .popover-title > button {
    position: relative;
    top: -3px;
    right: -3px;
}

.layer-catalog-extern {
    display: none;
}
