<!DOCTYPE html>
<% if (features.length === filteredFeatures.length) { %>
    <h4>Hamburg</h4>
<% }
else { %>
    <h4>Bezirk <%= filteredFeatures[0].bezirk %></h4>
<% } %>
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<ul class="nav nav-pills">
    <li class="active"><a data-toggle="tab" href="#bestehendeStandorte">Bestehende Standorte</a></li>
    <li><a data-toggle="tab" href="#geplanteStandorte">Geplante Standorte</a></li>
</ul>
<div class="tab-content">
    <div id="bestehendeStandorte" class="tab-pane fade in active">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Stadtteil</th>
                    <th>Bezeichnung</th>
                    <th>Pl&auml;tze</th>
                    <th>Bemerkungen</th>
                    <th>Anlagen</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(filteredFeatures, function (feature) { %>
                    <% if (feature.featureType.indexOf("geplant") === -1) { %>
                    <tr id="<%= feature.id %>">
                        <td><img src="<%= feature.imgSrc %>"></td>
                        <td><%= feature.stadtteil %></td>
                        <td><%= feature.bezeichnung %></td>
                        <td><%= feature.platzzahl %></td>
                        <td><%= feature.bemerkung %></td>
                        <td>
                        <% _.each(feature.pfad, function (anlage, index) {%>
                            <a href="<%= anlage %>" target="_blank">Anlage <%=index + 1%></a>
                            <% if(feature.pfad.length > index + 1){ print("<br>");} %>
                        <% });%>
                        </td>
                    </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div id="geplanteStandorte" class="tab-pane fade">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Stadtteil</th>
                    <th>Bezeichnung</th>
                    <th>Pl&auml;tze</th>
                    <th>Bemerkungen</th>
                    <th>Plan</th>
                    <th>Anlagen</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(filteredFeatures, function (feature) { %>
                    <% if (feature.featureType.indexOf("geplant") !== -1) { %>
                    <tr id="<%= feature.id %>">
                        <td><img src="<%= feature.imgSrc %>"></td>
                        <td><%= feature.stadtteil %></td>
                        <td><%= feature.bezeichnung %></td>
                        <td><%= feature.platzzahl %></td>
                        <td><%= feature.bemerkung %></td>
                        <td><%= feature.geplante_inbetriebnahme %></td>
                        <td>
                        <% _.each(feature.pfad, function (anlage, index) {%>
                            <a href="<%= anlage %>" target="_blank">Anlage <%=index + 1%></a>
                            <% if(feature.pfad.length > index + 1){ print("<br>");} %>
                        <% });%>
                        </td>
                    </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
