.mouseHover {
    font-size: 12px;
    text-align: left;
    max-width: inherit;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color: #777;
    /*display: block;*/
    white-space: pre;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.mouseHover .title {
    font-size: 13px;
    font-weight: bold;
}
.mouseHover .info {
    font-size: 13px;
    /*font-weight: normal;*/
    font-style: italic;
}

.tooltip.bottom {
    margin-top: 8px;
}

.tooltip.top {
    margin-top: -8px;
}
