<!DOCTYPE html>
<div class="panel panel-default no-margin">
    <div class="panel-body no-margin">
        <div class="row">
            <div class="col-md-6">
                <strong>Strasse:</strong>
            </div>
            <div class="col-md-6">
                <p class="text-right"><%= msStrasse %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Stadtteil:</strong>
            </div>
            <div class="col-md-6">
                <p class="text-right"><%= msStadtteil %></p>
            </div>
        </div>
        <% _.each (msMerkmale, function (value, key) { %>
            <% if (key === 'Wohnlage') { %>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Kategorie:</strong>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right mswohnlage"><%= msWohnlage %></p>
                    </div>
                </div>
            <% } else { %>
                <div class="row">
                    <div class="col-md-6">
                        <strong><%= key %>:</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <select disabled class="form-control input-sm msmerkmal" id="<%=key%>">
                            <option value="-1">bitte wählen</option>
                        </select>
                    </div>
                </div>
            <% } %>
        <% });%>
    </div>
    <div id="msergdiv" style="display: none;">
        <div class="panel-heading">
            <h3 class="panel-title"><%= msTitel %></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>Mittelwert:</strong>
                </div>
                <div class="col-md-6 msmittelwert">
                    -
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Spanne Min.:</strong>
                </div>
                <div class="col-md-6 msspannemin">
                    -
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Spanne Max.:</strong>
                </div>
                <div class="col-md-6 msspannemax">
                    -
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Datensätze:</strong>
                </div>
                <div class="col-md-6 msdatensaetze">
                    > 30
                </div>
            </div>
        </div>
        <div class="panel-footer"><a id= "msreset" class="navbar-link">Neue Berechnung.</a></div>
    </div>
    <div id="msmetadaten">
        <div class="panel-footer">
            <strong>Herausgeber: </strong><%= msHerausgeber %></br></br>
            <strong>Erhebungsstand: </strong><%= msErhebungsstand %></br></br>
            <strong>Hinweis: </strong><%= msHinweis %>
        </div>
    </div>
</div>
