<table class="table table-condensed table-hover no-margin">
<%  _.each(gfiContent, function(value, key) {
        if (_.isString(key) === false || _.isString(value)=== false) return;
    %>
<tr colspan="2">
    <td>
        <strong><%= key + ''%></strong>
    </td>
    <td>
        <% if (value.search('.pdf') !== -1 && value.substr(0, 7) == 'http://') { %>
            <!-- Hack für Flüchtlingsportal -->
            <% _.each(value.split("$"), function (val, index) { %>
                <a href="<%= val %>" target="_blank">Anhang <%= index + 1 %></a><br>
            <% }); %>
        <% } else if (value.search('.html') !== -1 || value.substr(0, 7) == 'http://') { %>
            <a href="<%= value %>" target="_blank">Link</a>
        <% } else if (value.substr(0, 4) == '040 ' || value.substr(0, 4) == '040-' || value.substr(0, 3) == '+49' || value.substr(0, 5) == '0800 ' || value.substr(0, 5) == '0800-') { %>
            <a href="tel:<%= value.replace(' ', '').replace('-', '')%>"><%= value %></a>
        <% } else { %>
            <%= value %>
        <% } %>
    </td>
</tr>
<% }); %>
</table>
