<% if (url.search('.html') !== -1) { %>
    <a href="<%= url%>" target="_blank">Link</a>
<% } else if (url.substr(0, 7) == 'http://') { %>
    <% if (url.search(/\.jpg/i) !== -1 || url.search(/\.png/i) !== -1 ) { %>
        <a href="<%= url%>" target="_blank">
            <img id=<%= id %> width="100%" src="<%= url + '?ver=' + zufallszahl %>"
                <% if (gfiImgReloadTime > 0) {print (' title="Automatischer Refresh alle ' + (gfiImgReloadTime/1000).toString() + ' Sekunden."');}%>
            </img>
        </a>
    <% } else { %>
        <a href="<%= url%>" target="_blank">Link</a>
    <% } %>
<% } else { %>
    <%= url %>
<% } %>
