<!DOCTYPE html>
<h3><% isInternetOrDev === true ? print ("Zahlung erfolgreich abgeschlossen.&shy;<small class='text-muted'>Wir danken Ihnen für Ihre Bestellung.</small>") : print ("Auskunft erfolgreich erstellt.&shy;") %>

</h3>
</br>
<p id="downloadText" class="lead text-success">Ihre Auskunft liegt nun zum Download auf unseren Servern bereit. Bitte laden Sie sie jetzt herunter.</p>
<p class="text-warning">Durch Schließen dieses Fensters geht die Downloadmöglichkeit verloren. Die Auskunft kann dann nur <% isInternetOrDev === true ? print ("noch kostenpflichtig ") : print (""); %>neu produziert werden.</p></br>
<p>Sie benötigen für die Anzeige eines PDF den Adobe Acrobat Reader. Sollten Sie diesen noch nicht haben, können Sie ihn <a target="_blank" href="https://get.adobe.com/de/reader">hier</a> kostenfrei herunterladen. </p>
<div style="float:right; margin-top:20px;">
    <input id="downloadIDA" type="button" value="Auskunft herunterladen" class="btn btn-primary"/>
</div>
<div id="downloadBillDiv" style="float:right; margin-top:20px; margin-right:10px; display:none;">
    <input id="downloadBill" type="button" value="Gebührenbescheid herunterladen" class="btn btn-primary"/>
</div>
<div style="float:left; margin-top:20px">
    <input id="refreshbutton" type="button" value="Neue Auskunft" class="btn btn-info" disabled="disabled"/>
</div>
