<!DOCTYPE html>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3"><%= schoolName %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="25%">Adresse:</td>
            <td colspan="2"><%= address.street %> <%= address.houseNumber %><br><%= address.postalCode %> <%= address.city %></td>
        </tr>
        <tr>
            <td colspan="2">Gesamtanzahl der Schüler:</td>
            <td width="25%"><%= numberOfStudents %></td>
        </tr>
        <tr>
            <td colspan="2">Anzahl der Schülerinnen und Schüler<br> in der Primarstufe:</td>
            <td><%= numberOfStudentsPrimary %></td>
        </tr>
        <tr>
            <td colspan="2">Sozialindex der Schüler:</td>
            <td><%= socialIndex %></td>
        </tr>
        <tr>
            <td colspan="2">Anteil der Schülerschaft des angeklickten<br> Gebiets, der diese Schule besucht<br> an der gesamten Schülerschaft des<br> angeklickten Gebiets (<%= schoolLevelTitle %>):</td>
            <td><%= percentageOfStudentsFromDistrict %>%</td>
        </tr>
        <tr>
            <td colspan="2">Anzahl:</td>
            <td><%= numberOfStudentsFromDistrict %></td>
        </tr>
    </tbody>
</table>