.tooltip {
    &.in {
        z-index: 10000;
        max-width: 480px;
        max-height: 350px;
        overflow-y: scroll;
        table {
            background-color: #ffffff;
        }
    }
}

.gfi-schule-wohnort, .tooltip.in {
    max-width: 420px;
    table {
        &.table {
            tbody {
                tr{
                    td {
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.gfi-schule-wohnort {
    .gfi-info {
        padding: 0 10px 10px;
    }
}