<!DOCTYPE html>
<p id="record-button-point" class="record-button <% if (activeButton === 'point') { %> record-active <% } %>">
    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
    <br>
    <span class="record-label">Punkt erfassen</span>
</p>
<p id="record-button-line" class="record-button <% if (activeButton === 'line') { %> record-active <% } %>">
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <br>
    <span class="record-label">Linie erfassen</span>
</p>
<p id="record-button-area" class="record-button <% if (activeButton === 'area') { %> record-active <% } %>">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    <br>
    <span class="record-label">Fläche erfassen</span>
</p>
<p id="record-button-edit" class="record-button <% if (activeButton === 'edit') { %> record-active <% } %>">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <br>
    <span class="record-label">Geometrie bearbeiten</span>
</p>
<p id="record-button-delete" class="record-button <% if (activeButton === 'delete') { %> record-active <% } %>">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <br>
    <span class="record-label">Geometrie löschen</span>
</p>
