<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header legendModal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-book"></span>Legende</h4>
        </div>
        <div id="legendbody" class="modal-body">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
            <%
            _.each(legendParams, function(element, index) {
            %>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="überschriftEins<%=index%>" data-toggle="collapse" href="#collapseEins<%=index%>" aria-expanded="true" aria-controls"collapseEins<%=index%>">
                        <h4 class="panel-title modal-legend-title">
                            <%= element.layername %>
                        </h4>
                    </div>
                    <% _.each(element.legend, function (layerdefinition) { %>
                    <div id="collapseEins<%=index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins<%=index%>">
                        <div class="panel-body panel-legend">
                            <%
                            if (layerdefinition.typ === "WFS" || layerdefinition.typ === "Sensor") {
                            %>
                                <table>
                                <%
                                if (typeof layerdefinition.img === "string") {
                                    if (new RegExp(/(\.pdf)$/i).test(layerdefinition.img) === true) { %>
                                        <a href=<%= layerdefinition.img %> target="_blank">weitere Informationen</a>
                                    <% }
                                    else { %>
                                        <p>
                                            <img src=<%= layerdefinition.img %>>
                                        </p>
                                    <% }
                                }
                                else {
                                    _.each(layerdefinition.img, function (image, index2) {
                                    %>
                                        <tr>
                                            <td class="tdLegend">
                                                <% if (_.isArray(image)){%>
                                                    <div class="imageArray" style="background:url('<%= image[1] %>');  background-size:35px;">
                                                        <img src="<%= image[0] %>">
                                                    </div>
                                                <%} else {%>
                                                    <img src="<%= image %>">
                                                <%}%>
                                            </td>
                                            <td class="tdLegend">
                                                <span><%= layerdefinition.legendname[index2] %></span>
                                            </td>
                                        </tr>
                                    <%
                                    });
                                }
                                    %>
                                </table>
                            <%
                            }
                            else {
                                if (typeof layerdefinition.img === "string") {
                                    if (new RegExp(/(\.pdf)$/i).test(layerdefinition.img) === true) { %>
                                        <a href=<%= layerdefinition.img %> target="_blank">weitere Informationen</a>
                                    <% }
                                    else { %>
                                        <p>
                                            <img src=<%= layerdefinition.img %>>
                                        </p>
                                    <% }
                                }
                                else {
                                %>
                                <% if (layerdefinition.img.length > 1) {
                                    _.each(layerdefinition.img, function (image) { %>
                                        <p>
                                            <img src=<%= image %>>
                                        </p>
                                <%    });
                                }
                                else { %>
                                    <p>
                                        <img src=<%= layerdefinition.img[0] %>>
                                    </p>
                                <% }
                                }
                            }
                            %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            <%
                });
            %>
            </div>
        </div>
    </div>
</div>
