.footer {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    bottom: 0;
    color: #777;
    position: absolute;
    /*text-align: center;*/
    font-size: 10px;
    padding: 4px 10px;
    width: 100%;
}

.footer > .glyphicon-option-vertical {
    padding: 0 8px;
    font-size: 12px;
}
