<!DOCTYPE html>

<% if (dataReceived) { %>
    <div class="heading additional-text">Unter Berücksichtigung der Geheimhaltung wurde folgender Wert berechnet:</div>
    <table class="table">
        <% if (data.einwohner_gesamt > 0) { %>
            <tr><th>Einwohnerzahl gesamt:</th><th><%=data.einwohner_gesamt%></th></tr>
        <% } %>
        <% if (data.quelle_fhh === "ja" && data.quelle_mrh === "ja") { %>
            <tr><th>Einwohnerzahl in Hamburg:</th><th><%=data.einwohner_fhh%></th></tr>
        <% } %>
        <% if (data.quelle_mrh === "ja" && data.quelle_mrh === "ja") { %>
            <tr><th>Einwohnerzahl außerhalb Hamburgs:</th><th><%=data.einwohner_mrh%></th></tr>
        <% } %>
            <tr><th>Größe der abgefragten Fläche:</th><th><%=Math.floor(data.suchflaeche)%> m²</th></tr>
    </table>
    <% if (data.einwohner_fhh > 0) { %>
        <div><a> Quelle FHH</a></div>
    <% } %>
    <% if (data.einwohner_mrh > 0) { %>
        <div><a> Quelle MRH</a></div>
    <% } %>
<% } else { %>
    <% if (requesting) { %>
        <div id='einwohner-loader'><img src='../../img/ajax-loader.gif'></div>
    <% } %>
<%}%>

