<div class="attributions-div">
    <dl>
        <% _.each(modelList, function (model) { %>
            <dt><%= model.get("name") %>:</dt>
            <% if (_.isObject(model.get("layerAttribution")) === true) { %>
                <dd><%= model.get("layerAttribution").text %></d>
            <% }
            else { %>
                <dd><%= model.get("layerAttribution") %></d>
            <% } %>
        <% }); %>
    </dl>
</div>
<div class="attributions-button" title="Layer-Attributions ausblenden">
    <span class="glyphicon glyphicon-forward"></span>
</div>
