<!DOCTYPE html>
<thead>
    <tr>
        <% _.each(colNames, function (name) { %>
            <th class="col-xs-2"><%= name %></th>
        <% }); %>
    </tr>
</thead>
<tbody>
    <% _.each(gfiContent, function (obj) { %>
        <tr>
            <% _.each(obj, function (value) { %>
                <% if (value !== "") { %>
                    <td class="col-xs-2">
                        <% if (value.search(".pdf") !== -1 && value.substr(0, 4) === "http") { %>
                            <!-- Hack für Flüchtlingsportal -->
                            <% _.each(value.split("$"), function (val, index) { %>
                                <a href="<%= val %>" target="_blank">Anhang <%= index + 1 %></a><br>
                            <% }); %>
                        <% } else if (value.search(".html") !== -1 || value.substr(0, 4) === "http") { %>
                            <a href="<%= value %>" target="_blank">Link</a>
                        <% } else if (value.substr(0, 4) === "040 " || value.substr(0, 4) === "040-" || value.substr(0, 3) === "+49" ||
                                value.substr(0, 5) === "0800 " || value.substr(0, 5) === "0800-") { %>
                            <a href="tel:<%= value.replace(" ", "").replace("-", "")%>"><%= value %></a>
                        <% } else { %>
                            <%= value %>
                        <% } %>
                    </td>
                <% } else { %>
                    <td class="col-xs-2">---</td>
                <% } %>
            <% }); %>
        </tr>
    <% }); %>
</tbody>
