.routingWin {
    min-height: 280px;
    overflow: auto;
    max-height: 1280px;
}
.inputGroupR {
    width: 100%;
}
.innerRDiv {
    position: absolute;
    width: 225px;
}
.routinglocator {
    background-color: #fff;
    vertical-align: middle !important;
    top: 0;
}
.routinglocator:hover {
    background-color: #ebebeb;
}
@media (min-height:360px){
    .routingWin {
        max-height:120px;
    }
}
@media (min-height:540px){
    .routingWin {
        max-height:300px;
    }
}
@media (min-height:700px){
    .routingWin {
        max-height:460px;
    }
}
@media (min-height: 820px) {
    .routingWin {
        max-height:580px;
    }
}
@media (min-height: 1000px) {
    .routingWin {
        max-height:750px;
    }
}
@media (min-height: 1100px) {
    .routingWin {
        max-height:950px;
    }
}
#routingoverlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    color: blue;
    border-radius: 5px !important;
    font-family: "UniversNextW01-Regular",sans-serif;
    font-weight: bold;
    padding: 5px;
}
.dropdown-menu-routing {
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 13px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 225px;
    position: absolute;
    z-index: 1001;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    top: 31px !important;
}

.dropdown-menu-routing .glyphicon {
    color: #cdcdcd;
    padding-right: 12px;
    padding-left: 3px;
    font-size: 12px;
}

.dropdown-menu-routing img {
    width: 28px;
    padding-right: 10px;
    margin-bottom: 4px;
}

.dropdown-menu-routing small {
    color: #cdcdcd;
    padding-left: 10px;
}

.dropdown-menu-routing li.type {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dropdown-menu-routing li:hover {
    cursor: pointer;
    background-color: #efefef;
}
