<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="active">
      <span id="address" title="Start- und Ziel eingeben" class="glyphicon glyphicon-road" aria-hidden="true"></span>
    </li>
    <li>
      <span id="options" title="Optionen eingeben" class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    </li>
    <li id="calcLi" class="disabled">
      <span id="calc" title="Route berechnen" class="glyphicon glyphicon-flag" aria-hidden="true"></span>
    </li>
  </ul>
</nav>

<div class="address">
    <h4>Startadresse:</h4>
    <div class="input-group" id="input-group-start" style="width: 100%;" >
        <input type="text" class="form-control adresse" id="startAdresse" placeholder="Von:" aria-describedby="basic-addon1"  value="<%=startAdresse%>" autocomplete="off">
        <div style="position:relative;">
             <ul id="start" class="suggestlist dropdown-menu-search dropdown-menu-right" aria-labelledby="startAdresse">
            </ul>
        </div>
        <span id="startAdressePositionSpan" class="input-group-addon glyphicon glyphicon-map-marker routinglocator startAdressePosition" aria-hidden="true"></span>
    </div>
    <h4>Zieladresse:</h4>
    <div class="input-group" id="input-group-ziel" style="width: 100%;">
        <input type="text" class="form-control adresse" id="zielAdresse" placeholder="Nach:" aria-describedby="basic-addon1" value="<%=zielAdresse%>" autocomplete="off">
        <div style="position:relative;">
            <ul id="ziel" class="suggestlist dropdown-menu-search dropdown-menu-right" role="menu" aria-labelledby="zielAdresse">
            </ul>
        </div>
    </div>
</div>

<div class="options" style="display: none;">
    <h4>Startzeitpunkt vorgeben:</h4>
    <div class="input-group" style="width: 150px;">
        <span class="input-group-addon">Datum</span>
        <input type="date" id="dayOfWeekButton" class="form-control changedWochentag" aria-describedby="basic-addon2" min="2017-01-01" value="<% var date = new Date(); print (date.toISOString().split('T')[0]) %>">
    </div>
    <br>
    <div class="input-group" style="width: 150px;">
        <span class="input-group-addon">Uhrzeit</span>
        <input type="time" id="timeButton" class="form-control changedUhrzeit" aria-describedby="basic-addon2" min="00:00" max="23:59" value="<% var date = new Date(); print (date.toLocaleTimeString()) %>">
    </div>
</div>

<div class="calc" style="display: none;">
    <h4 id="summary"></h4>
    <ul id="description" class="list-group">
    </ul>
    <h4 id="endeDescription"></h4>
</div>
