<!DOCTYPE html>
<ul class="nav nav-pills">
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#daten">Daten</a></li>
    <li value= "info" class="tab-toggle"><a data-toggle="tab" href="#info">Info</a></li>
</ul>
<div class="tab-content">
    <div class="gfi-info tab-pane fade" id="info">
        <% if (themeType === "Abi") {
            print("<h5><b>Anteil der Schulentlassenen mit Abitur/Fachhochschulreife</b></h5>");
            print("<p>Zur Berechnung dieser Kennzahl wurden sowohl die Abiturientinnen und Abiturienten als auch diejenigen Schülerinnen und Schüler berücksichtigt, die den schulischen Teil der Fachhochschulreife erworben haben. Berücksichtigt wurden nur Schülerinnen und Schüler, die diese Abschlüsse an einer allgemeinbildenden Schule* erworben haben. Die Bezugsgröße für die Schülerinnen und Schüler ist jeweils der Wohnort. Die Anteilsberechnung erfolgt auf Grundlage aller Schulentlassenen allgemeinbildender Schulen im jeweiligen Gebiet.</p>");
        } else {
            print("<h5><b>Anteil der Schulentlassenen ohne ersten allgemeinbildenden Schulabschluss*</b></h5>");
            print("<p>Diese Zahl enthält auch Schülerinnen und Schüler mit sonderpädagogischem Förderbedarf. Ein erheblicher Teil dieser Schülerinnen und Schüler erreicht infolge der jeweiligen Lernbeeinträchtigungen keinen ersten allgemeinbildenden oder höherwertigen Schulabschluss.</p>");
        } %>

        <h5><b>Anzahl verschiedener Abschlüsse je 1000 unter 18-Jährigen</b></h5>
        <p>Die Kennzahl gibt die Anzahl aller Schulentlassenen, sowie die erworbenen Abschlussarten auf 1000 unter 18-Jährigen im Stadtteil/Sozialraum an. Diese Darstellung ermöglicht zusätzlich zu den Abschlussquoten eine bessere Vergleichbarkeit der Schulabschlüsse über die Zeit im betreffenden Stadtteil bzw. Sozialraum.</p>

        <h5><b>Keine oder zu geringe Fallzahlen:</b></h5>
        <p>Die Kennzahlen werden nur in Gebieten ausgewiesen, in denen mindestens 30 Schulentlassene wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>

        <br>
        <p><b>* Allgemeinbildende Schulen</b> vermitteln im Primarbereich die Grundlagen für eine weiterführende Bildung, im Sekundarbereich I und II eine allgemeine Grundbildung bzw. vertiefte Allgemeinbildung. Zu den allgemeinbildenden Schulen der im Bildungsatlas abgebildeten Primarstufe und der Sekundarstufe I gehören in Hamburg Grundschulen, Stadtteilschulen, Gymnasien sowie Sonderschulen.</p>
    </div>
    <div class="gfi-daten tab-pane fade in active" id="daten">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <% if (themeType === "Abi") {
                            print("Anteil der Schulentlassenen mit Abitur/Fachhochschulreife, mittlerem Schulabschluss sowie mit erstem allgemeinbildenden Schulabschluss");
                        } else {
                            print("Anteil der Schulentlassenen ohne ersten allgemeinbildenen Schulabschluss");
                        } %>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="table table-striped">
            <thead>
                <tr colspan="5">
                    <th></th>
                    <th><%= (themeType === "Abi") ? "Abi/FH" : "oSA" %></th>
                    <th>MSA</th>
                    <th>ESA</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr colspan="5">
                    <td><%= (layerType === "stadtteil") ? ST_Name : SR_Name %></td>
                    <td><%= (themeType === "Abi") ? Math.round(C41_Abi) : Math.round(C41_oHS) %> %</td>
                    <td><%= Math.round(C41_RS) %> %</td>
                    <td><%= Math.round(C41_mHS) %> %</td>
                    <td></td>
                </tr>
                <tr colspan="5">
                    <td>Bezirk <%= B_Name %></td>
                    <td><%= (themeType === "Abi") ? Math.round(C41_Abi_B) : Math.round(C41_oHS_B) %> %</td>
                    <td><%= Math.round(C41_RS_B) %> %</td>
                    <td><%= Math.round(C41_mHS_B) %> %</td>
                    <td></td>
                </tr>
                <tr colspan="5">
                    <td>Hamburg</td>
                    <td><%= (themeType === "Abi") ? Math.round(C41_Abi_FHH) : Math.round(C41_oHS_FHH) %> %</td>
                    <td><%= Math.round(C41_RS_FHH) %> %</td>
                    <td><%= Math.round(C41_mHS_FHH) %> %</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><i></i></td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th><%= (themeType === "Abi") ? "Anteil \"Abi/FH\" im Zeitverlauf" : "Anteil \"ohne Abschluss\" im Zeitverlauf" %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="graph_zeitverlauf_<%= themeId %>"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Anzahl verschiedener Abschlüsse je 1000 unter 18-Jährigen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="graph_abschluesse_<%= themeId %>" style="position:relative;">
                            <div class="graph-tooltip-div"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <i>*g.F. geringe Fallzahlen. Die Werte konnten aus datenschutzrechtlichen Gründen nicht ausgewiesen werden oder das Gebit ist unbewohnt.</i>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>