<% if (wfsList.length > 0) { %>
<div class="panel panel-default" style="margin: 0px;">
<% wfsList.forEach(function (wfslayer) { %>
    <div id="<%= wfslayer.id %>" class="panel-heading">
        <p class="buttons pull-right">
            <span id="wfsfeaturefilter_resizemarker" class="glyphicon glyphicon-resize-full" title="Ein- und ausklappen"></span>
        </p>
        <span style="font-size: 14px; "><%=wfslayer.name %></span>
    </div>
<% wfslayer.filterOptions.forEach(function (filter) { if (filter.filterType === 'combo') { %>
    <div class="panel-body <%= wfslayer.id %>_wfs_panel">
        <label for="" class="control-label"><%=filter.filterName%></label>
        <select class="form-control input-sm" id="<%=wfslayer.id %>_<%=filter.fieldName %>">
<% filter.filterString.forEach(function (value) { if (value === '*') { %>
            <option title="keine Filterung der Elemente auf dieses Attribut">*</option>
<% } else { %>
            <option title='nur Elemente mit "<%=value%>" darstellen'><%=value%></option>
<% } }); %>
        </select>
<% } else { %>
        <label for="" class="control-label">Unbekannter Filtertyp.</label>
<% } %>
   </div>
<% }); }); %>
    <div class="panel-footer">
        <button id="filterbutton" title="Nur Elemente mit diesen Filtereinstellungen anzeigen." class="btn btn-lgv-grey" type="button">Filter anwenden</button>
    </div>
</div>
<% } else { %>
<div class="wfsfeaturefilter-body">
    <label class=".text-center h4">Keine Themen sichtbar.</label>
</div>
<% } %>
