<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal"></span>
            <h4 class="modal-title">In meiner Nähe</h4>
        </div>
        <div>
          <ul class="nav nav-pills" role="tablist">
            <%  poiFeatures.forEach(function (feature) { %>
                <li role="presentation" <% if (feature.category === activeCategory) {print ("class='active'");} %>>
                    <a href="#<%= feature.category %>" aria-controls="<%= feature.category %>" role="pill" data-toggle="pill"><% print (feature.category + "m"); %><span class="badge"><%= feature.features.length %></span></a>
                </li>
            <% }); %>
          </ul>
          <div class="tab-content">
            <%  poiFeatures.forEach(function (feature) {
                if (feature.category === activeCategory) { %>
                    <div role="tabpanel" class="tab-pane fade in active" id="<%= feature.category %>">
                <% } else { %>
                    <div role="tabpanel" class="tab-pane fade" id="<%= feature.category %>">
                <% } %>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <% feature.features.forEach(function (feat) { %>
                                <tr id="<%= feat.getId() %>">
                                    <% if (feat.imgPath.indexOf("</svg>") !== -1) { %>
                                    <td>
                                        <div><%= feat.imgPath %></div>
                                    </td>
                                    <% } else if (feat.imgPath.length > 0) { %>
                                    <td>
                                        <img src="<%= feat.imgPath %>">
                                    </td>
                                    <% } %>
                                    <td>
                                        <strong><%= feat.name %></strong >
                                        <p><%= feat.dist2Pos %> Meter</p>
                                    </td>
                                </tr>
                                <% }); %>
                            </table>
                        </div>
                    </div>
            <% }); %>
          </div>
        </div>
    </div>
</div>
