<div id="poiList" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header navbar">

            <span class="glyphicon glyphicon-remove win-close" style="color:#777;font-size:14px;" aria-hidden="true" data-dismiss="modal"></span>
            <span class="win-title" style="color:#777;">In meiner Nähe</span>
        </div>
        <div>
          <ul class="nav nav-pills" role="tablist">
            <%  _.each(poiFeatures, function (feature) {
                    if (feature.category === activeCategory) {
                        print ("<li role='presentation' class='active'><a href='#" + feature.category + "' aria-controls='" + feature.category + "' role='pill' data-toggle='pill'>" + feature.category + "m <span class='badge'>" + feature.features.length + "</span></a></li>");
                    }
                    else {
                        print ("<li role='presentation'><a href='#" + feature.category + "' aria-controls='" + feature.category + "' role='pill' data-toggle='pill'>" + feature.category + "m <span class='badge'>" + feature.features.length + "</span></a></li>");
                    }
                });
            %>
          </ul>
          <div class="tab-content">
            <%  _.each(poiFeatures, function (feature) {
                if (feature.category === activeCategory) { %>
                    <div role="tabpanel" class="tab-pane fade in active" id="<%= feature.category %>">
                <% } else { %>
                    <div role="tabpanel" class="tab-pane fade" id="<%= feature.category %>">
                <% } %>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <% _.each (feature.features, function (feat) { %>
                                <tr id="<%= feat.getId() %>">
                                    <td>
                                        <img src="<%= feat.imgPath %>" width="50" height="50">
                                    </td>
                                    <td style="vertical-align:middle;">
                                        <strong><%= feat.name %></strong >
                                        <p><%= feat.dist2Pos %> Meter</p>
                                    </td>
                                </tr>
                                <% }); %>
                            </table>
                        </div>
                    </div>
            <% }); %>
          </div>
        </div>
    </div>
</div>
