.legend-win {
    position: absolute;
    top: 80px;
    left: 30px;
    min-width: 40%;
}

.legend-win > .legend-win-header {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    height: 34px;
    cursor: move;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.legend-win > .legend-win-content {
    background-color: white;
    overflow-y: auto;
}

.legend-win-content > .panel-group {
    padding: 12px;
}

.legend-win-content > .panel-group .panel {
    margin-top: 12px;
}







.legendModal {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    border-bottom: 1px solid rgb(215, 215, 215);
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    padding: 10px;
}

.legendModal > button {
    padding: 4px 0px;
}

.legendModal > h4 > span {
    padding: 0 8px;
}

.panel-heading {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    cursor: pointer;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.tdLegend {
    padding: 3px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.tdLegend > img {
    max-height: 35px;
}

.panel-legend {
    overflow-x: auto;
    max-height: 300px;
    padding: 8px;
}

.panel-legend > p {
    margin: 0;
}
