<!DOCTYPE html>
<div class="legend-win-header">
    <span class="glyphicon glyphicon-book win-icon"></span>
    <span class="win-title">Legende</span>
    <span class="glyphicon glyphicon-remove win-close"></span>
    <span class="glyphicon glyphicon-minus win-minimize"></span>
</div>

<div class="legend-win-content">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
    <%
    _.each(legendParams, function(element, index) {
    %>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="überschriftEins<%=index%>" data-toggle="collapse" href="#collapseEins<%=index%>" aria-expanded="true" aria-controls"collapseEins<%=index%>">
                <h4 class="panel-title modal-legend-title">
                    <%= element.layername %>
                </h4>
            </div>
            <div id="collapseEins<%=index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins<%=index%>">
                <div class="panel-body panel-legend">
                    <%
                    if (element.typ === "WFS") {
                    %>
                        <table>
                        <%
                        _.each(element.img, function (image, index2) {
                        %>
                            <tr>
                               <td class="tdLegend">
                                   <img src="<%= image %>">
                               </td>
                               <td class="tdLegend">
                                   <span><%= element.legendname[index2] %></span>
                               </td>
                           </tr>
                        <%
                        });
                        %>
                        </table>
                    <%
                    }
                    else {
                        if (element.img[0].search(".pdf") !== -1) {
                        %>
                            <a href=<%= element.img %> target="_blank">weitere Informationen</a>
                        <%
                        }
                        else {
                        %>
                        <% if (element.img.length > 1) {
                            _.each(element.img, function (image) { %>
                                <p>
                                    <img src=<%= image %>>
                                </p>
                        <%    });
                        }
                        else { %>
                            <p>
                                <img src=<%= element.img[0] %>>
                            </p>
                        <% }
                        }
                    }
                    %>
                </div>
            </div>
        </div>
    <%
    });
    %>
    </div>
