<!DOCTYPE html>
<% if (isLayerVisible) { %>
<div class="detailview-head">
    <% if (this.model.has("info")) { %>
        <div><%= info %></div>
    <% } %>
    <button class="zoom-btn btn btn-default btn-sm col-xs-12" title="Zoom auf Treffer">
        <span class="glyphicon glyphicon-search"></span>
        <span class="feature-count"><%= featureIds.length %> Treffer</span>
    </button>
</div>
<div class="value-views-container">
    <div class="text">Ihre Auswahl: </div>
    <span class="remove-all value-text">Alle löschen</span>
    <div class="text">Noch keine Filteroption ausgewählt</div>
</div>
<%}%>
