<!DOCTYPE html>
<div class="detailview-head">
    <span class="heading col-sm-12 col-md-7 col-xs-7"><%= name %>-Filter</span>
    <button class="btn btn-default btn-sm col-sm-12 col-md-5 col-xs-5" title="Zoom auf Treffer">
        <span class="glyphicon glyphicon-search"></span>
        <span class="feature-count"><%= featureIds.length %> Treffer</span>
    </button>
</div>
<% if (this.model.has("info")) { %>
    <div class="info-text"><%= info %></div>
<% } %>
<div class="value-views-container">
    <div class="text">Ihre Auswahl: </div>
    <span class="remove-all">Alle löschen</span>
    <div class="text">Noch keine Filteroption ausgewählt</div>
</div>
