@font-family-bold: "UniversNextW04-620CondB", "Arial Narrow", Arial, sans-serif;
@font-size: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@glyphicon-size: 18px;
@default-padding: 6px;
@vertical-align: text-bottom;
@color-altona: #a6cee3;
@color-bergedorf: #1f78b4;
@color-eimsbuettel: #b2df8a;
@color-hamburg-mitte: #33a02c;
@color-hamburg-nord: #fb9a99;
@color-harburg: #e31a1c;
@color-wandsbek: #fdbf6f;
@color-other: #000000;


#cockpit_bauvorhaben {
	.header {
        width: 100%;
        border-bottom: 1px solid rgb(227,227,227);
        padding: 10px;
        margin-bottom: 10px;
        font-size: @font-size;
        .tool-name {
            font-family: @font-family-bold;
            font-size: @font-size-large;
        }
    }
    .row {
        border-bottom: 1px solid rgb(227,227,227);
        margin: 0px;
    }
    .filter {
        padding: 10px 20px 0 20px;
        .bootstrap-select {
            margin-bottom: 20px;
        }
        li > a {
            font-size:  @font-size;
        }
        .bs-actionsbox {
            padding: 8px;
        }
        .checkbox {
            margin-top: 0;
        }
        label {
            font-size: @font-size;
        }
    }
    .legend {
        font: @font-family-bold;
        font-size: @font-size-small;
        padding: 10px 20px 0 20px;
        .legend-altona {
            color: @color-altona;
        }
        .legend-bergedorf {
            color: @color-bergedorf;
        }
        .legend-eimsbuettel {
            color: @color-eimsbuettel;
        }
        .legend-hamburg-mitte {
            color: @color-hamburg-mitte;
        }
        .legend-hamburg-nord {
            color: @color-hamburg-nord;
        }
        .legend-harburg {
            color: @color-harburg;
        }
        .legend-wandsbek {
            color: @color-wandsbek;
        }
        .legend-other {
            color: @color-other;
        }
    }
    .graph-label {
        font-size: @font-size;
    }
    .graph-tooltip-div {
        display: inline-block;
        position: absolute;
        color: black;
        padding: 2px;
        border: 2px solid white;
        text-align: center;
    }
    .graph-line-altona {
        fill: none;
        stroke: @color-altona;
        stroke-width: 1px;
    }
    .graph-line-bergedorf {
        fill: none;
        stroke: @color-bergedorf;
        stroke-width: 1px;
    }
    .graph-line-eimsbuettel {
        fill: none;
        stroke: @color-eimsbuettel;
        stroke-width: 1px;
    }
    .graph-line-hamburg-mitte {
        fill: none;
        stroke: @color-hamburg-mitte;
        stroke-width: 1px;
    }
    .graph-line-hamburg-nord {
        fill: none;
        stroke: @color-hamburg-nord;
        stroke-width: 1px;
    }
    .graph-line-harburg {
        fill: none;
        stroke: @color-harburg;
        stroke-width: 1px;
    }
    .graph-line-wandsbek {
        fill: none;
        stroke: @color-wandsbek;
        stroke-width: 1px;
    }
    .graph-line-other {
        fill: none;
        stroke: @color-other;
        stroke-width: 1px;
    }
    .dot {
        cursor: pointer;
        stroke: none;
        fill: rgba(0, 0, 0, .2);
    }
}
