@font-family-bold: "UniversNextW04-620CondB", "Arial Narrow", Arial, sans-serif;
@font-size: 14px;
@font-size-large: 16px;
@glyphicon-size: 18px;
@default-padding: 6px;
@vertical-align: text-bottom;


#cockpit_bauvorhaben {
	.header {
        width: 100%;
        border-bottom: 1px solid rgb(227,227,227);
        padding: 10px;
        margin-bottom: 10px;
        font-size: @font-size;
        .tool-name {
            font-family: @font-family-bold;
            font-size: @font-size-large;
        }
    }
    .filter {
        padding: 10px 20px 0 20px;
        border-bottom: 1px solid rgb(227,227,227);
        .bootstrap-select {
            margin-bottom: 20px;
        }
        li > a {
            font-size:  @font-size;
        }
        .bs-actionsbox {
            padding: 8px;
        }
        .checkbox {
            margin-top: 0;
        }
        label {
            font-size: @font-size;
        }
    }
}
