@font-family-bold: "UniversNextW04-620CondB", "Arial Narrow", Arial, sans-serif;
@font-size: 14px;
@font-size-large: 16px;
@glyphicon-size: 18px;
@default-padding: 6px;
@vertical-align: text-bottom;


#cockpit_bauvorhaben {
	.header {
        width: 100%;
        border-bottom: 1px solid rgb(227,227,227);
        padding: 10px;
        margin-bottom: 10px;
        font-size: @font-size;
        .tool-name {
            font-family: @font-family-bold;
            font-size: @font-size-large;
        }
    }
    .filter {
        padding: 10px 20px 0 20px;
        border-bottom: 1px solid rgb(227,227,227);
        .bootstrap-select {
            margin-bottom: 20px;
        }
        li > a {
            font-size:  @font-size;
        }
        .bs-actionsbox {
            padding: 8px;
        }
        .checkbox {
            margin-top: 0;
        }
        label {
            font-size: @font-size;
        }
    }
    .graph-label {
        font-size: @font-size;
    }
    .graph {
        position: relative;
        width: 500px;
        height: 250px;
    }
    .graph-tooltip-div {
        display: inline-block;
        position: absolute;
        color: black;
        padding: 2px;
        border: 2px solid white;
        text-align: center;
    }
    .graph-line-altona {
        fill: none;
        stroke: #a6cee3;
        stroke-width: 1px;
    }
    .graph-line-bergedorf {
        fill: none;
        stroke: #1f78b4;
        stroke-width: 1px;
    }
    .graph-line-eimsbuettel {
        fill: none;
        stroke: #b2df8a;
        stroke-width: 1px;
    }
    .graph-line-hamburg-mitte {
        fill: none;
        stroke: #33a02c;
        stroke-width: 1px;
    }
    .graph-line-hamburg-nord {
        fill: none;
        stroke: #fb9a99;
        stroke-width: 1px;
    }
    .graph-line-harburg {
        fill: none;
        stroke: #e31a1c;
        stroke-width: 1px;
    }
    .graph-line-wandsbek {
        fill: none;
        stroke: #fdbf6f;
        stroke-width: 1px;
    }
    .dot {
        cursor: pointer;
        stroke: none;
        fill: rgba(0, 0, 0, 0);
    }
}
