<div class="btn-group header">
    <span class="tool-name"><%= name %></span>
</div>
<div class="filter">
    <select class="selectpicker selectpicker-district" title="nach Bezirken / Hamburg gesamt" multiple>
        <% districts.forEach(function (district) { %>
            <option><%= district %></option>
        <% }); %>
    </select>
    <select class="selectpicker selectpicker-year" title="nach Jahren" multiple>
        <% years.forEach(function (year) { %>
            <option><%= year %></option>
        <% }); %>
    </select>
    <div class="checkbox">
        <label>
            <input type="checkbox" <% if(filterObject.monthMode) { print('checked');} %>> Monatsansicht
        </label>
    </div>
</div>
<div class="graphs">
    <div class="graph graph-baugenehmigungen">
        <label class="graph-label">Anzahl Baugenehmigungen</label>
        <div class="graph-tooltip-div graph-tooltip-div-1"></div>
    </div>
    <div class="graph graph-wohneinheiten">
            <label class="graph-label">Anzahl Wohneinheiten</label>
        <div class="graph-tooltip-div graph-tooltip-div-2"></div>
    </div>
    <div class="graph graph-wohneineinheiten-noch-nicht-im-bau">
            <label class="graph-label">Anzahl Wohneinheiten (noch nicht im Bau)</label>
        <div class="graph-tooltip-div graph-tooltip-div-3"></div>
    </div>
    <div class="graph graph-wohneineinheiten-im-bau">
            <label class="graph-label">Anzahl Wohneinheiten (im Bau)</label>
        <div class="graph-tooltip-div graph-tooltip-div-4"></div>
    </div>
</div>
