<div class="btn-group header">
    <span class="tool-name"><%= name %></span>
</div>
<div class="filter">
    <select class="selectpicker selectpicker-district" title="nach Bezirken / Hamburg gesamt" multiple>
        <% districts.forEach(function (district) { %>
            <option><%= district %></option>
        <% }); %>
    </select>
    <select class="selectpicker selectpicker-year" title="nach Jahren" multiple>
        <% years.forEach(function (year) { %>
            <option><%= year %></option>
        <% }); %>
    </select>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Monatsansicht
        </label>
    </div>
</div>
<div class="graph">

</div>
