<div class="btn-group header">
    <span class="tool-name"><%= name %></span>
</div>
<div class="row">
    <div class="filter col-xs-7">
        <select class="selectpicker selectpicker-district" title="nach Bezirken" multiple>
            <% districts.forEach(function (district) { %>
                <option><%= district %></option>
            <% }); %>
        </select>
        <div class="placeholder-suburb"></div>
        <select class="selectpicker selectpicker-year" title="nach Jahren" multiple>
            <% years.forEach(function (year) { %>
                <option><%= year %></option>
            <% }); %>
        </select>
        <div class="checkbox">
            <label>
                <input class="month" type="checkbox" <% if(filterObject.monthMode) { print('checked');} %>> Monatsansicht
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="flat" type="checkbox" <% if(filterObject.flatMode) { print('checked');} %>> nur Wohnungsbau
            </label>
        </div>
    </div>
    <div class="legend col-xs-5"></div>
</div>
<div class="graphs">
    <div class="graph graph-baugenehmigungen">
        <label class="graph-label">Anzahl Baugenehmigungen</label>
        <div class="graph-tooltip-div graph-tooltip-div-1"></div>
    </div>
    <div class="graph graph-wohneinheiten">
            <label class="graph-label">Anzahl Wohneinheiten</label>
        <div class="graph-tooltip-div graph-tooltip-div-2"></div>
    </div>
    <div class="graph graph-wohneinheiten-noch-nicht-im-bau">
            <label class="graph-label">Anzahl Wohneinheiten (noch nicht im Bau)</label>
        <div class="graph-tooltip-div graph-tooltip-div-3"></div>
    </div>
    <div class="graph graph-wohneinheiten-im-bau">
            <label class="graph-label">Anzahl Wohneinheiten (im Bau)</label>
        <div class="graph-tooltip-div graph-tooltip-div-4"></div>
    </div>
</div>
