<table class="table table-condensed" style="margin-bottom:0px;">
    <tbody>
        <tr colspan="2">
            <td style="vertical-align:middle; width:100%;">
                <strong><%= ueberschrift %></strong>
            </td>
            <td style="float:right; width: 130px;">
                <button id="<%=id%>" style="width: 100%;" title='Route zeigen' value='<%= route %>' type='button' class='btn btn-info btn-sm'>
                    <span style='float:left;' class='' aria-hidden='true'><%= buttontext %></span>
                    <span style='float:right; padding-top:3px; padding-left:10px;' class='glyphicon glyphicon-road' aria-hidden='true'></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
