<!DOCTYPE html>
<form class="form-horizontal" role="form">
    <div class="form-group form-group-sm">
        <label for="titleField" class="col-md-3 col-sm-3 control-label">Titel</label>
        <div class="col-md-9 col-sm-9">
            <input type="text" class="form-control" id="titleField" placeholder="<%= title%>">
        </div>
    </div>
    <% if (layouts.length > 1) { %>
    <div class="form-group form-group-sm">
        <label for="layoutField" class="col-md-3 col-sm-3 control-label">Layout</label>
        <div class="col-md-9 col-sm-9">
            <select class="form-control input-sm" id="layoutField">
                <% layouts.forEach(function(element, index) { %>
                    <% if (element.name == layout.name) { %>
                        <option value=<%= Object.values(element.map) %> SELECTED><%= element.name %></option>
                    <% } else { %>
                        <option value=<%= Object.values(element.map) %>><%= element.name %></option>
                    <% } %>
                <% }); %></%>
            </select>
        </div>
    </div>
    <% } %>
    <div class="form-group form-group-sm">
        <label for="scaleField" class="col-md-3 col-sm-3 control-label">Maßstab</label>
        <div class="col-md-9 col-sm-9">
            <select class="form-control input-sm" id="scaleField">
                <% scales.forEach(function(element, index) { %>
                    <% if (element.value == scale.valueInt) { %>
                        <option value=<%= element.value %> SELECTED><%= element.name %></option>
                    <% } else { %>
                        <option value=<%= element.value %>><%= element.name %></option>
                    <% }%>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12">
            <button type="button" class="btn btn-lgv-grey col-md-12 col-sm-12">Drucken</button>
        </div>
    </div>
</form>
