<!DOCTYPE html>
 <% if (isExpanded === true) { %>
    <div class="header <%= id %>">
        <span class="glyphicon glyphicon-minus-sign"></span>
 <% } else {%>
    <div class="header <%= id %> closed">
        <span class="glyphicon glyphicon-plus-sign"></span>
<% } %>
        <span class="control-label"><%= name %></span>
<% if (id === "Baselayer") { %>
    <span class="catalog_buttons pull-right">
        <% if (true === true) { %>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Themenbaum Hilfe"></span>
        <% } %>
        <span class="glyphicon glyphicon-adjust rotate-adjust-back" data-toggle="tooltip" data-placement="bottom" title="Kartenhintergrund grau/weiß"></span>
        <span class="glyphicon glyphicon-pushpin rotate-pin-back" data-toggle="tooltip" data-placement="bottom" title="Themenbaum fixieren/lösen"></span>
    <span>
<% } %>
    </div>
    <ul id="<%= id %>"></ul>

