<div class="form-group <% if (!isViewMobile) {print ('form-group-sm')} %>">
    <label for="landuseSelect">Gewählte Nutzung:</label>
    <% if (gfiFeature.get("nutzungsart").length === 1) { %>
        <label><%= gfiFeature.get("nutzungsart")[0] %></label>
    <% } else { %>
        <select id="landuseSelect" class="form-control">
            <% if (brwLanduse === "") { %>
                <option disabled selected>Bitte wählen</option>
            <% } %>
            <% gfiFeature.get("nutzungsart").forEach(function (landuse) { %>
                <% if (landuse.nutzungsart === brwLanduse) { %>
                    <option value="<%= landuse.richtwertnummer %>" selected><%= landuse.nutzungsart %></option>
                <% } else { %>
                    <option value="<%= landuse.richtwertnummer %>"><%= landuse.nutzungsart %></option>
                <% } %>
            <% }); %>
        </select>
    <% } %>
</div>
