<label>Wählen Sie den gewünschten Stichtag aus:</label>
<div class="list-group">
    <% modelList.forEach(function (model) { %>
        <% if (model.get("isSelected") === true) { %>
            <button type="button" class="list-group-item active" value="<%= model.get('name')%>"><%= model.get("name") %></button>
        <% }
        else { %>
            <button type="button" class="list-group-item" value="<%= model.get('name')%>"><%= model.get("name") %></button>
        <% } %>
    <% }); %>
</div>
