.filter .simple-views-container {
    padding: 15px;
    border-bottom: 1px solid rgb(229, 229, 229);
}
.filter .simple-views-container .btn-group {
    margin: 5px;
}
.filter .btn-select {
    color: #fff;
    border-color: rgb(51, 122, 183);
    background-color: rgba(0, 0, 0,.5);
}
.filter .btn-select .name:hover {
    font-weight: normal;
}
