.schulweg-routing .header {
    width: 100%;
    border-bottom: 1px solid rgb(229,229,229);
    padding: 10px;
}

.schulweg-routing .tool-name {
    padding-left: 15px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
}

.schulweg-routing .content {
    max-width: 30%;
    padding-top: 20px;
    position: absolute;
}

.schulweg-routing .content .form-group {
    margin-bottom: 25px;
}
.schulweg-routing .content .form-group > label {
    float: left;
    width: 75%;
}

.schulweg-routing .toggle {
    float: right;
}

.schulweg-routing .bootstrap-select .dropdown-menu {
    right: 0;
    left: null;
}

.schulweg-routing .hit-list {
    z-index: 3;
    padding-left: 15px;
}

.schulweg-routing .hit-list li:first-child {
    border-top: 0;
}

.schulweg-routing .hit-list li:hover {
    cursor: pointer;
    background-color: #e3e3e3;
}
.schulweg-routing .description-container span.title {
    padding-top: 10px;
}
.schulweg-routing .description-container .btn-route-desc,
.schulweg-routing .description-container span {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.schulweg-routing .result-container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.schulweg-routing .description-container .route-part {
    border-bottom: 1px solid white;
}
.schulweg-routing .route-result {
    background-color: rgb(229, 229, 229);
}

.schulweg-routing .route-result span {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 15px;
}
