<!DOCTYPE html>
<div class="header">
    <span class="glyphicon <%=glyphicon%>"></span>
    <span class="tool-name"><%= name %></span>
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="content">
    <div class="form-group col-xs-12 test">
        <div class="input-group" style="width: 100%">
            <input type="text" class="form-control address-search" placeholder="Startadresse">
            <!-- <div class="input-group-btn">
                <button type="button" class="btn btn-default" title="mein Standort">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </button>
            </div> -->
        </div>
        <div class="row">
            <ul class="list-group hit-list col-xs-12">
            </ul>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <span>Regional zuständige Grundschule: <a id="regional-school"></a></span>
    </div>
    <div class="form-group col-xs-12">
        <select class="selectpicker" title="Schule auswählen" data-live-search="true">
            <% schoolList.forEach(function (school) { %>
                <option value="<%= school.get("schul_id") %>"><%= school.get("schulname") %></option>
            <% }); %>
         </select>
    </div>
    <div class="routing-checkbox"></div>
    <div class="form-group col-md-12 col-xs-12">
        <button type="button" class="btn btn-default btn-sm print-route pull-left" disabled>
            Route drucken
        </button>
        <button type="button" class="btn btn-default btn-sm delete-route pull-right">
            Route löschen
        </button>
    </div>
    <div class="route-container">
        <div class="result col-xs-12"></div>
        <div class="description col-xs-12"></div>
    </div>
</div>
