<% if (routeDescription.length > 0) { %>
    <button type="button" class="btn btn-default col-md-12 btn-route-desc" data-toggle="collapse" data-target="#route-description">Routenbeschreibung einblenden</button>
    <div id="route-description" class="collapse">
        <p>
            <% _.each(routeDescription, function (routePart, index) { %>
            <span class="col-md-12 col-sm-12 route-part">
                <%= routePart.anweisung %>
            </span>
            <% }); %>
        </p>
    </div>
<% } %>
