.breadcrumb-mobile > .breadcrumb {
    margin-bottom: 0;
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 14px 15px;
}

.breadcrumb-mobile > .breadcrumb > li > span:hover {
    cursor: pointer;
}

.breadcrumb-mobile > .breadcrumb > li > span {
   text-decoration: underline;
}

.breadcrumb-mobile > .breadcrumb > li + li:before {
    color: rgb(255, 255, 255);
}

.breadcrumb-mobile span.title {
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    padding-left: 6px;
    font-size: 14px;
}

.breadcrumb-mobile span.glyphicon {
    padding: 5px;
}
