<div class="layer-selected">
    <span class="glyphicon glyphicon-remove-circle pull-left" data-toggle="tooltip" data-placement="bottom" title="Auswahl entfernen"></span>
    <% if(visibility === true) { %>
        <span class="glyphicon glyphicon-check pull-left" data-toggle="tooltip" data-placement="bottom" title="Layer ausschalten"></span>
    <%  } else { %>
        <span class="glyphicon glyphicon-unchecked pull-left" data-toggle="tooltip" data-placement="bottom" title="Layer einschalten"></span>
    <% } %>
    <% if (!_.isNull(metaURL)) { %>
    <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Informationen und Legende"></span>
    <% } %>
    <% if (isbaselayer === true) { %>
        <div class="layer-name"><%= name %></div>
    <% }
    else if (typeof isExternal !== "undefined" && isExternal === true) { %>
         <div class="layer-name"><%= name %></div>
    <% }
    else if (typeof type !== "undefined" && type === "nodeLayer" && metaName !== null) { %>
        <div class="layer-name"><%= metaName %></div>
    <% }
    else  { %>
        <div class="layer-name"><%= name %></div>
    <% } %>
</div>
