#searchMarker {
    color: #d42132;
    font-size: 38px;
    display: none;
}

#searchMarker > .glyphicon {
    top: -38px;
    left: -2px;
    font-size: 12px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(212, 37, 50);
    padding: 3px;
}
