<!DOCTYPE html>
<div class="panel panel-default">
    <div class="panel-heading">
        <span style="float:left; font-size:14px;" class="glyphicon glyphicon-plus" aria-hidden="true">
        </span><h2>&nbsp;Weitere Parameter</h2>
    </div>
    <div id="requestedParamsListe" class="panel-body">
        <% if (requestedParams.StadtteilName === false) { %>
        <div class="form-group col-md-6">
            <p>Stadtteilname</p>
            <select id="StadtteilName" class="form-control">
                <option value="Altona-Altstadt">Altona-Altstadt</option>
                <option value="Altona-Nord">Altona-Nord</option>
                <option value="Bahrenfeld">Bahrenfeld</option>
                <option value="Blankenese">Blankenese</option>
                <option value="Groß Flottbek">Groß Flottbek</option>
                <option value="Iserbrook">Iserbrook</option>
                <option value="Lurup">Lurup</option>
                <option value="Nienstedten">Nienstedten</option>
                <option value="Osdorf">Osdorf</option>
                <option value="Othmarschen">Othmarschen</option>
                <option value="Ottensen">Ottensen</option>
                <option value="Rissen">Rissen</option>
                <option value="Sternschanze">Sternschanze</option>
                <option value="Sülldorf">Sülldorf</option>
                <option value="Allermöhe">Allermöhe</option>
                <option value="Altengamme">Altengamme</option>
                <option value="Bergedorf">Bergedorf</option>
                <option value="Billwerder">Billwerder</option>
                <option value="Curslack">Curslack</option>
                <option value="Kirchwerder">Kirchwerder</option>
                <option value="Lohbrügge">Lohbrügge</option>
                <option value="Moorfleet">Moorfleet</option>
                <option value="Neuallermöhe">Neuallermöhe</option>
                <option value="Neuengamme">Neuengamme</option>
                <option value="Ochsenwerder">Ochsenwerder</option>
                <option value="Reitbrook">Reitbrook</option>
                <option value="Spadenland"> Spadenland</option>
                <option value="Tatenberg">Tatenberg</option>
                <option value="Eidelstedt">Eidelstedt</option>
                <option value="Eimsbüttel">Eimsbüttel</option>
                <option value="Harvestehude">Harvestehude</option>
                <option value="Hoheluft-West">Hoheluft-West</option>
                <option value="Lokstedt">Lokstedt</option>
                <option value="Niendorf">Niendorf</option>
                <option value="Rotherbaum">Rotherbaum</option>
                <option value="Schnelsen">Schnelsen</option>
                <option value="Stellingen">Stellingen</option>
                <option value="Billbrook">Billbrook</option>
                <option value="Billstedt">Billstedt</option>
                <option value="Borgfelde">Borgfelde</option>
                <option value="Finkenwerder">Finkenwerder</option>
                <option value="HafenCity">HafenCity</option>
                <option value="Hamburg-Altstadt">Hamburg-Altstadt</option>
                <option value="Hamm">Hamm</option>
                <option value="Hammerbrook">Hammerbrook</option>
                <option value="Horn">Horn</option>
                <option value="Kleiner Grasbrook">Kleiner Grasbrook</option>
                <option value="Neustadt">Neustadt</option>
                <option value="Neuwerk">Neuwerk</option>
                <option value="Rothenburgsort">Rothenburgsort</option>
                <option value="St.Georg">St.Georg</option>
                <option value="St.Pauli">St.Pauli</option>
                <option value="Steinwerder">Steinwerder</option>
                <option value="Veddel">Veddel</option>
                <option value="Waltershof">Waltershof</option>
                <option value="Wilhelmsburg">Wilhelmsburg</option>
                <option value="Alsterdorf">Alsterdorf</option>
                <option value="Barmbek-Nord">Barmbek-Nord</option>
                <option value="Barmbek-Süd">Barmbek-Süd</option>
                <option value="Dulsberg">Dulsberg</option>
                <option value="Eppendorf">Eppendorf</option>
                <option value="Fuhlsbüttel">Fuhlsbüttel</option>
                <option value="Groß Borstel">Groß Borstel</option>
                <option value="Hoheluft-Ost">Hoheluft-Ost</option>
                <option value="Hohenfelde">Hohenfelde</option>
                <option value="Langenhorn">Langenhorn</option>
                <option value="Ohlsdorf">Ohlsdorf</option>
                <option value="Uhlenhorst">Uhlenhorst</option>
                <option value="Winterhude">Winterhude</option>
                <option value="Altenwerder">Altenwerder</option>
                <option value="Cranz">Cranz</option>
                <option value="Eißendorf">Eißendorf</option>
                <option value="Francop">Francop</option>
                <option value="Gut Moor">Gut Moor</option>
                <option value="Harburg">Harburg</option>
                <option value="Hausbruch">Hausbruch</option>
                <option value="Heimfeld">Heimfeld</option>
                <option value="Langenbek">Langenbek</option>
                <option value="Marmstorf">Marmstorf</option>
                <option value="Moorburg">Moorburg</option>
                <option value="Neuenfelde">Neuenfelde</option>
                <option value="Neugraben-Fischbek">Neugraben-Fischbek</option>
                <option value="Neuland">Neuland</option>
                <option value="Rönneburg">Rönneburg</option>
                <option value="Sinstorf">Sinstorf</option>
                <option value="Wilstorf">Wilstorf</option>
                <option value="Bergstedt">Bergstedt</option>
                <option value="Bramfeld">Bramfeld</option>
                <option value="Duvenstedt">Duvenstedt</option>
                <option value="Eilbek">Eilbek</option>
                <option value="Farmsen-Berne">Farmsen-Berne</option>
                <option value="Hummelsbüttel">Hummelsbüttel</option>
                <option value="Jenfeld">Jenfeld</option>
                <option value="Lemsahl-Mellingstedt">Lemsahl-Mellingstedt</option>
                <option value="Marienthal">Marienthal</option>
                <option value="Poppenbüttel">Poppenbüttel</option>
                <option value="Rahlstedt">Rahlstedt</option>
                <option value="Sasel">Sasel</option>
                <option value="Steilshoop">Steilshoop</option>
                <option value="Tonndorf">Tonndorf</option>
                <option value="Volksdorf">Volksdorf</option>
                <option value="Wandsbek">Wandsbek</option>
                <option value="Wellingsbüttel">Wellingsbüttel</option>
                <option value="Wohldorf-Ohlstedt">Wohldorf-Ohlstedt</option>
            </select>
        </div>
        <% } %>
        <% if (requestedParams.WGFZ === true) { %>
        <div class="form-group col-md-6">
            <p>Wertrelevante Geschossflächenzahl</p>
            <div class="input-group">
                <input id="WGFZ" class="form-control" aria-describedby="wgfz-addon" type="number" min="0.4" max="4" value="<%= defaultWGFZ %>" step="0.1" pattern="[0-9]+([,\.][0-9]+)?"/>
                <span class="input-group-addon" id="wgfz-addon" title="Wenn Ihnen die WGFZ nicht bekannt ist, verwenden Sie die Wohn-/Nutzfläche dividiert durch das 0,78-fache der Grundstücksfläche.">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </span>
            </div>
        </div>
        <% } %>
        <% if (requestedParams.FLAE === true) { %>
        <div class="form-group col-md-6">
            <p>Grundstücksgröße [m²]</p>
            <input id="FLAE" class="form-control" type="number" min="150" max="10000" value="<%= defaultFlae %>" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.BAUW === true) { %>
        <div class="form-group col-md-6">
            <p>Anbauart</p>
            <select id="BAUW" value="<%= defaultBauw %>" class="form-control">
                <option value="eh">Einzelhaus (freistehend)</option>
                <option value="dh">Doppelhaushälfte</option>
                <option value="dd">Doppelhaus (=2 Hälften)</option>
                <option value="rh">(Mittel-) Reihenhaus</option>
                <option value="rm">Mittelreihenhaus</option>
                <option value="re">Endreihenhaus</option>
                <option value="a">abweichende Bauweise (Gartenhofhaus)</option>
                <option value="g">geschlossene Bauweise</option>
            </select>
        </div>
        <% } %>
        <% if (requestedParams.STRL === true) { %>
        <div class="form-group col-md-6">
            <p>Lage zur Straße</p>
            <select id="STRL" class="form-control">
                <option value="F">Frontlage</option>
                <option value="E">Ecklage</option>
                <option value="P">Pfeifenstielgrundstück</option>
                <option value="H">Hinterlage (Zuwegung nur über Wegerecht)</option>
            </select>
        </div>
        <% } %>
        <% if (requestedParams.GESL === true) { %>
        <div class="form-group col-md-6">
            <p>Geschosslage</p>
            <select id="GESL" class="form-control">
                <option value="UG">Untergeschoss, Souterrain</option>
                <option value="EG">Erdgeschoss</option>
                <option value="OG">Obergeschoss</option>
                <option value="DG">Dachgeschoss</option>
                <option value="PH">Penthouse</option>
            </select>
        </div>
        <% } %>
        <% if (requestedParams.BAUJ === true) { %>
        <div class="form-group col-md-6">
            <p>Baujahr (Bezugsfertigstellung der wesentlichen Gebäudeteile)</p>
            <input id="BAUJ" class="form-control" type="number" min="1700" max="2030" value="1950" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.MODG === true) { %>
        <div class="form-group col-md-6">
            <p>Modernisierungsgrad (0..20 Punkte, 21 = Neubau/Erstbezug)</p>
            <input id="MODG" class="form-control" type="number" min="0" max="21" value="21" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.WOFL === true) { %>
        <div class="form-group col-md-6">
            <p>Wohnfläche in m²</p>
            <input id="WOFL" class="form-control" type="number" min="0" max="2400" value="100" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.ZAWO === true) { %>
        <div class="form-group col-md-6">
            <p>Anzahl Wohnungen</p>
            <input id="ZAWO" class="form-control" type="number" min="0" max="50" value="1" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.GARI === true) { %>
        <div class="form-group col-md-6">
            <p>Anzahl Tiefgaragenstellplätze</p>
            <input id="GARI" class="form-control" type="number" min="0" max="5" value="0" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.GARA === true) { %>
        <div class="form-group col-md-6">
            <p>Anzahl Einzelgaragen</p>
            <input id="GARA" class="form-control" type="number" min="0" max="5" value="0" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.STEA === true) { %>
        <div class="form-group col-md-6">
            <p>Anzahl offene Stellplätze</p>
            <input id="STEA" class="form-control" type="number" min="0" max="5" value="0" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.EGFL === true) { %>
        <div class="form-group col-md-6">
            <p>Gewerbliche Nutzfläche im Erdgeschoss in m²</p>
            <input id="EGFL" class="form-control" type="number" min="0" max="10000" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.OGFL === true) { %>
        <div class="form-group col-md-6">
            <p>Gewerbliche Nutzfläche in den Obergeschossen in m²</p>
            <input id="OGFL" class="form-control" type="number" min="0" max="5000" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.WONKM === true) { %>
        <div class="form-group col-md-6">
            <p>Jahresnettokaltmiete für Wohnungen in DM (bis 31.12.2001) bzw. Euro (ab 1.1.2002)</p>
            <input id="WONKM" class="form-control" type="number" min="0" max="25" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.SONKM === true) { %>
        <div class="form-group col-md-6">
            <p>Jahresnettokaltmiete für Sonstiges / Gewerbe in DM (bis 31.12.2001) bzw. Euro (ab 1.1.2002)</p>
            <input id="SONKM" class="form-control" type="number" min="0" max="2400" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.RLZ === true) { %>
        <div class="form-group col-md-6">
            <p>Restlaufzeit des Erbbaurechts</p>
            <input id="RLZ" class="form-control" type="number" min="0" max="99" value="0" step="1" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.JEZ === true) { %>
        <div class="form-group col-md-6">
            <p>Erbbauzins / Jahr in Prozent</p>
            <input id="JEZ" class="form-control" type="number" min="0" max="100" value="0" step="0.1" pattern="[0-9]+([,\.][0-9]+)?"/>
        </div>
        <% } %>
        <% if (requestedParams.STST === true) { %>
        <div class="form-group col-md-6">
            <p>Standardstufe nach Sachwert-Richtlinie (ab 2011)</p>
            <input id="STST" class="form-control" type="number" min="0" max="100000" value="0" step="1" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.FKWERT === true) { %>
        <div class="form-group col-md-6">
            <p>Feuerkassenwert bzw. Neuherstellungskosten in Mark 1914</p>
            <input id="FKWERT" class="form-control" type="number" min="30" max="150" value="30" step="1" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.SACH === true) { %>
        <div class="form-group col-md-6">
            <p>Vorläufiger Sachwert in DM (bis 31.12.2001) bzw. Euro (ab 1.1.2002)</p>
            <input id="SACH" class="form-control" type="number" min="500" max="4000" value="500" step="1" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.ENER === true) { %>
        <div class="form-group col-md-6">
            <p>Endenergiebedarf in kWh / m² a</p>
            <input id="ENER" class="form-control" type="number" min="30" max="250" value="30" step="0.1" pattern="[0-9]"/>
        </div>
        <% } %>
        <% if (requestedParams.KELL === true) { %>
        <div class="form-group col-md-6">
            <label><input id="KELL" type="checkbox" /><p>Keller vorhanden</p></label>
        </div>
        <% } %>
        <% if (requestedParams.LIFT === true) { %>
        <div class="form-group col-md-6">
            <div class="checkbox">
                <label><input id="LIFT" type="checkbox" /><p>Fahrstuhl vorhanden</p></label>
            </div>
        </div>
        <% } %>
        <% if (requestedParams.EBK === true) { %>
        <div class="form-group col-md-6">
            <div class="checkbox">
                <label><input id="EBK" type="checkbox" /><p>Einbauküche vorhanden</p></label>
            </div>
        </div>
        <% } %>
    </div>
    <div class="panel-footer">
        <button id="seite3_weiter" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Übernehmen
        </button>
    </div>
</div>
