.alert {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 10%;
}

#ladebalken {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

.btn-default:active, .btn-default.active {
    background-color: #555 !important;
    color: #fff !important;
}
