.schulinfo {
    width: 45vw;
    height: 50vh;
}
.schulinfo td {
    font-family: font-family: 'UniversNextW04-620CondB','Arial Narrow',Arial,sans-serif;
}
.gfi .gfi-content {
    width:100%;
}
.schulinfo .bold td {
    font-weight: bold;
}
.schulinfo .gfi-head {
    padding: 10px;
    border-bottom: 1px solid rgb(229,229,229);
}
.schulinfo .btn-default {
    margin: 4px;
}
.schulinfo .btn-select {
    color: #fff;
    background-color: rgba(0,0,0,.5);
}
