<!DOCTYPE html>
<div class="node-layer-content">
    <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Metadaten"></span>
    <% if(selected === true) { %>
        <span class="glyphicon glyphicon-check pull-left" data-toggle="tooltip" data-placement="bottom" title="Layer entfernen"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked pull-left" data-toggle="tooltip" data-placement="bottom" title="Layer hinzufügen"></span>
    <% } %>
    <div class="layer-name"><%= metaName %></div>
</div>
