<!DOCTYPE html>
<div class="panel panel-default">
    <div id="" class="panel-body">
        <blockquote>
            <p>Bitte spezifizieren Sie hier Ihre Immobilie durch Eingabe weiterer Parameter.</p>
        </blockquote>
        <div id="requestedParamsListe">
            <% if (requestedParams.StadtteilName === true) { %>
            <div id="StadtteilNameDiv" class="form-group col-md-6">
                <h5 class="control-label">Stadtteilname</h5>
                <select id="StadtteilName" class="param form-control">
                    <% if(defaultStadtteil === "") {print ("<option selected disabled>Bitte auswählen</option>")} %>
                    <option <% if(defaultStadtteil === "Allermöhe") {print (' selected') }%> value="Allermöhe">Allermöhe</option>
                    <option <% if(defaultStadtteil === "Alsterdorf") {print (' selected') }%> value="Alsterdorf">Alsterdorf</option>
                    <option <% if(defaultStadtteil === "Altengamme") {print (' selected') }%> value="Altengamme">Altengamme</option>
                    <option <% if(defaultStadtteil === "Altenwerder") {print (' selected') }%> value="Altenwerder">Altenwerder</option>
                    <option <% if(defaultStadtteil === "Altona-Altstadt") {print (' selected') }%> value="Altona-Altstadt">Altona-Altstadt</option>
                    <option <% if(defaultStadtteil === "Altona-Nord") {print (' selected') }%> value="Altona-Nord">Altona-Nord</option>
                    <option <% if(defaultStadtteil === "Bahrenfeld") {print (' selected') }%> value="Bahrenfeld">Bahrenfeld</option>
                    <option <% if(defaultStadtteil === "Barmbek-Nord") {print (' selected') }%> value="Barmbek-Nord">Barmbek-Nord</option>
                    <option <% if(defaultStadtteil === "Barmbek-Süd") {print (' selected') }%> value="Barmbek-Süd">Barmbek-Süd</option>
                    <option <% if(defaultStadtteil === "Bergedorf") {print (' selected') }%> value="Bergedorf">Bergedorf</option>
                    <option <% if(defaultStadtteil === "Bergstedt") {print (' selected') }%> value="Bergstedt">Bergstedt</option>
                    <option <% if(defaultStadtteil === "Billbrook") {print (' selected') }%> value="Billbrook">Billbrook</option>
                    <option <% if(defaultStadtteil === "Billstedt") {print (' selected') }%> value="Billstedt">Billstedt</option>
                    <option <% if(defaultStadtteil === "Billwerder") {print (' selected') }%> value="Billwerder">Billwerder</option>
                    <option <% if(defaultStadtteil === "Blankenese") {print (' selected') }%> value="Blankenese">Blankenese</option>
                    <option <% if(defaultStadtteil === "Borgfelde") {print (' selected') }%> value="Borgfelde">Borgfelde</option>
                    <option <% if(defaultStadtteil === "Bramfeld") {print (' selected') }%> value="Bramfeld">Bramfeld</option>
                    <option <% if(defaultStadtteil === "Cranz") {print (' selected') }%> value="Cranz">Cranz</option>
                    <option <% if(defaultStadtteil === "Curslack") {print (' selected') }%> value="Curslack">Curslack</option>
                    <option <% if(defaultStadtteil === "Dulsberg") {print (' selected') }%> value="Dulsberg">Dulsberg</option>
                    <option <% if(defaultStadtteil === "Duvenstedt") {print (' selected') }%> value="Duvenstedt">Duvenstedt</option>
                    <option <% if(defaultStadtteil === "Eidelstedt") {print (' selected') }%> value="Eidelstedt">Eidelstedt</option>
                    <option <% if(defaultStadtteil === "Eilbek") {print (' selected') }%> value="Eilbek">Eilbek</option>
                    <option <% if(defaultStadtteil === "Eimsbüttel") {print (' selected') }%> value="Eimsbüttel">Eimsbüttel</option>
                    <option <% if(defaultStadtteil === "Eißendorf") {print (' selected') }%> value="Eißendorf">Eißendorf</option>
                    <option <% if(defaultStadtteil === "Eppendorf") {print (' selected') }%> value="Eppendorf">Eppendorf</option>
                    <option <% if(defaultStadtteil === "Farmsen-Berne") {print (' selected') }%> value="Farmsen-Berne">Farmsen-Berne</option>
                    <option <% if(defaultStadtteil === "Finkenwerder") {print (' selected') }%> value="Finkenwerder">Finkenwerder</option>
                    <option <% if(defaultStadtteil === "Francop") {print (' selected') }%> value="Francop">Francop</option>
                    <option <% if(defaultStadtteil === "Fuhlsbüttel") {print (' selected') }%> value="Fuhlsbüttel">Fuhlsbüttel</option>
                    <option <% if(defaultStadtteil === "Groß Borstel") {print (' selected') }%> value="Groß Borstel">Groß Borstel</option>
                    <option <% if(defaultStadtteil === "Groß Flottbek") {print (' selected') }%> value="Groß Flottbek">Groß Flottbek</option>
                    <option <% if(defaultStadtteil === "Gut Moor") {print (' selected') }%> value="Gut Moor">Gut Moor</option>
                    <option <% if(defaultStadtteil === "HafenCity") {print (' selected') }%> value="HafenCity">HafenCity</option>
                    <option <% if(defaultStadtteil === "Hamburg-Altstadt") {print (' selected') }%> value="Hamburg-Altstadt">Hamburg-Altstadt</option>
                    <option <% if(defaultStadtteil === "Hamm") {print (' selected') }%> value="Hamm">Hamm</option>
                    <option <% if(defaultStadtteil === "Hammerbrook") {print (' selected') }%> value="Hammerbrook">Hammerbrook</option>
                    <option <% if(defaultStadtteil === "Harburg") {print (' selected') }%> value="Harburg">Harburg</option>
                    <option <% if(defaultStadtteil === "Harvestehude") {print (' selected') }%> value="Harvestehude">Harvestehude</option>
                    <option <% if(defaultStadtteil === "Hausbruch") {print (' selected') }%> value="Hausbruch">Hausbruch</option>
                    <option <% if(defaultStadtteil === "Heimfeld") {print (' selected') }%> value="Heimfeld">Heimfeld</option>
                    <option <% if(defaultStadtteil === "Hoheluft-Ost") {print (' selected') }%> value="Hoheluft-Ost">Hoheluft-Ost</option>
                    <option <% if(defaultStadtteil === "Hoheluft-West") {print (' selected') }%> value="Hoheluft-West">Hoheluft-West</option>
                    <option <% if(defaultStadtteil === "Hohenfelde") {print (' selected') }%> value="Hohenfelde">Hohenfelde</option>
                    <option <% if(defaultStadtteil === "Horn") {print (' selected') }%> value="Horn">Horn</option>
                    <option <% if(defaultStadtteil === "Hummelsbüttel") {print (' selected') }%> value="Hummelsbüttel">Hummelsbüttel</option>
                    <option <% if(defaultStadtteil === "Iserbrook") {print (' selected') }%> value="Iserbrook">Iserbrook</option>
                    <option <% if(defaultStadtteil === "Jenfeld") {print (' selected') }%> value="Jenfeld">Jenfeld</option>
                    <option <% if(defaultStadtteil === "Kirchwerder") {print (' selected') }%> value="Kirchwerder">Kirchwerder</option>
                    <option <% if(defaultStadtteil === "Kleiner Grasbrook") {print (' selected') }%> value="Kleiner Grasbrook">Kleiner Grasbrook</option>
                    <option <% if(defaultStadtteil === "Langenbek") {print (' selected') }%> value="Langenbek">Langenbek</option>
                    <option <% if(defaultStadtteil === "Langenhorn") {print (' selected') }%> value="Langenhorn">Langenhorn</option>
                    <option <% if(defaultStadtteil === "Lemsahl-Mellingstedt") {print (' selected') }%> value="Lemsahl-Mellingstedt">Lemsahl-Mellingstedt</option>
                    <option <% if(defaultStadtteil === "Lohbrügge") {print (' selected') }%> value="Lohbrügge">Lohbrügge</option>
                    <option <% if(defaultStadtteil === "Lokstedt") {print (' selected') }%> value="Lokstedt">Lokstedt</option>
                    <option <% if(defaultStadtteil === "Lurup") {print (' selected') }%> value="Lurup">Lurup</option>
                    <option <% if(defaultStadtteil === "Marienthal") {print (' selected') }%> value="Marienthal">Marienthal</option>
                    <option <% if(defaultStadtteil === "Marmstorf") {print (' selected') }%> value="Marmstorf">Marmstorf</option>
                    <option <% if(defaultStadtteil === "Moorburg") {print (' selected') }%> value="Moorburg">Moorburg</option>
                    <option <% if(defaultStadtteil === "Moorfleet") {print (' selected') }%> value="Moorfleet">Moorfleet</option>
                    <option <% if(defaultStadtteil === "Neuallermöhe") {print (' selected') }%> value="Neuallermöhe">Neuallermöhe</option>
                    <option <% if(defaultStadtteil === "Neuenfelde") {print (' selected') }%> value="Neuenfelde">Neuenfelde</option>
                    <option <% if(defaultStadtteil === "Neuengamme") {print (' selected') }%> value="Neuengamme">Neuengamme</option>
                    <option <% if(defaultStadtteil === "Neugraben-Fischbek") {print (' selected') }%> value="Neugraben-Fischbek">Neugraben-Fischbek</option>
                    <option <% if(defaultStadtteil === "Neuland") {print (' selected') }%> value="Neuland">Neuland</option>
                    <option <% if(defaultStadtteil === "Neustadt") {print (' selected') }%> value="Neustadt">Neustadt</option>
                    <option <% if(defaultStadtteil === "Neuwerk") {print (' selected') }%> value="Neuwerk">Neuwerk</option>
                    <option <% if(defaultStadtteil === "Niendorf") {print (' selected') }%> value="Niendorf">Niendorf</option>
                    <option <% if(defaultStadtteil === "Nienstedten") {print (' selected') }%> value="Nienstedten">Nienstedten</option>
                    <option <% if(defaultStadtteil === "Ochsenwerder") {print (' selected') }%> value="Ochsenwerder">Ochsenwerder</option>
                    <option <% if(defaultStadtteil === "Ohlsdorf") {print (' selected') }%> value="Ohlsdorf">Ohlsdorf</option>
                    <option <% if(defaultStadtteil === "Osdorf") {print (' selected') }%> value="Osdorf">Osdorf</option>
                    <option <% if(defaultStadtteil === "Othmarschen") {print (' selected') }%> value="Othmarschen">Othmarschen</option>
                    <option <% if(defaultStadtteil === "Ottensen") {print (' selected') }%> value="Ottensen">Ottensen</option>
                    <option <% if(defaultStadtteil === "Poppenbüttel") {print (' selected') }%> value="Poppenbüttel">Poppenbüttel</option>
                    <option <% if(defaultStadtteil === "Rahlstedt") {print (' selected') }%> value="Rahlstedt">Rahlstedt</option>
                    <option <% if(defaultStadtteil === "Reitbrook") {print (' selected') }%> value="Reitbrook">Reitbrook</option>
                    <option <% if(defaultStadtteil === "Rissen") {print (' selected') }%> value="Rissen">Rissen</option>
                    <option <% if(defaultStadtteil === "Rothenburgsort") {print (' selected') }%> value="Rothenburgsort">Rothenburgsort</option>
                    <option <% if(defaultStadtteil === "Rotherbaum") {print (' selected') }%> value="Rotherbaum">Rotherbaum</option>
                    <option <% if(defaultStadtteil === "Rönneburg") {print (' selected') }%> value="Rönneburg">Rönneburg</option>
                    <option <% if(defaultStadtteil === "Sasel") {print (' selected') }%> value="Sasel">Sasel</option>
                    <option <% if(defaultStadtteil === "Schnelsen") {print (' selected') }%> value="Schnelsen">Schnelsen</option>
                    <option <% if(defaultStadtteil === "Sinstorf") {print (' selected') }%> value="Sinstorf">Sinstorf</option>
                    <option <% if(defaultStadtteil === "Spadenland") {print (' selected') }%> value="Spadenland"> Spadenland</option>
                    <option <% if(defaultStadtteil === "St. Georg") {print (' selected') }%> value="St. Georg">St. Georg</option>
                    <option <% if(defaultStadtteil === "St. Pauli") {print (' selected') }%> value="St. Pauli">St. Pauli</option>
                    <option <% if(defaultStadtteil === "Steilshoop") {print (' selected') }%> value="Steilshoop">Steilshoop</option>
                    <option <% if(defaultStadtteil === "Steinwerder") {print (' selected') }%> value="Steinwerder">Steinwerder</option>
                    <option <% if(defaultStadtteil === "Stellingen") {print (' selected') }%> value="Stellingen">Stellingen</option>
                    <option <% if(defaultStadtteil === "Sternschanze") {print (' selected') }%> value="Sternschanze">Sternschanze</option>
                    <option <% if(defaultStadtteil === "Sülldorf") {print (' selected') }%> value="Sülldorf">Sülldorf</option>
                    <option <% if(defaultStadtteil === "Tatenberg") {print (' selected') }%> value="Tatenberg">Tatenberg</option>
                    <option <% if(defaultStadtteil === "Tonndorf") {print (' selected') }%> value="Tonndorf">Tonndorf</option>
                    <option <% if(defaultStadtteil === "Uhlenhorst") {print (' selected') }%> value="Uhlenhorst">Uhlenhorst</option>
                    <option <% if(defaultStadtteil === "Veddel") {print (' selected') }%> value="Veddel">Veddel</option>
                    <option <% if(defaultStadtteil === "Volksdorf") {print (' selected') }%> value="Volksdorf">Volksdorf</option>
                    <option <% if(defaultStadtteil === "Waltershof") {print (' selected') }%> value="Waltershof">Waltershof</option>
                    <option <% if(defaultStadtteil === "Wandsbek") {print (' selected') }%> value="Wandsbek">Wandsbek</option>
                    <option <% if(defaultStadtteil === "Wellingsbüttel") {print (' selected') }%> value="Wellingsbüttel">Wellingsbüttel</option>
                    <option <% if(defaultStadtteil === "Wilhelmsburg") {print (' selected') }%> value="Wilhelmsburg">Wilhelmsburg</option>
                    <option <% if(defaultStadtteil === "Wilstorf") {print (' selected') }%> value="Wilstorf">Wilstorf</option>
                    <option <% if(defaultStadtteil === "Winterhude") {print (' selected') }%> value="Winterhude">Winterhude</option>
                    <option <% if(defaultStadtteil === "Wohldorf-Ohlstedt") {print (' selected') }%> value="Wohldorf-Ohlstedt">Wohldorf-Ohlstedt</option>
                </select>
            </div>
            <% } %>
            <% if (requestedParams.WGFZ === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Wertrelevante Geschossflächenzahl</h5>
                <div class="input-group">
                    <input id="WGFZ" class="floatValue form-control" aria-describedby="wgfz-addon" type="number" min="0.4" max="4" value="<%= defaultWGFZ %>" step="0.1" pattern="[0-9]+([,\.][0-9]+)?"/>
                    <span class="input-group-addon" id="wgfz-addon" title="Wenn Ihnen die WGFZ nicht bekannt ist, verwenden Sie die Wohn-/Nutzfläche dividiert durch das 0,78-fache der Grundstücksfläche.">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.FLAE === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Grundstücksgröße [m²]</h5>
                <input id="FLAE" class="floatValue form-control" type="number" min="1" value="<%= defaultFlae %>" step="0.1"  pattern="[0-9]+([,\.][0-9]+)?"/>
            </div>
            <% } %>
            <% if (requestedParams.BAUW === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Anbauart</h5>
                <select id="BAUW" class="param form-control">
                    <% if(defaultBauw === "") {print ("<option selected disabled>Bitte auswählen</option>")} %>
                    <option <% if(defaultBauw === "eh") {print (' selected') }%> value="eh">Einzelhaus (freistehend)</option>
                    <option <% if(defaultBauw === "dh") {print (' selected') }%> value="dh">Doppelhaushälfte</option>
                    <option <% if(defaultBauw === "dd") {print (' selected') }%> value="dd">Doppelhaus (=2 Hälften)</option>
                    <option <% if(defaultBauw === "rh") {print (' selected') }%> value="rh">(Mittel-) Reihenhaus</option>
                    <option <% if(defaultBauw === "rm") {print (' selected') }%> value="rm">Mittelreihenhaus</option>
                    <option <% if(defaultBauw === "re") {print (' selected') }%> value="re">Endreihenhaus</option>
                    <option <% if(defaultBauw === "a") {print (' selected') }%> value="a">abweichende Bauweise (Gartenhofhaus)</option>
                    <option <% if(defaultBauw === "g") {print (' selected') }%> value="g">geschlossene Bauweise</option>
                </select>
            </div>
            <% } %>
            <% if (requestedParams.STRL === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Lage zur Straße</h5>
                <select id="STRL" class="param form-control">
                    <option selected value="F">Frontlage</option>
                    <option value="E">Ecklage</option>
                    <option value="P">Pfeifenstielgrundstück</option>
                    <option value="H">Hinterlage (Zuwegung nur über Wegerecht)</option>
                </select>
            </div>
            <% } %>
            <% if (requestedParams.GESL === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Geschosslage</h5>
                <select id="GESL" class="param form-control">
                    <option value="UG">Untergeschoss, Souterrain</option>
                    <option selected value="EG">Erdgeschoss</option>
                    <option value="OG">Obergeschoss</option>
                    <option value="DG">Dachgeschoss</option>
                    <option value="PH">Penthouse</option>
                </select>
            </div>
            <% } %>
            <% if (requestedParams.BAUJ === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Baujahr (Bezugsfertigstellung der wesentlichen Gebäudeteile)</h5>
                <input id="BAUJ" class="param form-control" type="number" min="1700" max="<%= jahr %>" value="" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.WOFL === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Wohnfläche in m²</h5>
                <input id="WOFL" class="floatValue form-control" type="number" min="<%= minWofl %>" step="0.1" value="<%= defaultWofl %>" pattern="[0-9]+([,\.][0-9]+)?"/>
            </div>
            <% } %>
            <% if (requestedParams.ZAWO === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Anzahl Wohnungen</h5>
                <input id="ZAWO" class="param form-control" type="number" min="1" value="1" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.GARI === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Anzahl Tiefgaragenstellplätze</h5>
                <input id="GARI" class="param form-control" type="number" min="0" value="0" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.GARA === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Anzahl Einzelgaragen</h5>
                <input id="GARA" class="param form-control" type="number" min="0" value="0" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.STEA === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Anzahl offene Stellplätze</h5>
                <input id="STEA" class="param form-control" type="number" min="0" value="0" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.EGFL === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Gewerbliche Nutzfläche im Erdgeschoss in m²</h5>
                <input id="EGFL" class="floatValue form-control" type="number" min="0" value="<%= defaultEgfl %>" step="0.1" pattern="[0-9]+([,\.][0-9]+)?"/>
            </div>
            <% } %>
            <% if (requestedParams.OGFL === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Gewerbliche Nutzfläche in den Obergeschossen in m²</h5>
                <input id="OGFL" class="floatValue form-control" type="number" min="0" value="<%= defaultOgfl %>" step="0.1" pattern="[0-9]+([,\.][0-9]+)?"/>
            </div>
            <% } %>
            <% if (requestedParams.WONKM === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Jahresnettokaltmiete für Wohnungen in <%= jahr <= 2001 ? "DM" : "EUR" %></h5>
                <div class="input-group">
                    <input id="WONKM" class="waehrung form-control" aria-describedby="wonkm-addon" type="number" min="0" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
                    <span id="wonkm-addon" class="input-group-addon"><%= jahr <= 2001 ? "DM" : "EUR" %></span>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.SONKM === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Jahresnettokaltmiete für Sonstiges / Gewerbe in <%= jahr <= 2001 ? "DM" : "EUR" %></h5>
                <div class="input-group">
                    <input id="SONKM" class="waehrung form-control" aria-describedby="sonkm-addon" type="number" min="0" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
                    <span id="sonkm-addon" class="input-group-addon"><%= jahr <= 2001 ? "DM" : "EUR" %></span>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.RLZ === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Restlaufzeit des Erbbaurechts (0 = kein Erbbaurecht)</h5>
                <input id="RLZ" class="param form-control" type="number" min="0" max="99" value="0" step="1" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.JEZ === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Erbbauzins / Jahr in Euro</h5>
                <input id="JEZ" class="floatValue form-control" type="number" min="0" value="0" step="0.01" pattern="[0-9]+([,\.][0-9]+)?"/>
            </div>
            <% } %>
            <% if (requestedParams.STST === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Standardstufe nach Sachwert-Richtlinie (ab 2011)</h5>
                <input id="STST" class="param form-control" type="number" min="1" max="5" value="4" step="1" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.FKWERT === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Feuerkassenwert bzw. Neuherstellungskosten in Mark 1914</h5>
                <input id="FKWERT" class="param form-control" type="number" min="0" value="0" step="1" pattern="[0-9]"/>
            </div>
            <% } %>
            <% if (requestedParams.SACH === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Vorläufiger Sachwert in <%= jahr <= 2001 ? "DM" : "EUR" %></h5>
                <div class="input-group">
                    <input id="SACH" class="waehrung form-control" aria-describedby="sach-addon" type="number" min="0" value="0" step="1" pattern="[0-9]+([,\.][0-9]+)?"/>
                    <span id="sach-addon" class="input-group-addon"><%= jahr <= 2001 ? "DM" : "EUR" %></span>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.ENER === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Endenergiebedarf</h5>
                <div class="input-group">
                    <input id="ENER" class="floatValue form-control" type="number" min="0" value="0" step="0.1" pattern="[0-9]"/>
                    <span class="input-group-addon" id="ener-addon" title="Bitte Endernergiebedarf in kWh / m² a eingeben.">kWh / m² a</span>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.MODG === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Modernisierungsgrad des Gebäudes</h5>
                <div class="input-group">
                    <div id="MODG" class="btn-group" role="group" aria-label="Modernisierungsgrad des Gebäudes">
                        <button type="button" class="btn btn-default" value="21">Erstbezug / Neubau</button>
                        <button type="button" class="btn btn-default active" value="0">Bestandsimmobilie</button>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.KELL === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Keller vorhanden</h5>
                <div class="input-group">
                    <div id="KELL" class="btn-group" role="group" aria-label="Keller vorhanden ja oder nein">
                        <button type="button" class="btn btn-default active" value="true"> Ja </button>
                        <button type="button" class="btn btn-default" value="false">Nein</button>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.LIFT === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Fahrstuhl vorhanden</h5>
                <div class="input-group">
                    <div id="LIFT" class="btn-group" role="group" aria-label="Fahrstuhl vorhanden ja oder nein">
                        <button type="button" class="btn btn-default" value="true"> Ja </button>
                        <button type="button" class="btn btn-default active" value="false">Nein</button>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.EBK === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Einbauküche vorhanden</h5>
                <div class="input-group">
                    <div id="EBK" class="btn-group" role="group" aria-label="Einbauküche vorhanden ja oder nein">
                        <button type="button" class="btn btn-default" value="true"> Ja </button>
                        <button type="button" class="btn btn-default active" value="false">Nein</button>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (requestedParams.MEA === true) { %>
            <div class="form-group col-md-6">
                <h5 class="control-label">Miteigentumsanteil der Eigentumswohnung</h5>
                <div class="input-group">
                    <input id="MEAN" class="param form-control" type="number" min="1" max="1000000" value="1" step="1" pattern="[0-9]"/>
                    <span class="input-group-addon">/</span>
                    <input id="MEAZ" class="param form-control" type="number" min="1" max="1000000" value="1" step="1" pattern="[0-9]"/>
                    <span class="input-group-addon" id="mea-addon" title="Bitte geben Sie hier den Miteigentumsanteil laut Grundbuchblatt mit Zähler und Nenner an.">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div style="float:left; margin-top:20px">
        <button id="seite3_back" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
        </button>
    </div>
    <div style="float:right; margin-top:20px">
        <button id="seite3_weiter" type="button" class="btn btn-primary" disabled="false">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Weiter
        </button>
    </div>
</div>
