<!DOCTYPE html>
<h5><%= title %></h5>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= layerIds.length %>">
		<span class="sr-only">Anzeige diverser Layer.</span>
	</div>
</div>
<div class="input-group">
	<span class="input-group-btn">
		<button id="play" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
		</button>
		<button id="stop" type="button" class="btn btn-default">
			<span class="glyphicon <% !_.isNull(windowsInterval) ? print ('glyphicon-pause') : print ('glyphicon-stop') %>" aria-hidden="true"></span>
		</button>
		<button id="backward" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
		</button>
		<button id="forward" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
		</button>
	</span>
	<input id="title" type="text" class="form-control" placeholder="Titel" readonly="true">
</div>