<!DOCTYPE html>
<% var filter = _.filter(brwList, function(brw) {return !brw.brwValues || (brw.brwValues.wnum && brw.brwValues.wnum === '')});
   var group = _.groupBy(filter, function(brw) {return brw.stichtag;});
   _.each(group, function (brwsZuStichtag, stichtag) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="float:left; font-size:14px;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <h2>&nbsp;<strong>Stichtag: </strong><%= stichtag%></h2>
            </div>
            <% _.each(brwsZuStichtag, function(brw) { %>
                <div class="panel-body">
                    <div class="input-group" id="<%= brw.nutzung %>_<%= brw.stichtag %>">
                        <span class="input-group-addon" id="<%= brw.nutzung %>_<%= brw.stichtag %>" title="<%= brw.art + ' für ' + brw.nutzung%>">Nutzung: <%= brw.bezeichnung%></span>
                        <input id="<%= brw.nutzung %>#<%= brw.stichtag %>" class="form-control" aria-describedby="<%= brw.nutzung %>_<%= brw.stichtag %>" type="text" placeholder="Bodenrichtwertnummer" title="Bitte Bodenrichtwertnummer zur gesuchten Nutzung, dem gesuchten Stichtag und mit Lagebezug zur gesuchten Örtlichkeit eingeben."/>
                        <span id ="<%= brw.nutzung %>_<%= brw.stichtag %>_info" class="input-group-addon brw-info" title="Klicken um Informationen zu erhalten">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            <% }); %>
<% }); %>

<button id="seite2_back" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
</button>
