<!DOCTYPE html>
<div class="base-layer-selection">
    <span class="glyphicon glyphicon-triangle-bottom"></span>
    <span class="control-label">Hintergrundkarten</span>
    <span class="glyphicon glyphicon-pushpin rotate-pin-back pull-right" data-toggle="tooltip" data-placement="bottom" title="Themenbaum fixieren/lösen"></span>
    <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Themenbaum Hilfe"></span>
</div>
<form class="form-horizontal layer-catalog">
<div class="form-group form-group-sm">
    <div class="layer-catalog-label col-md-5 col-sm-5 col-xs-5">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
        <span class="control-label catalogLabel">Fachdaten</span>
    </div>
    <% if (filter === true) { %>
    <div class="categoryLabel col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <span class="control-label">Kategorie</span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <select class="form-control">
            <% _.each(topicList, function (topic) { %>
                <% if (topic.toLowerCase() === currentSelection) { %>
                    <option <% print ("SELECTED") %>><%= topic %></option>
                <% } else { %>
                    <option><%= topic %></option>
            <% }}); %>
        </select>
    </div>
    <% } %>
</div>
</form>
<div class="layer-catalog-extern">
    <div class="layer-extern-label">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
        <span class="control-label">Externe</span>
    </div>
</div>

<div class="layer-selection">
    <div class="layer-selection-label">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
        <span class="control-label">Themenauswahl</span>
        <div class="layer-selection-save pull-right">
            <span>Auswahl speichern</span>
            <span class="glyphicon glyphicon-share"></span>
        </div>
    </div>
</div>
