<!DOCTYPE html>
<% if (isDismissable === true) { %>
    <div id="<%= id %>" class="alert <%= category %> alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
<% } else { %>
    <div id="<%= id %>" class="alert <%= category %>" role="alert">
<% } %>
    <p>
        <%= message %>
    </p>
<% if(isConfirmable) {%>
    <button type="button" class="btn btn-primary alert-confirm" data-dismiss="alert" aria-label="Close">OK
    </button>
<% }%>
</div>
