#coord-popup {
    min-width: 250px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

#coord-popup > .header {
    padding-left: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

#coord-popup > .header > .title {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(85, 85, 85);
}

#coord-popup > .header > .buttons {
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin: 0;
}

#coord-popup > .header > .buttons > span {
    padding: 8px;
    cursor: pointer;
}

#coord-popup > .header > .buttons > span:hover {
    opacity: 0.7;
}

#coord-popup > .content {
    padding-left: 10px;
    padding-bottom: 5px;
}

#coord-popup > .content > p {
    font-size: 12px;
    color: rgb(85, 85, 85);
}

#coord-popup > .content > .subtitle {
    color: rgb(182, 0, 0);
}
