@color_background: white;
@color_tooltip: black;
@color_tooltipborder: white;
@color_blue: #337ab7;

.trafficCount {
    width: 320px;
    background-color: @color_background;
    .row {
        margin: 0px;
    }
    ul {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }
    .tab-content {
        div[class^="trafficCountDiagram"] {
            .dot {
                cursor: pointer;
                stroke: none;
                fill: @color_blue;
            }

            .line {
                stroke: @color_blue;
                fill: none;
                stroke-width: 1;
            }
        }
        .graph-tooltip-div {
            display: inline-block;
            position: absolute;
            color: @color_tooltip;
            padding: 2px;
            border: 2px solid @color_tooltipborder;
            text-align: center;
            left: -200px;
        }
        .padded {
            padding-left: 5px;
            padding-right: 5px;
        }
        .dateSelector {
            width: 230px;
            float: right;
            margin-right: 70px;
            .dpinput {
                text-align: center;
                font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
                height: 35px;
            }
            button {
                height: 35px;
            }
        }
    }
}
