.tab-content {
    .dateSelector {
        width: 230px;
        .dpinput {
            text-align: center;
            font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
            height: 35px;
        }
        button {
            height: 35px;
        }
    }
}
