.gfi-schule {
    table {
        &.table {
            tbody {
                tr{
                    td {
                        &:first-child {
                            font-family: 'UniversNextW04-620CondB', 'Arial Narrow', Arial, sans-serif;
                        }
                        &:last-child {
                            text-align: right;
                        }
                    }
                    &:first-child {
                        td:last-child {
                            font-family: 'UniversNextW04-620CondB','Arial Narrow',Arial,sans-serif;
                        }
                    }
                }
            }
        }
    }
    .gfi-info {
        padding: 0 8px;
    }
    .gfi-info .details, .gfi-daten .details {
        margin-top: 5px;
    }

    .gfi-info .details p{
        padding: 0 5px;
        margin-bottom: 10px;
    }
}