<!DOCTYPE html>
<ul class="nav nav-pills">
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#daten">Daten</a></li>
    <li value= "info" class="tab-toggle"><a data-toggle="tab" href="#info">Info</a></li>
</ul>
<div class="tab-content">
    <div class="gfi-info tab-pane fade" id="info">
        <% if (level === "1-4") { %>
            <br>
            <p><b>Schulstandorte mit Jahrgängen 1 bis 4:</b></p>
            <br>
            <p>Aufgeführt sind alle Grundschulen des allgemeinbildenden Schulsystems* sowie Sonderschulen und Stadtteilschulen mit einer Primarstufe**.</p>
            <br>
            <p><b>Stadtteilschulen mit Schülerinnen und Schülern in der Primarstufe:</b></p>
            <p>Im Schuljahr 2015/16 gibt es in Hamburg insgesamt 25 Stadtteilschulen mit Schülerinnen und Schülern in der Primarstufe. Hierbei handelt es sich um Stadtteilschulen, die gleichzeitig auch einen Grundschulbereich unterhalten. Von den 25 Stadtteilschulen sind 13 Schulen staatlich und 12 Schulen nicht-staatlich.</p>
            <br>
            <p><b>Sonderschulen und ReBBZs:</b></p>
            <P>Seit der Umsetzung inklusiver Bildung an Hamburgs Schulen umfassen die Sonderschulen nur noch die speziellen Sonderschulen. Die Angebote der früheren Förder- und Sprachheilschulen, die vor 2012 auch zu den Sonderschulen zählten, wurden gemeinsam mit den Angeboten der Regionalen Beratungs- und Unterstützungsstellen (REBUS) 2012 in den Regionalen Bildungs- und Beratungszentren (ReBBZ) zu einem Angebot zusammengeführt. Auf der Karte dargestellt sind die ReBBZ unter der Schulform Sonderschule. Ausgewiesen werden nur Hauptstandorte an denen auch Kinder beschult werden. Weitere Standorte der Beratung werden in der Karte nicht ausgewiesen.</P>
            <br>
            <p><b>* Allgemeinbildende Schulen </b> vermitteln im Primarbereich die Grundlagen für eine weiterführende Bildung, im Sekundarbereich I und II eine allgemeine Grundbildung bzw. vertiefte Allgemeinbildung. Zu den allgemeinbildenden Schulen der im Bildungsatlas abgebildeten Primarstufe und der Sekundarstufe I gehören in Hamburg Grundschulen, Stadtteilschulen, Gymnasien sowie Sonderschulen.</p>
            <br>
            <p><b>** Primarstufe: </b>Die Jahrgangsstufen 1 bis 4.</p>
        <% } else if (level === "5") { %>
            <br>
            <p><b>Standorte der weiterführenden Schulen:</b></p>
            <p>Aufgeführt sind alle Standorte von Schulen der Sekundarstufe I (Stadtteilschule, Gymnasium, Sonderschule).</p>
            <br>
            <p><b>Sonderschulen und ReBBZs:</b></p>
            <p>Seit der Umsetzung inklusiver Bildung an Hamburgs Schulen umfassen die Sonderschulen nur noch die speziellen Sonderschulen. Die Angebote der früheren Förder- und Sprachheilschulen, die vor 2012 auch zu den Sonderschulen zählten, wurden gemeinsam mit den Angeboten der Regionalen Beratungs- und Unterstützungsstellen (REBUS) 2012 in den Regionalen Bildungs- und Beratungszentren (ReBBZ) zu einem Angebot zusammengeführt. Auf der Karte dargestellt sind die ReBBZ unter der Schulform Sonderschule. Ausgewiesen werden nur Hauptstandorte an denen auch Kinder beschult werden. Weitere Standorte der Beratung werden in der Karte nicht ausgewiesen.</p>
        <% } %>
    </div>
    <div class="gfi-daten tab-pane fade in active" id="daten">
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="2"><%= C_S_Name %></th>
            </tr>
            </thead>

            <tbody>
            <tr colspan="2">
                <td></td>
                <td>
                    <%= C_S_Str %> <%= C_S_HNr %>
                    <br/>
                    <%= C_S_PLZ  %> <%= C_S_Ort %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    Sozialindex:
                </td>
                <td>
                    <%= C_S_SI %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    Schwerpunktschule:
                </td>
                <td>
                    <%= SchPu_PrSt %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    Schule mit Zweigstelle:
                </td>
                <td>
                    <%= C_S_Zweig %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    Schule mit Vorschulklasse:
                </td>
                <td>
                    <%= C_S_SuS_ES %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    Schule mit Ganztagesangebot:
                </td>
                <td>
                    <%= C_S_GTA %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    Anzahl Schüler am Standort:
                </td>
                <td>
                    <%= C_S_SuS %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    &nbsp;&nbsp;davon in der Primarstufe:
                </td>
                <td>
                    <%= C_S_SuS_PS %>
                </td>
            </tr>

            <tr colspan="2">
                <td>
                    &nbsp;&nbsp;davon in der Sekundarstufe I:
                </td>
                <td>
                    <%= C_S_SuS_S1 %>
                </td>
            </tr>

            <tr colspan="2">
                <td>
                    &nbsp;&nbsp;davon in der Sekundarstufe II:
                </td>
                <td>
                    <%= C_S_SuS_S2 %>
                </td>
            </tr>

            <tr colspan="2">
                <td>
                    Website der Schule:
                </td>
                <td>
                    <%  %>
                    <a href="<%= C_S_HomP %>" target="_blank"><%= C_S_HomP.replace('https://www.','').replace('http://www.','') %></a>
                </td>
            </tr>
            <% if (Schule_SuS !== C_S_SuS) {  %>
            <tr colspan="2">
                <td>
                    Gesamtanzahl der Schüler an allen Standorten:
                </td>
                <td>
                    <%= Schule_SuS %>
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    &nbsp;&nbsp;davon in der Primarstufe:
                </td>
                <td>
                    <%= Schule_PS %>
                </td>
            </tr>

            <tr colspan="2">
                <td>
                    &nbsp;&nbsp;davon in der Sekundarstufe I:
                </td>
                <td>
                    <%= Schule_S1 %>
                </td>
            </tr>

            <tr colspan="2">
                <td>
                    &nbsp;&nbsp;davon in der Sekundarstufe II:
                </td>
                <td>
                    <%= Schule_S2 %>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>