/***** Back Forward View *****/
.backForwardButtons {
    margin-top: 30px;
}

.backForwardButtons > .glyphicon {
  cursor: pointer;
  font-size: 16px;
  padding: 4px 5px 4px 2px;
  margin-top: 4px;
}

.backForwardButtons > .glyphicon-chevron-right {
    font-size: 22px;
    padding: 7px 6px 6px 7px;
}

.backForwardButtons > .glyphicon-chevron-left {
    font-size: 22px;
    padding: 7px 6px 6px 7px;
}

@media (max-width: 767px) {
    .backForwardButtons {
        display: none;
    }
}
