<p>
    <span class="close">&times;</span>
</p>
<p>
    <strong><%= gfiTitle[gfiCounter-gfiTitle.length] %></strong>
</p>
<% if(gfiContent[gfiCounter-gfiTitle.length] !== undefined) {
    _.each(gfiContent[gfiCounter-gfiTitle.length], function(value, key) {%>
<p>
        <%= key + ': ' + value %>
</p>
<% })}; %>

<% if(gfiTitle.length > 1) { %>
<ul class="pager">
  <% if(gfiCounter-gfiTitle.length >= 1) { %>
    <li class="previous"><a href="#">&larr; zurück</a></li>
  <% } %>
  <% if(gfiCounter-gfiTitle.length < gfiTitle.length - 1) { %>
  <li class="next"><a href="#">vor &rarr;</a></li>
  <% } %>
</ul>
<% } %>