<p>
    <span class="close">&times;</span>
</p>
<h5><strong><%= gfiTitles[gfiCounter-gfiContent.length] %></strong></h5>
<table class="table table-condensed table-hover">
<% if(gfiContent[gfiCounter-gfiContent.length] !== undefined) {
    _.each(gfiContent[gfiCounter-gfiContent.length], function(value, key) { %>
<tr>
    <td><small>
        <%= key + ':'%>
    </small></td>
    <td><small>
        <% if (value.search('.html') !== -1) { %>
            <a href="<%= value%>">weitere Informationen</a>
        <% } else if (value.search('.jpg') !== -1) { %>
            <img class="gfiPic" src="<%= value%>">
        <% } else { %>
            <%= value %>
        <% } %>
    </small></td>
</tr>
<% })}; %>
</table>

<% if(gfiContent.length > 1) { %>
<ul class="pager">
  <% if(gfiCounter-gfiContent.length >= 1) { %>
    <li class="previous"><a href="#">zurück</a></li>
  <% } %>
  <% if(gfiCounter-gfiContent.length < gfiContent.length - 1) { %>
  <li class="next"><a href="#">vor</a></li>
  <% } %>
</ul>
<% } %>
