<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
            <input type="radio" name="measure" id="distanceMeasure" value="LineString">
            <label for="distanceMeasure"><small>Streckenmessung</small></label><br>
            <input type="radio"name ="measure" id="areaMeasure" value="Polygon">
            <label for="areaMeasure"><small>Flächenmessung</small></label>
            <button type="button" class="btn btn-primary pull-right">Bestätigen</button>
        </div>
    </div>
</div>
