<div class="container-fluid">
    <div id="navbarRow" class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
        <div class="collapse navbar-collapse navbar-left" style="width: 100%;">
            <ul class="nav navbar-nav">
            <% if (layerTree === true) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-list"></span>&nbsp;|&nbsp;Geodaten<b class="caret"></b>
                    </a>
                    <div id="tree" class="dropdown-menu">
                    </div>
                </li>
            <% } %>
            <% if (tools === true) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;|&nbsp;Werkzeuge<b class="caret"></b>
                    </a>
                    <ul id="tools" class="dropdown-menu">
                    </ul>
                </li>
            <% } %>
            <% if (helpButton === true) { %>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-question-sign"></span>&nbsp;|&nbsp;Hilfe
                    </a>
                </li>
            <% } %>
            <% if (contactButton === true) { %>
                <li>
                    <a href="mailto:LGVGeoPortal-Hilfe@gv.hamburg.de?subject=Frage%20zum%20HWRM-Portal&body=Zur%20weiteren%20Bearbeitung%20bitten%20wir%20Sie%20die%20nachstehenden%20Angaben%20zu%20machen.%20Bei%20Bedarf%20fuegen%20Sie%20bitte%20noch%20einen%20Screenshot%20hinzu.%20Vielen%20Dank!%0A%0A1.%20Name:%0A2.%20Telefon:%0A3.%20Anliegen:";>
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;|&nbsp;Kontakt
                    </a>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
    <div  id="toggleRow" class="row">
    </div>
</div>
