<div id="navBar" class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="#">GeoViewer</span>
    </div>
    <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-list"></span>&nbsp;|&nbsp;Layers</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>&nbsp;|&nbsp;Werkzeuge<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;Koordinate anzeigen</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Messen</a></li>
            <li><a href="#" class="active"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Informationen abfragen</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Drucken</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;|&nbsp;Hilfe</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;|&nbsp;Kontakt</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->