<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span>
            </button>
            <h4 class="modal-title" id="meinModalLabel">In meiner Nähe</h4>
        </div>
        <div class="modal-tabs">
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"id="500m"><a href="#500Meter" role="tab" data-toggle="tab">500 Meter</a></li>
              <li role="presentation" id="1000m"><a href="#1000Meter" role="tab" data-toggle="tab">1000 Meter</a></li>
              <li role="presentation" id="2000m"><a href="#2000Meter" role="tab" data-toggle="tab">2000 Meter</a></li>
          </ul>
        </div>
        <div class="modal-body">
            <table id="tablePOI">
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        </div>
    </div>
</div>
