<form class="navbar-form" role="search">
    <div class="input-group">
        <input class="form-control" type="text" placeholder="Adresssuche">
        <div class="input-group-btn">
            <button class="btn btn-default" data-toggle="dropdown">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
    <div id="autocompletePanel" class="panel panel-default">
        <div id="autocompleteBody" class="panel-body">
        </div>
    </div>
</form>