<% if (coord === true) { %>
<li id="coords">
    <a href="#"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;Koordinate anzeigen</a>
</li>
<% }
if (measure === true) { %>
<li>
    <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Messen</a>
</li>
<% }
if (gfi === true) { %>
<li>
    <a href="#"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Informationen abfragen</a>
</li>
<% }
if (print === true) { %>
<li class="divider"></li>
<li>
    <a href="#"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Drucken</a>
</li>
<% } %>
