<% if (coord === true) { %>
<li id="coordinateMenu" <% if (active === "coords") { %> class="active" <% } %>>
    <a href="#"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;Koordinate abfragen</a>
</li>
<% }
if (measure === true) { %>
<li id="measureMenu" <% if (active === "measure") { %> class="active" <% } %>>
    <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Messen</a>
</li>
<% }
if (gfi === true) { %>
<li id="gfiMenu" <% if (active === "gfi") { %> class="active" <% } %>>
    <a href="#"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Informationen abfragen</a>
</li>
<% }
if (orientation === true) { %>
<li id="orientationMenu" <% if (active === "orientation") { %> class="active" <% } %>>
    <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Standpunkt</a>
</li>
<% }
if (print === true) { %>
<li class="divider"></li>
<li id="printMenu">
    <a href="#"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Karte drucken</a>
</li>
<% } %>
