<div class="panel-heading">
    <h3 class="panel-title" style="font-size: 14px; float: left; padding: 10px 0px;"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filtereinstellungen</h3>
    <span class="close" style="padding: 8px;">×</span>
    <span class="glyphicon glyphicon-chevron-up toggleChevron"></span>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label for="" class="control-label col-md-5">Gattung</label>
            <div class="col-md-7">
                <select class="form-control input-sm" id="treeCategory">
                    <option>keine Auswahl</option>
                    <option>Sorbus aria</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="" class="control-label col-md-5">Baumart</label>
            <div class="col-md-7">
                <select class="form-control input-sm" id="treeType" disabled>
                    <option>Alle Arten</option>
                    <option>Echte Mehlbeere</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-md-5">Pflanzjahr</label>
            <div class="col-md-3">
                <input id="yearStart" type="text" class="form-control input-sm" value="1914">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div class="col-md-3">
                <input id="yearEnd" type="text" class="form-control input-sm" value="1985">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-md-5">Kronendurchmesser[m]</label>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-md-5">Stammumfang[cm]</label>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-12">
                <button id="filterbutton" class="btn btn-panel-submit col-md-12" type="button">Filtern</button>
            </div>
        </div>
    </form>
</div>
