<div class="node-button pull-right">
    <span class="glyphicon glyphicon-arrow-up"></span>
    <span class="glyphicon glyphicon-arrow-down"></span>
</div>
<div class="node-content">
    <div class="folder-icons pull-left">
    <% if (isExpanded === false) { %>
    <span class="glyphicon glyphicon-plus-sign"></span>
    <span class="glyphicon glyphicon-folder-close"></span>
    <% } else { %>
    <span class="glyphicon glyphicon-minus-sign"></span>
    <span class="glyphicon glyphicon-folder-open"></span>
    <% } %>
    </div>

    <div class="folder-name"><%= kategorie %></div>
</div>
<!-- <ul class="tree-node-children">
</ul> -->
