<% if (className === "layerByChildNode") { %>
    <div class="test2">
<% } %>
    <div class="<%= className %> <%if (visibility === false) { print('color') }%>">
        <button type="button" class="btn-glyphicon"><span><small>Transparenz:</small></span></button>
        <button type="button" class="btn-glyphicon plus"><span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px"></span></button>
        <button type="button" class="btn-glyphicon"><span class="badge" style="margin-left: 5px; margin-right: 5px;"><%= transparence + '%'%></span></button>
        <button type="button" class="btn-glyphicon minus"><span class="glyphicon glyphicon-minus-sign"></span></button>
        <button type="button" class="btn-glyphicon down"><span style="margin-left: 25px;" class="glyphicon glyphicon-arrow-down"></span></button>
        <button type="button" class="btn-glyphicon up"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button type="button" class="btn-glyphicon refresh pull-right"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
<% if (className === "layerByChildNode") { %>
    </div>
<% } %>
