<div class="panel-heading">
    <h3 class="panel-title" style="font-size: 14px; float: left; padding: 10px 0px;"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filtereinstellungen</h3>
    <span class="close" style="padding: 8px;">×</span>
    <span class="glyphicon glyphicon-chevron-up toggleChevron"></span>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Gattung</label>
            <div class="col-xs-7">
                <select class="form-control input-sm" id="treeCategory">
                    <option>keine Auswahl</option>
                    <option>Sorbus aria</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Baumart</label>
            <div class="col-xs-7">
                <select class="form-control input-sm" id="treeType" disabled>
                    <option>Alle Arten</option>
                    <option>Echte Mehlbeere</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Pflanzjahr</label>
            <div id="yearMin" class="col-xs-3">
                <input type="text" class="form-control input-sm" value="1914">
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div id="yearMax" class="col-xs-3">
                <input type="text" class="form-control input-sm" value="1985">
            </div>
            <br>
            <span id="yearError" class="col-xs-7 col-xs-offset-5 treeFilterError"></span>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Kronendurchmesser[m]</label>
            <div id="diameterMin" class="col-xs-3">
                <input type="text" class="form-control input-sm" value="1">
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div id="diameterMax" class="col-xs-3">
                <input type="text" class="form-control input-sm" value="50">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Stammumfang[cm]</label>
            <div id="perimeterMin" class="col-xs-3">
                <input type="text" class="form-control input-sm" value="1">
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div id="perimeterMax" class="col-xs-3">
                <input type="text" class="form-control input-sm" value="100">
            </div>
        </div>
        <div id="errorPerimeter" class="col-xs-7 col-xs-offset-5" style="float: right; font-size: 11px; color: #a94442;"></div>
        <div class="form-group form-group-sm">
            <div class="col-xs-12">
                <button id="filterRemoveButton" class="btn btn-panel-submit col-xs-5" type="button">Aufheben</button>
                <button id="filterbutton" class="btn btn-panel-submit col-xs-5 col-xs-offset-2" type="button">Filtern</button>
            </div>
        </div>
    </form>
</div>
