<div class="panel-heading">
    <h3 class="panel-title" style="font-size: 14px; float: left; padding: 10px 0px;"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filtereinstellungen</h3>
    <span class="close" style="padding: 8px;">×</span>
    <span class="glyphicon glyphicon-chevron-up toggleChevron"></span>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Gattung</label>
            <div class="col-xs-7">
<!--
                <div class="input-group">
            <input id="searchInput" class="form-control" type="text" value="" placeholder="Adresssuche">
            <div class="input-group-btn">
            <button class="btn btn-default" data-toggle="dropdown">
            <i class="glyphicon glyphicon-search"></i>
            </button>
            </div>
            </div>
-->
                <select class="form-control input-sm" id="treeCategory">
                    <option <% if (treeCategory === "keine Auswahl") print ('selected') %>>keine Auswahl</option>
                    <% var sortTrees = _.sortBy(trees, function (tree) { return tree.displayGattung });
                    _.each(sortTrees, function (tree, index) { %>
                        <option value="<%= tree.Gattung %>" <% if (treeCategory === tree.Gattung) print ('selected') %>><%= tree.displayGattung %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Baumart</label>
            <div class="col-xs-7">
                <select class="form-control input-sm" id="treeType" <% if (treeCategory === "keine Auswahl") print ('disabled') %>>
                    <option <% if (treeType === "Alle Arten") print ('selected') %>>Alle Arten</option>
                    <% var treesByCategory = _.where(trees, {Gattung: treeCategory})[0];
                    if(treesByCategory !== undefined) {
                        var sortTypes = _.sortBy(treesByCategory.Arten, function(type) { return type.display});
                        _.each(sortTypes, function (type, index) { ;%>
                            <option value="<%= type.species %>" <% if (treeType === type.species) print ('selected') %>><%= type.display %></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Pflanzjahr</label>
            <div id="yearMin" class="col-xs-3 <% if (errors.yearError !== undefined) print('has-error') %>">
                <input type="text" class="form-control input-sm" value=<%= yearMin %>>
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div id="yearMax" class="col-xs-3 <% if (errors.yearError !== undefined) print('has-error') %>">
                <input type="text" class="form-control input-sm" value=<%= yearMax %>>
            </div>
            <br>
            <% if (errors.yearError !== undefined) { %>
                <span id="yearError" class="col-xs-7 col-xs-offset-5 treeFilterError"><%= errors.yearError %></span>
            <% } %>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Kronendurchmesser[m]</label>
            <div id="diameterMin" class="col-xs-3">
                <input type="text" class="form-control input-sm" value=<%= diameterMin %>>
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div id="diameterMax" class="col-xs-3">
                <input type="text" class="form-control input-sm" value=<%= diameterMax %>>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-xs-5">Stammumfang[cm]</label>
            <div id="perimeterMin" class="col-xs-3">
                <input type="text" class="form-control input-sm" value=<%= perimeterMin %>>
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-minus" style="vertical-align: bottom;"></span>
            </div>
            <div id="perimeterMax" class="col-xs-3">
                <input type="text" class="form-control input-sm" value=<%= perimeterMax %>>
            </div>
        </div>
        <div id="errorPerimeter" class="col-xs-7 col-xs-offset-5" style="float: right; font-size: 11px; color: #a94442;"></div>
        <div class="form-group form-group-sm">
            <div class="col-xs-12">
                <button id="filterRemoveButton" class="btn btn-panel-submit col-xs-5" type="button">Aufheben</button>
                <button id="filterbutton" class="btn btn-panel-submit col-xs-5 col-xs-offset-2" type="button">Filtern</button>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer text-right">
    Anzahl der gefilterten Bäume: <strong id="treeCounter"><%= filterHits %></strong>
</div>
