<% if (isCollapsed === false) { %>
    <div class="win-heading">
        <span class="glyphicon glyphicon-print win-icon"></span>
        <span class="win-title">Druckeinstellungen</span>
        <span class="glyphicon glyphicon-remove win-close"></span>
        <span class="glyphicon glyphicon-minus win-minimize"></span>
    </div>
    <!-- <div class="win-body">
    </div> -->
<% } else { %>
    <div class="win-heading">
        <span class="glyphicon glyphicon-print win-icon win-maximze"></span>
        <span class="win-title win-maximze">Druckeinstellungen</span>
        <span class="glyphicon glyphicon-remove win-close"></span>
    </div>
<% } %>
