<div class="<%if (visibility === false) { print('color') }%>">
    <% if(settings === false) {%>
        <% if(visibility === true) {%>
            <span class="glyphicon glyphicon-check"></span>
        <% } else { %>
            <span class="glyphicon glyphicon-unchecked"></span>
        <% } %>
        <small><%= name %></small>
        <span class="glyphicon glyphicon-refresh pull-right"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span class="glyphicon glyphicon-minus-sign"></span>
        <span style="margin-left: 10px;"><small>Transparenz</small></span>
        <span class="badge" style="margin-left: 10px;"><%= transparence + '%'%></span></a>
        <span class="glyphicon glyphicon-refresh pull-right"></span>
        <span class="glyphicon glyphicon-info-sign pull-right" style="margin-right: 10px;"></span>
    <% } %>
</div>
<!--
<div class="row <%if (visibility === false) { print('color') }%>">
    <div class="col-md-7 col-xs-7 col-md-offset-1 col-xs-offset-1">
        <span><small>Transparenz</small></span>
        <span class="badge"><%= transparence + '%'%></span></a>
    </div>
    <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1 text-center">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span class="glyphicon glyphicon-minus-sign"></span>

<!--    </div>-->
    <!--<div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1 text-center">-->
    <!--    <span class="glyphicon glyphicon-upload"></span>-->
    <!--    <span class="glyphicon glyphicon-download"></span>-->
    <!--</div>-->
<!--</div>-->
