.compare-feature-modal {
    /*
        bootstrap modal default is 1050, bootstrap tooltip default is 1070
        so that it is above others, for example gfi
    */
    z-index: 1080;
    font-size: 14px;
}

.compare-feature-modal label {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    padding-top: 7px;
}

.compare-feature-modal .modal-title {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.compare-feature-modal .modal-lg .modal-body {
    overflow: auto;
}

.compare-feature-modal .modal-sub-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.compare-feature-modal .modal-lg .modal-footer {
    text-align: center;
}

.compare-feature-modal .toggle-row {
    display: none;
}

.compare-feature-modal .btn {
    background-color: rgb(0, 92, 169);
}

.compare-feature-modal .btn:hover {
    opacity: 0.9;
}

.compare-feature-modal table button {
    font-size: 25px;
    margin-top: -6px;
}

.compare-feature-modal tr:first-child td {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    border-top: 0;
}

.compare-feature-modal tr:first-child .col-1:first-child {
    color: transparent;
    border: none;
}

.compare-feature-modal .col-1 {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.compare-feature-modal td, .compare-feature-modal thead th {
    border-left: 1px solid #ddd;
}
