<!DOCTYPE html>
<span class="layer-item pull-left">
    <span class="tablefont pull-left">
        <% if (isVisibleInMap === true) { %>
        <div id="isActivated">
            <span class="icon-checkbox pull-left" title="Layer ausschalten"></span><span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span></span></div>
        <% } else { %>
            <span class="icon-checkbox2 pull-left" title="Layer einschalten"></span><span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span></span>
        <% } %>

    </span>
</span>
<span class="pull-right">
    <span class="icon-info" data-toggle="tooltip" data-placement="bottom" title="Informationen und Legende"></span>
</span>
