<!DOCTYPE html>
<span class="layer-item pull-left">
    <span class="pull-left">
        <% if (isVisibleInMap === true) { %>
            <span class="icon-checkbox pull-left" title="Layer ausschalten"></span>
        <% } else { %>
            <span class="icon-checkbox2 pull-left" title="Layer einschalten"></span>
        <% } %>
        <span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span>
    </span>
</span>
<span class="pull-right">
    <span class="icon-info" data-toggle="tooltip" data-placement="bottom" title="Informationen und Legende"></span>
</span>
