/***** Destop *****/
.wfslist-list-button {
    position: relative;
    left: 35%;
    display: none;
}

.wfslist-details-li {
    cursor: text;
}

.wfslist-details-ul {
    max-height: 400px;;
    overflow: auto;
    cursor: auto;
}

.wfslist-list-table-td {
    height: 15px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.wfslist-list-table-tr{
    cursor: pointer;
}

.wfslist-details {
    display: none;
    width: 100%;
    max-width: 500px;
    max-height: 800px;
}

.wfslist-list {
    display: none;
    max-width:500px;

}

.wfslist-list-table {
    max-height: 400px;
}

.wfslist-themes {
    width: 100%;
}

.wfslist-win {
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 25%;
    margin: 60px 10px 30px 10px;
    display: none;
    background-color: rgb(255, 255, 255);
}

.wfslist-win > .wfslist-win-header {
    color: #777;
    cursor: move;
}

.wfslist-win > .wfslist-win-content {
    overflow-y: auto;
    padding: 5px;
}

.wfslist-win-header {
    padding-left: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.wfslist-win-header > .title {
    white-space: nowrap;
    min-width: 250px;
    cursor: move;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: rgb(85, 85, 85);
}

.wfslist-win-header > .buttons {
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.wfslist-win-header > .buttons > span {
    padding: 8px 3px;
}

.wfslist-win-header > .buttons > span:hover:not(.win-icon) {
    opacity: 0.7;
    cursor: pointer;
}

.wfslist-win-content > .panel-group {
    padding: 12px;
    margin-bottom: 0;
}

.wfslist-win-content > .panel-group .panel {
    margin-top: 8px;
}

.wfslist-heading {
    padding: 8px;
}

.wfslist-heading > .wfslist-title {
    font-size: 12px;
}

/***** Mobil *****/
.wfslistModal {
    background-color: rgb(255, 255, 255);
    /*background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: rgb(85, 85, 85);
    border-bottom: 1px solid rgb(229, 229, 229);
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    padding: 10px;
}

.wfslistModal > button {
    padding: 4px 0px;
}

.wfslistModal > h4 > span {
    padding: 0 8px;
}

.panel-heading {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.tdwfslist {
    padding: 3px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.tdwfslist > img {
    max-height: 35px;
}

.panel-wfslist {
    overflow-x: auto;
    max-height: 300px;
    padding: 8px;
}

.panel-wfslist > p {
    margin: 0;
}
