
.schulname {
    font-weight:bold;
}

.address {
    float: right;
}

/*.gfi_window {
    z-index: 1000;
    width: 220px;
    background: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
    zoom: 1;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #999999;
    line-height: 1.3em;
    color: #646262;
}*/

.gfi-content {
    font-size: 13px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 400px;
}

.gfi > .gfi-header {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.gfi-header {
    background: #FFF;
    margin-bottom: 8px;
}

.table-condensed > tbody > tr > td:first-child {
    font-style: italic;
}

.table-condensed > tbody > tr > td:last-child {
    font-weight: bold;
    text-align: right;
}