<!DOCTYPE html>


<div class="schulname"><%= C_S_Name %></div>

<div class="adresse">
    <div><%= C_S_Str %> <%= C_S_HNr %></div>
    <div><%= C_S_PLZ  %> <%= C_S_Ort %></div>
</div>

<div>Sozialindex: <%= C_S_SI %></div>
<div>Schwerpunktschule: <%= SchPu_PrSt %></div>
<div>Schule mit Zweigstelle: <%= C_S_Zweig %></div>

<div>Schule mit Vorschulklasse: <%= C_S_SuS_ES %></div>
<div>Schule mit Ganztagesangebot: <%= C_S_GTA %></div>

<div>Anzahl Schüler am Standort: <%= Schule_SuS %></div>
<div>davon in der Primarstufe: <%= Schule_PS %></div>
<div>davon in der Sekundarstufe I: <%= Schule_S1 %></div>
<div>davon in der Sekundarstufe II: <%= Schule_S2 %></div>

<div>Website der Schule:</div>
<div><%= C_S_HomP %></div>

<div>Adresse des Hauptstandortes:</div>
<div><%= Str_Haupts  %>+ <%= HNr_Haupts %></div>
<div><%= PLZ_Haupts  %>+ <%= C_S_Ort %></div>

<div>Gesamtanzahl der Schüler an allen Standorten: <%= C_S_SuS %></div>
<div>davon in der Primarstufe: <%= C_S_SuS_PS %></div>
<div>davon in der Sekundarstufe I: <%= C_S_SuS_S1 %></div>
<div>davon in der Sekundarstufe II: <%= C_S_SuS_S2 %></div>

<div>Sie können die Position des Fensters durch Drag&Drop der Kopfzeile ändern.</div>
