<!DOCTYPE html>

<% if (dataReceived) { %>
    <div class="heading additional-text"><%=confidentialityHint%>:</div>
    <table class="table">
        <% if (data.quelle_fhh !== "nein") { %>
            <tr>
                <td><%=populationFHH%>:</td>
                <td><%=data.einwohner_fhh%></td>
            </tr>
        <% } %>
        <% if (data.quelle_mrh !== "nein") { %>
            <tr>
                <td><%=populationMRH%>:</td>
                <td><%=data.einwohner_mrh%></td>
            </tr>
        <% } %>
            <tr>
                <td><%=areaSize%>:</td>
                <td><%=data.suchflaeche%></td>
            </tr>
    </table>
    <% if (data.einwohner_fhh > 0) { %>
        <div class="hinweis additional-text">
            <span><%=hint%>:</span>&nbsp;<%=confidentialityHintSmallValues%> 
            <br>
            <!--Datum 31.12.2017-->
            <span><%=dataSourceFHHKey%>:</span>&nbsp;<%=dataSourceFHHValue%>&nbsp;<%=fhhDate%>.
        </div>
        <div><a target="_blank" href="<%= metaDataLink + fhhId %>"><%=dataSourceFHHLinktext%></a></div>
    <% } %>
    <% if (data.einwohner_mrh > 0) { %>
        <div class="hinweis additional-text">
            <% if (data.quelle_mrh === "tlw" && data.quelle_fhh === "nein") { %>
                <span><%=hint%>:</span>&nbsp;<%=sourceAreaOutside%>
            <% } %>
            <!--Datum 09.05.2011-->
            <span><%=dataSourceMRHKey%>:</span>&nbsp;<%=dataSourceMRHValue%>
        </div>
        <div><a target="_blank" href="<%= metaDataLink + mrhId %>"><%=dataSourceMRHLinktext%></div>
    <% } %>
<% } else { %>
    <% if (requesting) { %>
        <div id="einwohner-loader"><img src="<%= this.model.get('loaderPath')%>"></div>
    <% } %>
<%}%>

