<!DOCTYPE html>
<span class="selected-layer-item">
    <span class="glyphicon glyphicon-remove-circle pull-left"></span>
    <span class="pull-left">
        <% if (isVisibleInMap === true) { %>
            <span class="glyphicon glyphicon-check pull-left"></span>
        <% } else { %>
            <span class="glyphicon glyphicon-unchecked pull-left"></span>
        <% } %>
        <span class="title"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span>
    </span>
</span>

<span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Informationen und Legende"></span>

<span class="layer-info-item">
    <span class="glyphicon glyphicon-cog rotate pull-right"></span>
</span>

