<!DOCTYPE html>
<span class="selected-layer-item">
    <span class="glyphicon glyphicon-remove pull-left"></span>
    <span class="pull-left">
        <% if (isVisibleInMap === true) { %>
            <span class="glyphicon glyphicon-check pull-left"></span>
        <% } else { %>
            <span class="glyphicon glyphicon-unchecked pull-left"></span>
        <% } %>
        <span class="title"><%= name %></span>
    </span>
</span>
<span class="layer-info-item">
    <span class="glyphicon glyphicon-cog rotate"></span>
</span>
