@color_1: #000;
@background_color_1: buttonface;

.tool_download a {
	color: @color_1;
}
.tool_download .downloadFile {
	background-color: @background_color_1;
	text-decoration: none;
	padding: 0px;
}

.tool_download .disabled {
	cursor: not-allowed;
}