.text-align-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.chart {
    width: 500px;
    height: 200px;
}
/*.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: #F00;
  stroke: #F00;
  shape-rendering: crispEdges;
}*/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.dot {
    /*cursor: pointer;*/
    stroke: none;
    fill: steelblue;
}
.domain {
    fill: none;
    stroke:#000;
}
.tooltip {
    fill: steelblue;
    color: red;
}
