.text-align-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.graph {
    width: 500px;
    height: 200px;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.dot {
    cursor: pointer;
    stroke: none;
    fill: steelblue;
}
.dot_visible {
    cursor: pointer;
    stroke: none;
    fill: red;
}
.dot_invisible {
    display: none;
}
.domain {
    fill: none;
    stroke:#000;
}
.tooltip {
    display: inline;
    position: relative;
    color: black;
    background: gray;
    padding: 2px;
    height: 22px;
    border-radius: 10px !important;
    border: 2px solid white;
    text-align: center;
}

