.text-align-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.chart {
    width: 500px;
    height: 200px;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.dot {
    cursor: pointer;
    stroke: none;
    fill: steelblue;
}
.domain {
    fill: none;
    stroke:#000;
}
.tooltip {
    position: relative;
    /*fill: steelblue;*/
    color: black;
    background: gray;
    width: 50px;
    border-radius: 10px !important;
    text-align: center;
}
