<div class="panel panel-default grenznachweisdiv">
    <div class="panel-body">
        <div class="beschreibunggrenznachweis" <% if (activeDIV==='kundendaten') {print ('style="display:none;"');} %> >
            <div class="form-group <% if (errors.auftragsnummer !== undefined) print('has-error') %>">
                <p class="formularhead">Ihre Auftragsnummer</p>
                <input id="auftragsnummer" type="text" class="form-control" title="Hier können Sie Ihre Auftragsnummer zur Identifikation angeben. " placeholder="Ihre Auftragsnummer" aria-describedby="sizing-addon2" value="<%=auftragsnummer%>">
                <% if (errors.auftragsnummer !== undefined) { %>
                    <span id="auftragsnummerError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.auftragsnummer %></span>
                <% } %>
            </div>
            <div class="form-group <% if (errors.lage !== undefined) print('has-error') %>">
                <p class="formularhead2">Lagebeschreibung*</p>
                <textarea id="lagebeschreibung" class="form-control" title="Bitte geben Sie eine Lagebezeichnung über Gemarkung/Flurstück oder über Straße/Hausnummer an." placeholder="Flurstücks- und / oder Lagebezeichnung" maxlength=300 rows=2 aria-describedby="sizing-addon2"><%=lage%></textarea>
                <% if (errors.lage !== undefined) { %>
                    <span id="lageError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.lage %></span>
                <% } %>
            </div>
            <p class="formularhead2">Zweck*</p>
            <div class="container-fluid <% if (errors.zweck !== undefined) print('has-error') %>">
                <div class="row grenznachweisrow">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <h5>
                                <label class="grenznachweiszweck">
                                    <input id="zweckGebaeudeabsteckung" type="checkbox" <% if (zweckGebaeudeabsteckung === true) {print (' checked')} else {print (' unchecked')}; %>>
                                </label>Gebäudeabsteckung
                            </h5>
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <h5>
                                <label class="grenznachweiszweck">
                                    <input id="zweckLageplan" type="checkbox" <% if (zweckLageplan === true) {print (' checked')} else {print (' unchecked')}; %>>
                                </label>Lageplan
                            </h5>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row grenznachweisrow">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <h5>
                                <label class="grenznachweiszweck">
                                    <input id="zweckGebaeudeeinmessung" type="checkbox" <% if (zweckGebaeudeeinmessung === true) {print (' checked')} else {print (' unchecked')}; %>>
                                </label>Gebäudeeinmessung
                            </h5>
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <h5>
                                <label class="grenznachweiszweck">
                                    <input title="Bitte ggf. im Freitextfeld näher erläutern." id="zweckSonstiges" type="checkbox" <% if (zweckSonstiges === true) {print (' checked')} else {print (' unchecked')}; %>>
                                </label>Sonstiges
                            </h5>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <% if (errors.zweck !== undefined) { %>
                    <span id="zweckError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.zweck %></span>
                <% } %>
            </div>
            <p class="formularhead2">Freitext</p>
            <textarea id="freitext" class="form-control" title="Detaillierte Informationen." placeholder="Was wir sonst noch wissen sollten, um Ihren Auftrag ausführen zu können?" maxlength=600 rows=4 aria-describedby="sizing-addon2"><%=freitext%></textarea>
            <p class="formularhead2">Umringe erfassen*</p>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button id="setgeometrie" type="button" class="
                        <% if (source.getFeatures().length === 0 && activatedInteraction === false) {print ('btn btn-primary">Starten');}
                        else if (source.getFeatures().length === 0 && activatedInteraction === true) {print ('btn btn-primary active"> Beenden');}
                        else if (source.getFeatures().length > 0 && activatedInteraction === false) {print ('btn btn-default">Starten');}
                        else if (source.getFeatures().length > 0 && activatedInteraction === true) {print ('btn btn-default active">Beenden');} %></button>
                </div>
                <div class="btn-group" role="group">
                    <button id="removegeometrie" type="button" class="btn btn-default" <% if (source.getFeatures().length === 0) {print ('disabled')}; %> >alle löschen</button>
                </div>
            </div>
            <% if (errors.source !== undefined) { %>
                <span id="sourceError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.source %></span>
            <% } %>
        </div>

        <div class="kundendatengrenznachweis" <% if (activeDIV==='beschreibung') {print ('style="display:none;"');} %> >
            <p class="formularhead">Kundendaten:</p>
            <ul class="nav nav-pills">
                <li id="anrede1" role="presentation" class="<% if (kundenanrede === 'Herr') {print ('active')}; %>"><a id="anredeherr" href="#">Herr</a></li>
                <li id="anrede2" role="presentation" class="<% if (kundenanrede === 'Frau') {print ('active')}; %>"><a id="anredefrau" href="#">Frau</a></li>
                <li id="anrede3" role="presentation" class="<% if (kundenanrede === 'Firma') {print ('active')}; %>"><a id="anredefirma" href="#">Firma</a></li>
            </ul>
            <div class="formulargroup input-group  <% if (errors.kundennummer !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">Kundennr.</span>
                <input id="kundennummer" type="text" class="form-control" placeholder="Kundennummer, sofern bekannt" aria-describedby="basic-addon1" value="<%=kundennummer%>">
            </div>
            <% if (errors.kundennummer !== undefined) { %>
                <span id="kundennummerError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundennummer %></span>
            <% } %>
            <div class="formulargroup input-group  <% if (errors.kundenname !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">Name*</span>
                <input id="kundenname" type="text" class="form-control" placeholder="Vor- und Nachname" aria-describedby="basic-addon1" value="<%=kundenname%>">
            </div>
            <% if (errors.kundenname !== undefined) { %>
                <span id="kundennameError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenname %></span>
            <% } %>
            <% if (kundenanrede === 'Firma') { %>
                <div class="formulargroup input-group  <% if (errors.kundenfirma !== undefined) print('has-error') %>">
                    <span class="input-group-addon grenznachweisfirma" id="basic-addon1">Firma*</span>
                    <input id="kundenfirma" type="text" class="form-control" placeholder="Firmenname" aria-describedby="basic-addon1" value="<%=kundenfirma%>">
                </div>
                <% if (errors.kundenfirma !== undefined) { %>
                    <span id="kundenfirmaError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenfirma %></span>
                <% } %>
            <% } %>
            <div class="formulargroup input-group  <% if (errors.kundenadresse !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">Adresse*</span>
                <input id="kundenadresse" type="text" class="form-control" placeholder="Straße und Hausnummer" aria-describedby="basic-addon1" value="<%=kundenadresse%>">
            </div>
            <% if (errors.kundenadresse !== undefined) { %>
                <span id="kundenadresseError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenadresse %></span>
            <% } %>
            <div class="formulargroup input-group  <% if (errors.kundenort !== undefined || errors.kundenplz !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">PLZ*</span>
                <input style="width:70px;" id="kundenplz" type="text" class="form-control" placeholder="PLZ" aria-describedby="basic-addon1" value="<%=kundenplz%>">
                <span class="input-group-addon" id="basic-addon1">Ort*</span>
                <input id="kundenort" type="text" class="form-control" placeholder="Ort" aria-describedby="basic-addon1" value="<%=kundenort%>">
            </div>
            <% if (errors.kundenplz !== undefined) { %>
                <span id="kundenplzError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenplz %></span>
            <% } %>
            <% if (errors.kundenort !== undefined) { %>
                <span id="kundenortError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenort %></span>
            <% } %>
            <div class="formulargroup input-group  <% if (errors.kundenemail !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">E-Mail*</span>
                <input id="kundenemail" type="text" class="form-control" placeholder="E-Mail" aria-describedby="basic-addon1" value="<%=kundenemail%>">
            </div>
            <% if (errors.kundenemail !== undefined) { %>
                <span id="kundenemailError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenemail %></span>
            <% } %>
            <div class="formulargroup input-group  <% if (errors.kundenfestnetz !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">Festnetz</span>
                <input id="kundenfestnetz" type="text" class="form-control" placeholder="Telefonnummer im Festnetz" aria-describedby="basic-addon1" value="<%=kundenfestnetz%>">
            </div>
            <% if (errors.kundenfestnetz !== undefined) { %>
                <span id="kundenfestnetzError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenfestnetz %></span>
            <% } %>
            <div class="formulargroup input-group  <% if (errors.kundenmobilfunk !== undefined) print('has-error') %>">
                <span class="input-group-addon" id="basic-addon1">Mobilfunk</span>
                <input id="kundenmobilfunk" type="text" class="form-control" placeholder="Telefonnummer im Mobilfunknetz" aria-describedby="basic-addon1" value="<%=kundenmobilfunk%>">
            </div>
            <% if (errors.kundenmobilfunk !== undefined) { %>
                <span id="kundenmobilfunkError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.kundenmobilfunk %></span>
            <% } %>
            <div class="<% if (errors.nutzungsbedingungakzeptiert !== undefined || errors.gebuehrenordnungakzeptiert !== undefined) print('has-error') %>">
                <p class="formularhead2">Vertragsbestandteile:</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input id="nutzungsbedingungen" type="checkbox" aria-label="..."<% if (nutzungsbedingungakzeptiert === true) {print (' checked')}; %>>
                    </span>
                    <p id="nutzungsbedingungentext" class="form-control">Ich akzeptiere die
                        <a target="_blank" href="http://www.hamburg.de/contentblob/350818/data/nutzungsbedingungen.pdf">Nutzungsbedingungen</a>.
                    </p>
                </div><!-- /input-group -->
                <% if (errors.nutzungsbedingungakzeptiert !== undefined) { %>
                    <span id="nutzungsbedingungakzeptiertError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.nutzungsbedingungakzeptiert %></span>
                <% } %>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input id="gebuehrenordnung" type="checkbox" aria-label="..."<% if (gebuehrenordnungakzeptiert === true) {print (' checked')}; %>>
                    </span>
                    <p id="gebuehrenordnungtext" class="form-control">Ich nehme die
                        <a target="_blank" href="http://www.hamburg.de/contentblob/322288/data/d-gebuehrenordnung.pdf">Gebührenordnung</a> zur Kenntnis.
                    </p>
                </div><!-- /input-group -->
                <% if (errors.gebuehrenordnungakzeptiert !== undefined) { %>
                    <span id="gebuehrenordnungakzeptiertError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext"><%= errors.gebuehrenordnungakzeptiert %></span>
                <% } %>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button id="zurueck" type="button" class="btn btn-default <% if (zurueckButton.enabled === false) {print (' disabled')} else {print (' enabled')}; %>"><%=zurueckButton.name%></button>
            </div>
            <div class="btn-group" role="group">
                <button id="weiter" type="button" class="btn btn-primary <% if (weiterButton.enabled === false) {print (' disabled')} else {print (' enabled')}; %>"><%=weiterButton.name%></button>
            </div>
        </div>
        <% if (errors.bestelldaten !== undefined) { %>
            <span id="bestelldatenError" class="col-xs-8 col-xs-offset-5 grenznachweiserrortext formulargroup"><%= errors.bestelldaten %></span>
        <% } %>
    </div>
</div>
