@color_1: #a94442;

.formularhead2 {
    padding-left: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.formularhead {
    padding-left: 4px;
    margin-bottom: 5px;
}
.formulargroup {
    margin-top: 10px;
}
.grenznachweiserrortext {
    color: @color_1;
}
.grenznachweiszweck {
    padding-top: 5px;
}
.grenznachweisrow {
    padding-left: 5px;
    padding-right: 5px;
}
.grenznachweisdiv {
    max-height: inherit;
    width: 500px;
}
