.formularhead2 {
    padding-left: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.formularhead {
    padding-left: 4px;
    margin-bottom: 5px;
}
.formulargroup {
    margin-top: 10px;
}
.kundendatengrenznachweis{
    display: none;
}
