.tree-light-list {
    padding: 4px 0;
    color: rgb(85, 85, 85);
    font-size: 12px;
}

.tree-light-list > .layer > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.layer > div > button {
    font-size: 16px;
}

.layer > div > .name {
    padding: 8px 0;
    vertical-align: sub;
}

.layer > div > .buttons {
    padding: 4px 7px;
}

.buttons:hover, .name:hover {
    cursor: pointer;
    opacity: 0.6;
}

.layer > div > button > span {
    vertical-align: middle;
}

.text {
    padding-left: 10px;
    vertical-align: sub;
}
