<div class="row layer">
        <div class="col-md-9 col-xs-9">
            <% if(visibility === true) { %>
                <button type="button" class="btn-glyphicon check buttons" data-toggle="tooltip" data-placement="bottom" title="Layer ausschalten"><span class="glyphicon glyphicon-check"></span></button>
            <% } else { %>
                <button type="button" class="btn-glyphicon unchecked buttons"><span class="glyphicon glyphicon-unchecked" data-toggle="tooltip" data-placement="bottom" title="Layer einschalten"></span></button>
            <% } %>
            <span class="name" title="<%= name %>"><%= name %></span>
        </div>
        <div class="col-md-3 col-xs-3">
            <% if (!_.isNull(metaURL)) { %>
            <button type="button" class="btn-glyphicon info buttons" data-toggle="tooltip" data-placement="bottom" title="Metadaten"><span class="glyphicon glyphicon-info-sign"></span></button>
            <% } %>
            <button type="button" class="btn-glyphicon refresh buttons" data-toggle="tooltip" data-placement="bottom" title="Layer stylen"><span class="glyphicon glyphicon-cog"></span></button>
        </div>
</div>
