/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/

@color_1: #f3f3f3;
@color_2: #E10019;
@color_3: #F3F3F3;
@font_family_1: "MasterPortalFont Bold","Arial Narrow",Arial,sans-serif;
@background_color_1: #E10019;
@background_color_2: rgb(8,88,158);
@background_color_3: #f3f3f3;
