.gfi-balkendiagramm {
    table {
        &.table {
            tbody {
                tr{
                    td {
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    .panel {
        &.grahpHeader{
            padding: 0 8px 8px;
            border-bottom: 2px solid #ddd;
        }
    }
    .graph{
        .bargraph {
            fill: #d76629;
            &:hover {
                fill: #337ab7;
            }
        }
    }
}
