
.gfi-content {
    z-index: 1000;
    font-size: 12px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 420px;
    line-height: 1.3em;
    color: #646262;
}

.gfi-detached {
    z-index: 9999;
}
.gfi > .gfi-header {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.gfi-header {
    background: #FFF;
    margin-bottom: 0px;
}

table {
    tbody {
        tr {
            td:first-child {
                font-family: 'UniversNextW04-620CondB', 'Arial Narrow', Arial, sans-serif;
            }
            td:last-child:not(:first-child) {
                text-align: right;
            }
        }
    }
}

.gfi-info {
    padding: 0 8px;
}

.panel.bikeLevelHeader {
    padding: 0 8px 8px;
    border-bottom: 2px solid #ddd;
}

.gfi-bakendiagramm {
    .graph{
        .bargraph {
            fill: #d76629;
            &:hover {
                fill: #337ab7;
            }
        }
    }
}
