<!DOCTYPE html>
<table class="table table-striped details">
    <thead>
        <tr>
            <th colspan="2"><%= Stadtteil %></th>
        </tr>
        <tr>
            <th colspan="2"><%= Title %></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <%= Stadtteil %>
            </td>
            <td>
                <%= year_2017 %>
            </td>
        </tr>
        <tr>
            <td>
                Bezirk <%= Bezirk %>
            </td>
            <td>
                <%= Summe_bezirk %>
            </td>
        </tr>
        <tr>
            <td>
                Hamburg
            </td>
            <td>
                <%= Summe_hamburg %>
            </td>
        </tr>
    </tbody>
</table>
<div class="diagram">
    <h3>
        Kennzahl im Zeitverlauf
    </h3>
</div>
<h4>
    *g.F: geringe Fallzahlen. Die Werte konnten aus datenschutzrechtlichen Gründen nicht ausgewiesen werden oder das Gebiet ist unbewohnt.
</h4>
<p>
    Sie können die Position des Fensters durch Drag&Drop ändern
</p>