<!DOCTYPE html>
<ul class="nav nav-pills">
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#daten">Daten</a></li>
    <li value= "info" class="tab-toggle"><a data-toggle="tab" href="#info">Info</a></li>
</ul>
<div class="tab-content">
    <div class="gfi-info tab-pane fade" id="info">
        <h5><b>Schulstandorte mit Jahrgängen 1 bis 4:</b></h5>
        <p>Aufgeführt sind alle Grundschulen des allgemeinbildenden Schulsystems* sowie Sonderschulen und Stadtteilschulen mit einer Primarstufe**.</p>
    </div>
    <div class="gfi-daten tab-pane fade in active" id="daten">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2"><%= Title %></th>
                </tr>
                <tr>
                    <th colspan="2"><%= description %></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <%= Name %>
                    </td>
                    <td>
                        <%= latestStatistic %>
                    </td>
                </tr>
                <% if (typeof StadtteilGesamt !== "undefined") { %>
                <tr>
                    <td>
                        <%= Stadtteil %>
                    </td>
                    <td>
                        <%= StadtteilGesamt %>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td>
                        Bezirk <%= Bezirk %>
                    </td>
                    <td>
                        <%= BezirkGesamt %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Hamburg
                    </td>
                    <td>
                        <%= HHGesamt %>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <% if (typeof latestStatistic === "number") { %>
        <div class="panel bikeLevelHeader" id="chart">
            <b>Kennzahl im Zeitverlauf</b>
        </div>
        <div id="d3-div" class="graph">
            <div class="graph-tooltip-div"></div>
        </div>
        <% } %>
        <p>
            *g.F: geringe Fallzahlen. Die Werte konnten aus datenschutzrechtlichen Gründen nicht ausgewiesen werden oder das Gebiet ist unbewohnt.
        </p>
        <p>
            Sie können die Position des Fensters durch Drag&Drop ändern
        </p>
    </div>
</div>