<!DOCTYPE html>
<div id="table-searchForm" class="form-group" role="search">
    <div class="input-group has-feedback">
        <input id="searchInput" class="form-control" type="text" name="text" placeholder="<%= placeholder %>" value="<%= searchString %>" autocomplete="off">
        <span class="icon-cross2 form-control-feedback"></span>
        <div class="input-group-btn">
            <button class="btn btn-default btn-table-search" type="button" title="Suchen">
                <span class="icon-search"></span>
            </button>
            <ul id="searchInputUL" class="dropdown-menu-search dropdown-menu-right">
            </ul>
        </div>
    </div>
</div>

