<!DOCTYPE html>
<% _.each(typeList, function (type) {
    var hitListOfType = _.where(hitList, {type: type}); %>
    <% if (type !== "Fachthema") {
    hitListOfType = _.sortBy(hitListOfType, "name");
} %>
    <li class="list-group-item type"><span class="badge"><%= hitListOfType.length %></span><%= type %></li><div style="max-height: 220px; overflow-y: auto; overflow-x: hidden; display: none;">
        <% _.each(hitListOfType, function (hit) { %>
            <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= hit.metaName %>">
                <p id="searchInputLi">
                    <% if (hit.glyphicon !== undefined) { %>
                        <span class="glyphicon <%= hit.glyphicon %>"></span>
                    <% } else { %>
                        <img src="<%= hit.imageSrc %>">
                    <% } %>
                    <span class="list-group-item-name"><%= _.isUndefined(hit.shortName)? hit.name : hit.shortName %></span>
                    <small class="list-group-item-theme"><%= _.isUndefined(hit.additionalInfo)? hit.type: hit.additionalInfo %></small>
                </p>
            </li>
        <% }); %>
    </div>
    <% if (!_.isUndefined(uiStyle) && uiStyle === "TABLE") { %>
        <div id="search-funnel"></div>
        <div id="search-right-funnel-corner"></div>
    <% } %>
<% }); %>
