<!DOCTYPE html>
<%  _.each(brwList, function(brw) {
        if (!brw.wnum || brw.wnum === "") { %>
            <div class="fzr_row" id="br_tab">
                <div class="fzr_col fzr_3" id="br_sp1">
                    <label>Nutzung: <%= brw.bezeichnung %>, Jahrgang: <%= brw.jahr%></label>
                    <input id="<%= brw.bezeichnung %>_<%= brw.jahr %>" type="text" placeholder="BRW-Nummer" title="Bitte Bodenrichtwertnummer eingeben." value="<%= brw.wnum %>"/>
                </div>
            </div>
<% }}) %>
