<!DOCTYPE html>
<%  _.each(brwList, function(brw) {
        if (!brw.wnum || brw.wnum === "") { %>
            <div class="fzr_row" id="br_tab">
                <label><strong>Nutzung: </strong><%= brw.bezeichnung %>, <strong>Stichtag: </strong><%= brw.stichtag%></label>
                <div class="fzr_col fzr_6 input-group" id="br_sp1">
                    <input id="<%= brw.bezeichnung %>#<%= brw.stichtag %>" class="form-control" aria-describedby="<%= brw.bezeichnung %>_<%= brw.jahr %>" type="text" placeholder="Bodenrichtwertnummer" title="Bitte Bodenrichtwertnummer zur gesuchten Nutzung, dem gesuchten Stichtag und mit Lagebezug zur gesuchten Örtlichkeit eingeben." value="<%= brw.wnum %>"/>
                    <span class="input-group-addon" title="<%
                    var pre = 'Bitte wählen Sie in der interaktiven Bodenrichtwertkarte (Boris-HH) den passenden ',
                        post = ' aus und geben die Bodenrichtwert-Nummer hier ein.',
                        msg = '';

                    switch (brw.bezeichnung) {
                        case 'EFH':
                            msg = 'EFH-Bodenrichtwert (grünes Dreieck)';
                            break;
                        case 'MFH':
                            msg = 'MFH-Bodenrichtwert (gelbes Quadrat)';
                            break;
                        case 'WGH':
                            msg = 'WGH-Bodenrichtwert (gelber Stern)';
                            break;
                        case 'BH':
                            msg = 'BH-Bodenrichtwert (hellblaues Quadrat)';
                            break;
                        case 'BGH':
                            msg = 'BGH-Bodenrichtwert (roter Stern)';
                            break;
                        case 'GH':
                            msg = 'GH-Bodenrichtwert (violetter Stern)';
                            break;
                        case 'LAD':
                            msg = 'LAD-Bodenrichtwert (violettes Quadrat)';
                            break;
                        case 'PL':
                            msg = 'PL-Bodenrichtwert (dunkelblaues Quadrat)';
                            break;
                        case 'MFH oder WGH (mit MFH-Anteil)':
                            msg = 'MFH-Bodenrichtwert (gelbes Quadrat) oder WGH-Bodenrichtwert (gelber Stern mit Schichtwert für MFH)';
                            break;
                        case 'GH oder WGH, BGH (mit GH-Anteil)':
                            msg = 'GH-Bodenrichtwert (violetter Stern) oder WGH-Bodenrichtwert (gelber Stern) oder BGH-Bodenrichtwert (roter Stern mit Schichtwert für GH)';
                            break;
                        case 'BH oder WGH, BGH (mit BH-Anteil)':
                            msg = 'BH-Bodenrichtwert (hellblaues Quadrat) oder WGH-Bodenrichtwert (gelber Stern) oder BGH-Bodenrichtwert (roter Stern mit Schichtwert für BH)';
                            break;
                        default:
                            msg = 'Bodenrichtwert';
                    }
                    print (pre + msg + post); %>">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
<%  }
   }) %>
