.gfi-footer {
    padding: 0;
    color: rgb(119, 119, 119);
    text-align: center;
    font-size: 22px;
}

.gfi-footer > div {
    background: #f3f3f3;
    padding: 4px;
    cursor: pointer;
    width: 50%;
}

.gfi-footer > .disabled {
    cursor: not-allowed;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
}

.gfi-footer > .pager-left {
    float: left;
    border-right: 1px solid #ddd;
}

.gfi-footer > .pager-right {
    float: right;
}

.popover-trinkwasser {
    white-space: nowrap;
}

.trinkwasserParams {
    white-space: normal;
}

.popover-solaratlas {

    margin: 8px;
}

.popover-solaratlas p {
    font-size: 12px;
}

/*.gfi-table-hover-link > tbody > tr:hover {
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}*/

.gfi-iFrame {
    height: 300px;
    width: 500px;
}
