.gfi-win {
    position: absolute;
    top: 0;
    right: 130px;
    max-width: 25%;
    margin: 60px 10px 30px 10px;
    display: show;
    background-color: rgb(255, 255, 255);
}
.table-fixed {
    table-layout: fixed;
    word-wrap: break-word;
}

.gfi-win > .gfi-header {
    color: #777;
    cursor: move;
    min-width:400px;
}
.gfi-win > .gfi-content {
    width: 100%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}
.no-margin {
    margin: 0;
}

.popover {
    padding: 0px;
    max-width:600px;
}

.popover-content {
    padding: 0;
}

.gfi-header {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    height: 34px;
    font-size: 16px;
}

.gfi-icon {
    float: left;
    padding: 8px;
}

.gfi-icon-mobile {
    float: left;
    padding: 8px;
    font-size: 30px!important;
}

.gfi-title {
    float: left;
    padding: 6px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: help;
    max-width: 260px;
}

.gfi-toggle {
    float: right;
    padding: 10px 6px 0 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.gfi-close {
    float: right;
    padding: 8px 4px;
    cursor: pointer;
}

.gfi-content {
    font-size: 12px;
    max-height: 40vh;
    min-width:400px;
    overflow-y: auto;
    /*overflow-x:hidden;*/
}

.gfi-content > table {
    margin-bottom: 4px;
}

.gfi-footer {
    padding: 0;
    color: rgb(119, 119, 119);
    text-align: center;
    font-size: 22px;
}

.gfi-footer > div {
    background: #f3f3f3;
    padding: 6px;
    cursor: pointer;
    width: 50%;
}

.gfi-footer > .disabled {
    cursor: not-allowed;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
}

.gfi-footer > .pager-left {
    float: left;
    border-right: 1px solid #ddd;
}

.gfi-footer > .pager-right {
    float: right;
}

.popover-trinkwasser {
        white-space: nowrap;
}

.trinkwasserParams {
    white-space: normal;
}

.popover-solaratlas {
    margin: 8px;
}

.popover-solaratlas p {
    font-size: 12px;
}

/* minimiertes Info-Fenster*/
.popover-min {
    position: fixed;
    box-shadow: 2px 2px 2px 0px #666666;
    color: #fff;
    background-color: #d42132;
    cursor: pointer;
    left: 80px;
    top: 50px;
    display: none;
}

/****** GFI-Modal für mobile Geräte ******/
.gfi-mobile-header {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #777;
    padding: 10px;
    border-bottom: 0;
}

.gfi-mobile-content {
    font-size: 12px;
    padding: 0;
}

.gfi-mobile-content > table > tbody > tr > td {
    padding: 5px 10px;
}

.gfi-mobile-close {
    font-size: 16px;
    float: right;
    padding: 5px;
    cursor: pointer;
}

.gfi-table-hover-link > tbody > tr:hover {
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

.gfi-iFrame {
    height: 300px;
    width: 500px;
}
