<div class="gfi-header">
    <span class="glyphicon glyphicon-info-sign gfi-icon"></span>
    <span class="gfi-title"></span>
    <span class="glyphicon glyphicon-remove gfi-close" title="Schließen"></span>
    <span class="glyphicon glyphicon-minus gfi-toggle" title="Minimieren"></span>
</div>

<div class="gfi-content">

</div>

<% if(gfiContent.length > 1) { %>
<div class="modal-footer gfi-footer">
      <div class="pager-left <% if(gfiCounter-gfiContent.length === 0) {print (' disabled') }%>">
          <span class="glyphicon glyphicon-chevron-left <% if(gfiCounter-gfiContent.length === 0) {print (' vorzurueckdisabled ') }%>"></span>
      </div>
      <div class="pager-right <% if(gfiContent.length-gfiCounter === gfiContent.length - 1) {print (' disabled') }%>">
          <span class="glyphicon glyphicon-chevron-right <% if(gfiContent.length-gfiCounter === gfiContent.length - 1) {print (' vorzurueckdisabled ') }%>"></span>
      </div>
</div>
<% } %>
