<!DOCTYPE html>
<div class="header">
    <p class="pull-right">
        <span class="glyphicon glyphicon-remove" title="Schließen"></span>
    </p>
    <p>
        <span>Informationen und Legende</span>
    </p>
</div>

<div class="content">
    <h4 class="subtitle" title="<%= title %>"><%= title %></h4>
    <div><%= abstractText %></div>
    <% if (metaURL !== null) { %>
    <% metaURL.forEach(function (url) { %>
        <br>
        <% if (abstractText !== noMetaDataMessage) { %>
            <p class="pull-right"><a href="<%= url %>" target="_blank">weitere Metadaten</a></p>
        <% } %>
    <% }); %>
    <% } %>
    <% if (typeof datePublication !== "undefined" && datePublication !== null) { %>
        <p>Publikation / Erstellung: <%= datePublication %></p>
    <% } %>
    <% if (typeof dateRevision !== "undefined" && dateRevision !== null) { %>
        <p>Letzte Änderung: <%= dateRevision %></p>
    <% } %>
    <% if (typeof periodicity !== "undefined" && periodicity !== null) { %>
        <p>Periodizität: <%= periodicity %></p>
    <% } %>
        <hr>
        <ul class="nav nav-tabs">
            <li value="layerinfo-legend" class="tab-toggle active"><a data-toggle="tab" href="#layerinfo-legend">Legende</a></li>
            <% if (downloadLinks !== null) { %>
            <li value="LayerInfoDataDownload" class="tab-toggle"><a data-toggle="tab" href="#LayerInfoDataDownload">Datensatz herunterladen</a></li>
            <% } %>
            <% if (url !== null && urlIsVisible !== false) { %>
            <li value="url" class="tab-toggle"><a data-toggle="tab" href="#url"><%= typ %>-Adresse</a></li>
            <% } %>
        </ul>
        <br>
        <div class="tab-content">
            <div id="layerinfo-legend" class="tab-pane fade in active"></div>
            <div id="LayerInfoDataDownload" class="tab-pane fade">
                <ul class="list-unstyled">
                    <% if (downloadLinks !== null) { %>
                        <% downloadLinks.forEach(function (downloadLink) { %>
                            <li><a href="<%= downloadLink.link %>" target="_blank"><%= downloadLink.linkName %> </a><li>
                        <% }); %>
                    <% } %>
                </ul>
            </div>
            <div id="url" class="tab-pane fade">
                <ul class="list-unstyled">
                <li><a href="<%= url %>?SERVICE=<%= typ %>&REQUEST=GetCapabilities" target="_blank"><%= url %> </a><li>
                </ul>
            </div>
        </div>
</div>
