<!DOCTYPE html>
<div class="layerinformation-win-header">
    <span class="glyphicon glyphicon-book win-icon"></span>
    <span class="win-title">Informationen und Legende</span>
    <span class="glyphicon glyphicon-remove win-close"></span>
</div>

<div class="layerinformation-win-content">
    <h4><%= name %></h4>
    <% if (typeof metaID !== "undefined") { %>
        <p class="abstract"><%= abstractText %></p>
        <br>
        <p class="metaLink"><a href="<%= metaURL %>" target="_blank">weitere Metadaten</a></p>
        <p>Stand der Daten: <%= date %></p>
    <% } %>
    <% if (legendURL !== "ignore" && legendURL !== "" && typeof metaID !== "undefined") { %> <hr> <% } %>
    <% if (legendURL !== "ignore" && legendURL !== "") { %>
        <h4>Legende</h4>
        <p>
            <% if (typeof legendURL === "string") {
                if (legendURL.search(".pdf") !== -1) { %>
                    <a href=<%= legendURL %> target="_blank">weitere Informationen</a>
                <% }
                else { %>
                    <p>
                        <img src=<%= legendURL %>>
                    </p>
                <% }
            }
            else { %>
                <% if (legendURL.length > 1) {
                    _.each(legendURL, function (legend) { %>
                        <p>
                            <img src=<%= legend %>>
                        </p>
                <%    });
                }
                else { %>
                    <p>
                        <img src=<%= legendURL[0] %>>
                    </p>
                <% }
            } %>
        </p>
    <% } %>
</div>
