<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content layerinformation-modal">
        <div class="modal-header">
            <p class="buttons pull-right">
                <span class="glyphicon glyphicon-remove" title="Schließen"></span>
            </p>
            <p class="title">
                <span>Informationen und Legende</span>
            </p>
        </div>
        <div class="modal-body">
            <h4 class="subtitle"><%= title %></h4>
            <% if (typeof metaID !== "undefined") { %>
                <p class="abstract"><%= abstractText %></p>
                <br>
                <p class="metalink"><a href="<%= metaURL %>" target="_blank">weitere Metadaten</a></p>
                <p>Stand der Daten: <%= date %></p>
            <% } %>
            <% if (_.isObject(legendURL[0]) === true && typeof metaID !== "undefined") { %>
                <hr>
                <h4 class="subtitle">Legende</h4>
                <p>
                <% if (typeof legendURL === "string") { %>
                    <% if (legendURL.search(".pdf") !== -1) { %>
                        <a href=<%= legendURL %> target="_blank">weitere Informationen</a>
                    <% } else { %>
                        <p>
                            <img src=<%= legendURL %> >
                        </p>
                    <% } %>
                <% } else { %>
                    <% if (legendURL.length > 1) { %>
                        <% _.each(legendURL, function (legend) { %>
                            <p>
                                <img src=<%= legend %>>
                            </p>
                        <% }); %>
                    <% } else { %>
                        <p>
                            <img src=<%= legendURL[0] %>>
                        </p>
                    <% } %>
                <% } %>
            <% } %>
            </p>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
