.gfi-mobile {
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.gfi-mobile .modal-header {
    padding: 0;
    border-bottom: 0;
}

.gfi-mobile .modal-title {
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gfi-mobile .glyphicon-remove {
    font-size: 16px;
    float: right;
    padding: 12px;
}

.gfi-mobile .modal-body {
    padding: 0;
    overflow-y: auto;
}

.gfi-mobile table {
    margin: 0;
}
