<div class="gfi-header">
    <span class="glyphicon glyphicon-info-sign gfi-icon"></span>
    <span class="gfi-title" title="<%= gfiTitles[gfiContent.length-gfiCounter] %>"><%= gfiTitles[gfiContent.length-gfiCounter] %></span>
    <span class="glyphicon glyphicon-remove gfi-close"></span>
    <span class="glyphicon glyphicon-minus gfi-toggle"></span>
</div>

<div class="gfi-content">
    <table class="table table-condensed table-hover">
    <% if(gfiContent[gfiContent.length-gfiCounter] !== undefined) {
        _.each(gfiContent[gfiContent.length-gfiCounter], function(value, key) {
             %>
    <tr>
        <% if(key === 'video'){%>
            <td colspan="2" >
               <video id="<%=uniqueId%>" class="video-js vjs-default-skin" width="300" height="300" style="margin-left:auto; margin-right:auto;">
                   <source src="<%=value%>"/>
               </video>
            </td>
        <% } else if(key === 'Bild'){ %>
            <td colspan="2" >
               <% print (value.el.innerHTML); %>
            </td>
        <% } else if(_.isObject(value) === false && value.match(/Min/i) && value.match(/km/i)) { %>
            <td>
                <strong><%= key + ':'%></strong>
            </td>
            <td>
                <button id='RouteZeigenButton' title='Schnellste Route zeigen' value='<%= key %>' style='min-width: 130px; width:100%' type='button' class='btn btn-info btn-sm'>
                    <span style='float:left;' class='' aria-hidden='true'><%= value %></span>
                    <span style='float:right; top:3px;' class='glyphicon glyphicon-road' aria-hidden='true'></span>
                </button>
            </td>
        <% } else if(_.isObject(value) === false) { %>
            <td>
                <strong><%= key + ''%></strong>
            </td>
            <td>
                <% if (value.search('.html') !== -1 || value.substr(0, 7) == 'http://') { %>
                    <a href="<%= value%>" target="_blank">Link</a>
                <% } else if (value.substr(0, 4) == '040 ' || value.substr(0, 4) == '040-' || value.substr(0, 3) == '+49' || value.substr(0, 5) == '0800 ' || value.substr(0, 5) == '0800-') { %>
                    <a href="tel:<%= value.replace(' ', '').replace('-', '')%>"><%= value%></a>
                <% } else { %>
                    <%= value %>
                <% } %>
            </td>
        <% } %>
    </tr>
    <% })}; %>
    </table>
    <% if (gfiRoutables && gfiRoutables[gfiContent.length-gfiCounter] === true) { %>
        <div class="dropdown" style="width=100%;">
            <button id="setRoutingDestination" style="width: 100%;" type="button" class="btn btn-default" title="Diesen Ort als Routingziel übernehmen.">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <span class="" aria-hidden="true">als Ziel übernehmen</span>
            </button>
        </div>
    <% } %>
</div>
<% if(gfiContent.length > 1) { %>
<div class="modal-footer gfi-footer">
      <div class="pager-left <% if(gfiCounter-gfiContent.length === 0) {print (' disabled') }%>">
          <span class="glyphicon glyphicon-chevron-left <% if(gfiCounter-gfiContent.length === 0) {print (' vorzurueckdisabled ') }%>"></span>
      </div>
      <div class="pager-right <% if(gfiContent.length-gfiCounter === gfiContent.length - 1) {print (' disabled') }%>">
          <span class="glyphicon glyphicon-chevron-right <% if(gfiContent.length-gfiCounter === gfiContent.length - 1) {print (' vorzurueckdisabled ') }%>"></span>
      </div>
</div>
<% } %>
