<!DOCTYPE html>
<div class="panel panel-default">
    <div class="panel-body">
        <blockquote>
            <p>Anhand der eingegebenen Daten wurde eine Vorprozessierung vorgenommen, um die Validität der Eingabedaten zu verifizieren. Gleichzeitig wurde Ihr Produkt in einem geschützten Bereich zur Abholung bereitgelegt. Bitte nehmen Sie ggf. folgende Hinweise zur Kenntnis und bestätigen mit "Weiter", um das Produkt zu beziehen.</p>
        </blockquote>
        <div id="hints_p" class="text-center"></div>
        <div id="result" class="text-center">
            <p id="result_p" class="lead"></p></br>
        </div>
    </div>
    <% if (includePayment === true) { %>
    <p class="lead text-info text-right">Die Gebühr beträgt <%= priceInfo %>.</p>
    <% } %>

    <div style="float:left; margin-top:20px">
        <button id="seite4_back" type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
        </button>
    </div>
    <div style="float:right; margin-top:20px">
        <button id="seite4_weiter" type="button" class="btn btn-primary" disabled>
            <span class="glyphicon <% includePayment === false ? print ('glyphicon-arrow-right') : print ('glyphicon-euro'); %>" aria-hidden="true"></span> <% includePayment === false ? print ("Weiter") : print ("Gebührenpflichtig bestellen"); %>
        </button>
    </div>
</div>
