.tree-mobile span.title {
    padding-left: 6px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
    vertical-align: text-bottom;
}

.tree-mobile span.glyphicon {
    font-size: 18px;
}

.list-group-item > .selected-layer-item > div {
    padding: 0 2em;
}

.selected-layer-item span.title {
    vertical-align: baseline;
}
